.aclassf {padding:10px;  border:solid 1px #eeeeee;}
/* 
.aclassf table, td, tr {
	border: none;
}
*/
/* XB */
/*
a:link, a:visited {
	color: #0000ff; 
	text-decoration: none;
	font-weight: normal;
	font-size: 19px;
}
*/

A:hover, .fnt4:hover{COLOR: #ff0000; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: underline}

/* XB */
/* FONT{
	FONT-FAMILY: ARIAL, HELVETICA, san-serif ; 
	font-size: 14px;
}  */

/* table {
	float: left; !important
} */ /* NEVER activate */
TD{
	FONT-FAMILY: ARIAL, HELVETICA, san-serif ; 
	font-size: 16px; 
	text-align: left;
}
.stfnt{FONT-SIZE: 12px; }
.lrfnt{FONT-SIZE: 14px; color: #000077;}
.stfntb{FONT-SIZE: 12px; color: #000077;}
.stfntr{FONT-SIZE: 12px; color: #770000;}
.smallfnt{FONT-SIZE: 11px;}
.smallb{FONT-SIZE: 11px; color: #000077;}
.smallr{FONT-SIZE: 11px; color: #770000;}
.smallg{FONT-SIZE: 11px; color: #007700;}
.boldtxt{FONT-WEIGHT: bold;}

/* XB */
p.pst1.header {
	margin-top: 12px; 
	margin-bottom: 8px;	
	
    color: #0060F1;
    float: none;
    font-family: 'Pacifico',cursive;
    font-size: 32px;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    position: relative;
    
    text-shadow: 1px 0 0 yellow;
    
    padding-top:20px;
	padding-bottom:10px;
	
	text-align:center;
	
	width:98%;
	
} 
 
.msgf1{FONT-WEIGHT: bold; color: #000099; FONT-SIZE: 16px;}
.msgf2{FONT-WEIGHT: bold; color: #990000; FONT-SIZE: 16px;}

.fnt1 {font-size: 12px;	font-weight: bold;}
.fnt2 {font-size: 12px; font-weight: bold;}
/* XB */
.fnt4 {
	/* 
	font-size: 13px; 
	font-weight: bold; 
	color: #555599; 
	*/
	
    color: #0060F1;
    float: left;
    /* font-family: 'Pacifico',cursive; */
    font-size: 32px;
    letter-spacing: 0;
    margin: 0px;
	
    padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7px;
	padding-top: 7px;
	
    position: relative;
    text-align: left;
    text-shadow: 1px 0 0 yellow;    
    

}
.fnt5 {font-size: 14px; font-weight: bold; color: #555599; TEXT-DECORATION: none;}
.fnt6 {font-size: 11px; color: #555599; TEXT-DECORATION: none;}
.fnt7 {font-size: 12px; color: #555599; TEXT-DECORATION: none;}
.fnt8 {font-size: 11px;  color: #bb0000; TEXT-DECORATION: none;}
.fnt9 {font-size: 12px;  color: #000077;}
.fnt9h {font-size: 12px;  color: #770000;}
.fnt10 {font-size: 14px;  color: #000099;  font-weight: bold;}
.fnt11 {font-size: 11px;  color: #000077;}
.fnt12 { font-size: 15px; font-weight: bold; color: #000099;} 

.fsct1 {font-size: 12px;  color: #444444;}
/* XB */
.fsct2 {
	font-size: 19px; 
	color: #444444; 
}
.ad_title{font-size: 13px; font-weight: bold; color: #555599;}

.fldnm {font-size: 12px;  color: #555555;}
.fldvl {font-size: 12px;  color: #000077;}

table.tb3 td{border: 0px; margin: 2px; padding: 5px; text-align: left; }
.tb4 {BORDER-RIGHT: #9999dd 1px solid; BORDER-TOP: #9999dd 1px solid;    
BORDER-LEFT: #9999dd 1px solid;   BORDER-BOTTOM: #9999dd 1px solid;}
.tb5 {BORDER-BOTTOM: #7777ff 1px dotted;}

.tb6 {margin:10px;}
table.tbmsg  
.td7{text-align: center;} 

table.tb10 td{border: 0px; margin: 1px; padding: 3px;  background:#eeeeee;}
 

table.dtf1 td{border: 0px; margin: 1px; padding: 2px; }

/* XB */
.adscpt{
	/* 
	background: #eeeeee; 
	FONT-SIZE: 11px; 
	color: #770000;
	text-align: center;
	*/
	
	color: #0060F1;
    
    font-size: 22px;
	text-align: center;
    
	
}
/* XB */
.adslst1{
	background: #ffffff; 
	FONT-SIZE: 16px; 
	color: #000077; 
	text-align: center; 
}
.adslst2{background: #eeeeee; FONT-SIZE: 12px; color: #000077; text-align: center;}
a.ad_title2:link, a.ad_title2:visited{TEXT-DECORATION: underline;  FONT-SIZE: 13px; color: #000077; font-weight: bold; text-align: left;}
.adshlt1{background: #ffffee; FONT-SIZE: 12px; color: #550000; text-align: center;}
.adshlt2{background: #ffffdd; FONT-SIZE: 12px; color: #550000; text-align: center;}

.top_city { font-size: 14px; font-weight: bold; color: #555599;}
.top_allcities {font-size: 11px; color: #555599;}
.ct_group {BORDER-BOTTOM: #7777ff 2px solid; }
/* XB */
.ttl_grp{
	font-size: 17px;
	color: #555599;
	font-weight: bold;
} 
.ct_list{font-size: 12px;  line-height: 1.5; }
.ct_count{FONT-SIZE: 11px;}

.locations{FONT-SIZE: 11px; line-height: 1.5;}

.formst
{margin-TOP: 2px;  
BORDER-RIGHT: #5555dd 0.1em solid; BORDER-TOP: #5555dd 0.1em solid;   BACKGROUND: #eeeeff; 
BORDER-LEFT: #5555dd 0.1em solid; COLOR: #000066; BORDER-BOTTOM: #5555dd 0.1em solid;
font-family:Verdana,Geneva,Arial; font-size: 13px;  
}

.srchtb 
{margin-TOP: 2px;  
BORDER-RIGHT: #8888ee 0.1em solid; BORDER-TOP: #8888ee 0.1em solid;   BACKGROUND: #eeeeee; 
BORDER-LEFT: #8888ee 0.1em solid; COLOR: #000077; BORDER-BOTTOM: #8888ee 0.1em solid;
font-family:Verdana,Geneva,Arial; font-size: 10px; 
}

.fntsrch {FONT-SIZE: 12px; color: #333377;  }
.frmsrch
{margin-TOP: 2px;  
BORDER-RIGHT: #5555dd 0.1em solid; BORDER-TOP: #5555dd 0.1em solid;   BACKGROUND: #eeeeff; 
BORDER-LEFT: #5555dd 0.1em solid; COLOR: #000066; BORDER-BOTTOM: #5555dd 0.1em solid;
font-family:Verdana,Geneva,Arial; font-size: 11px; FONT-WEIGHT: bold;
}

.kwfsrch 
{BORDER: #5555dd 1px solid; BACKGROUND: #eeeeff; COLOR: #333377;  
font-family:Verdana,Geneva,Arial; font-size: 13px;  padding: 3px; margin: 1px;  
}
.kwmsgf1{color: #333399; FONT-SIZE: 14px;}


.frmft1 { color: #000099; FONT-SIZE: 13px;}
.frmft2 {color: #777777; FONT-SIZE: 11px;}
.frmtb1 {background: #ddddff;}
.frmtb2 {background: #ffffff; text-align: left;}
.frmtb2a {background: #ffffff; text-align: right;}
.frmtb3 {background: #ffffff; BORDER-BOTTOM: #9999dd 1px solid; line-height: 2;}
.frmcp {FONT-WEIGHT: bold; color: #000077; FONT-SIZE: 13px;}

/* XB */
.df2{
	font-size: 14px; 
	font-weight: bold;
}
.df1{
	FONT-WEIGHT: bold; 
	color: #000099; 
	FONT-SIZE: 16px;
}
/* XB */
.df3{
	font-size: 15px; 
	color: #444444;
}
/* XB */
.df4{
	font-size: 15px; 
	color: #333377;
}
/* XB */
.df5{
	font-size: 14px;  
	color: #333377;
}
.dtb1 {background: #eeeeee;  padding:5px;}
.dtb2 {BORDER-RIGHT: #ddddee 1px solid; BORDER-TOP: #ddddee 1px solid;    
BORDER-LEFT: #ddddee 1px solid;   BORDER-BOTTOM: #ddddee 1px solid;}