<?php 
/**
*  This file is part of Almond Classifieds (Standard Edition) Component for Joomla! (http://www.almondsoft.com)
*  Copyright (C) 2008-2012 Almondsoft.Com. All rights reserved.
*  http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL  
*/
global $waflnscr, $ht_header, $ht_footer, $ht_leftcol, $titleclpg, $indx_url, $rndadsmin; 

if (method_exists('JFactory', 'getDocument')) {
$document=& JFactory::getDocument(); $document->setTitle($categories[$ct][0]);
if ($_REQUEST['gmct']!="") { $document->setTitle($gmct_name); }
} else {global $mainframe; $mainframe->setPageTitle($categories[$ct][0]);
global $_REQUEST, $gmct_name; if ($_REQUEST['gmct']!="") { $mainframe->setPageTitle($gmct_name); }
}

?>

<link href="<?php global $style_css_url; echo $style_css_url; ?>" rel="stylesheet" type="text/css">
<?php jqueryld(); ?>

<?php echo $ht_header; ?> 
 
<?php if ($use_gl_map=='yes') {echo getmapjsp();} ?>

<?php echo $javastl, print_layerjavas(); ?>

<table width="100%" border="0" cellpadding="5" cellspacing="0" style='margin: 3px; padding: 2px;'>
<tr><td valign="top"  >
 
<table width="100%" border="0" class='tb10'>
<tr><td colspan=2  >
<font class='fnt4'>
<?php echo "<a href='".sturl_top()."'>"; ?><b>Top:</b></a>&nbsp;</font>   
<font class='fnt5'> <?php echo $text_userinfo; ?> <?php global $gmct_name; echo $gmct_name; ?>
<?php echo category_name(); ?>  
</font> <font class="stfnt">
<?php echo subcat_options(); ?>
</font> 


<?php if ($schresinfo){ ?>
 &nbsp;&nbsp;<br>
<font class="stfntb"><b>
<?php echo $schresinfo; ?>
</b></font>

<?php } ?>
</td></tr>
</table>
 
<?php include("t_menu.html"); ?>

<?php  echo  kw_searchf(); ?>
<?php  echo  prn_subcategories(); ?>

<font class="smallb">
<?php echo pages_next_prev(); ?>
</font> 

<br>
<font class="stfntb"  style="line-height: 3.5;"> 
<?php 
include("ads_ind.php"); 
global $keywords_search_info, $kw_no_ads; if(!$kw_no_ads){
echo "<b> $ads_count ".$msg['ads_match_your_query']."</b>  $keywords_search_info";} ?>
 </font>

 

<?php echo msg_favorites(); ?> 
&nbsp;

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td>
<table width='100%'  border=0 cellspacing=1 cellpadding=1>

<?php 
$hltnmbv="0"; echo get_ads_captions(); 
$ads_rows=get_ads();   while ($row = mysql_fetch_array($ads_rows)) { echo print_ads_ind($row);} 
?> 
 
 
</table>
</td></tr>
</table>

<p class='pst1'>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td colspan=2 bgcolor="#eeeeee">
<font class="smallfnt">&nbsp;
<?php echo ads_pages_list(); ?>
</font>
</td></tr></table>
</td></tr>
</table>
<br>

<?php echo $ht_footer; ?>

