<?php 
/**
*  This file is part of Almond Classifieds (Standard Edition) Component for Joomla! (http://www.almondsoft.com)
*  Copyright (C) 2008-2012 Almondsoft.Com. All rights reserved.
*  http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL  
*/
global $javastl; echo $javastl;   ?>
<table width="100%" cellpadding="0" cellspacing="0" class="tb6">
<tr><td valign='top'>
<?php if($ct!=""){$postadq="ct=$ct&md=add_form";}else{$postadq="md=chct";}?>
<?php echo "<a href='{$indx_url}$postadq'><font class='fnt4'>"; ?>
Post New Ad</font></a>

<?php if($_REQUEST['md']=="" and $_REQUEST['ct']==""){ ?>
&nbsp; &nbsp;
<font   class='fnt4' style='cursor: pointer;' OnClick="displ('chcity');">
Choose City
</font>
<?php }else { 
echo "&nbsp; &nbsp;<a href='{$indx_url}md=chcity'>"; ?><font class='fnt4'>Choose City</font></a>
<?php } ?>
<?php global $kwsrchfrm; if($_REQUEST['idemail']=="" and $kwsrchfrm!="yes"){ ?>
&nbsp; &nbsp;
<font   class='fnt4' style='cursor: pointer;' OnClick="displ('srch');">
Search Ads
</font>
<?php } ?>
&nbsp; &nbsp;
<a href='<?php echo $indx_url; ?>md=browse&mfvrt=1'><font class='fnt4'>Favorites</font></a>

&nbsp; &nbsp;
<?php global $lgneditd; if($lgneditd!="yes"){ echo "<a href='{$indx_url}ct=$ct&md=editlogin' >";    ?>
<font class='fnt4'>Edit Ad</font></a>
<?php  } ?>
 
<?php global $_REQUEST, $urlclscrpt, $jpath_url; $link=$urlclscrpt."{$jpath_url}rss.php?";
if ($_REQUEST['ct']!=""){$link=$link."ct=".$_REQUEST['ct']."&";}
if ($_REQUEST['city']!=""){$link=$link."city=".$_REQUEST['city']."&";}
if ($_REQUEST['gmct']!=""){$link=$link."gmct=".$_REQUEST['gmct']."&";}
 ?>
&nbsp; &nbsp;
<?php global $use_rss_feed; if($use_rss_feed=="yes"){ echo "<a href='$link'  class='fnt4'><font class='fnt4'>RSS</font></a>";} ?>
 

<?php   global $mbac_addad; $gusrnm1=gt_usrname(); if($mbac_addad=="m" and  $gusrnm1!=""){ 
echo "&nbsp; &nbsp;<a href='{$indx_url}option=com_aclsfstd&md=browse&mblogin=$gusrnm1'><font class='fnt4'>My Ads</font></a>";
 } ?>

</td></tr></table>

<DIV id='chcity' style='DISPLAY: none'>
<table width="100%" cellpadding="2" cellspacing="5" class="tb3">
<tr><td valign='top'>
<p align='justify'> 
<?php if($slctcntr!='yes'){ ?>
<font class="fnt2">Choose City:</font><br>
<?php }?>
<font class="locations" >
<?php js_locations(); ?>
</font>
</td></tr></table>
</div>

<?php if($check_subcateg and $kwsrchfrm!="yes"){ ?> 
<table width='100%'><tr><td valign='top' width='110'> 
&nbsp; <font class='stfnt' style='line-height: 1.5;'>Subcategories:</font><br>
</td><td valign='top'>
<span style='line-height: 1.5;'> 
<?php echo print_subcat($ct); ?>
</span> </td></tr></table>
 
<?php } ?>  
 
