<?php 
/**
*  This file is part of Almond Classifieds (Standard Edition) Component for Joomla! (http://www.almondsoft.com)
*  Copyright (C) 2008-2012 Almondsoft.Com. All rights reserved.
*  http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL  
*/
global $waflnscr, $ht_header, $ht_footer, $ht_leftcol, $titleclpg, $indx_url; ?>
<link href="<?php global $style_css_url; echo $style_css_url; ?>" rel="stylesheet" type="text/css">
<?php jqueryld(); ?>
<?php echo $ht_header; ?> 

<table width="100%" border="0" cellpadding="15" cellspacing="0" class="tb1">
<tr> 
<td valign="top" >

<?php echo $thtml_top; ?>

<?php if (($ppactv=="yes") and  ($moderating=='yes') and  ($md!='edit')){include("pp_subm.php");}  ?>

<?php echo $thtml; ?>

</td>
</tr>
</table>

<?php echo $ht_footer; ?>
