<?php 
/**
*  This file is part of Almond Classifieds (Standard Edition) Component for Joomla! (http://www.almondsoft.com)
*  Copyright (C) 2008-2012 Almondsoft.Com. All rights reserved.
*  http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL  
*/
global $waflnscr, $ht_header, $ht_footer, $ht_leftcol, $titleclpg, $indx_url, $rndadstmdl, $rndadsmin; ?>
<link href="<?php global $style_css_url; echo $style_css_url; ?>" rel="stylesheet" type="text/css">
<?php jqueryld(); js_top(); ?>
<?php echo $ht_header; ?> 

<table width="100%" border="0" cellpadding="5" cellspacing="0" style='margin: 3px; padding: 2px;'>
<tr><td valign="top"  >
<?php include("t_menu.html"); ?>
<p class='pst1'>
<table width="100%" cellpadding="0" cellspacing="0"  border=0 class='tb10'>
<tr><td valign='top'>
<font class="fnt1">Categories:</font> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<?php echo get_total_count()." ".$msg['ads_t']  ?>

</td></tr></table>
 
<?php echo $cityhtml; ?>

<?php  echo kw_searchf(); ?>
 
<table width="100%" cellpadding="3" cellspacing="3"   class="ct_list"  >
<tr><td width='33%' valign='top'  align=left>
<?php foreach ($categories as $name => $value) { echo $categ[$name]; } ?>
</td></tr></table>
 
</td>
</tr>
</table>

<?php echo   print_layerjavas(); ?>
<?php print_top_ads(); ?>
 
<?php echo $ht_footer; ?>

