/*=========================================*/
/*=========Green Color Scheme Style========*/
/*=========================================*/
a {
	text-decoration:none;
	color:#af6e07;
}
a:hover {
	color:#6a4203;
}
/*=========================================*/
/*==========Start Home Page Style==========*/
/*=========================================*/

/*==========Menus Colors==========*/
#menu .ddsmoothmenu li li a.selected, #menu .ddsmoothmenu li li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #FFFFFF;
	background:#af6e07;
}
#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover,#menu li.current_page_item a  {
	color:#fff;
	background: url(../images/menu-bg.png) top repeat-x #6a4203;
}
#menu .ddsmoothmenu li li {
	background: #6a4203;
}
/*==========Slider Colors==========*/
.slide .slide-content.entry {
	background:url(../images/brown.png);
	border-right:8px solid #795e31;
}
#slides .pagination li a {
	background-image:url(../images/pagination-brown.png);
}
.slide .slide-content.entry h2 a {
	color:#000;
}
.slide-content p {
	color: #000;
}
/*==========Blockquote Colors==========*/
blockquote {
	background:url(../images/qoute-brown.png) no-repeat;
}
blockquote a {
	color:#af6e07;
}
/*==========Footer Colors==========*/
.footer-container {
	background: #af6e07;
}
.footer-container h4 {
	background: url(../images/h4-border-bg-brown.png) repeat-x;
	background-position:0% 100%;
	color:#f6c982;
}
.footer-container p {
	color:#FFFFFF;
}
.footer-container .textwidget {
	color: #b7bfaf;
}
.footer-container ul {
	list-style-image:url(../images/disc-img-brown.png);
}
.footer-container a {
	color:#f2c47c;
}
.footer-navi .navigation ul li {
	background:url(../images/border-right-brown.png) no-repeat;
	background-position:100% 0%;
}
.footer-navi .navigation ul li a {
	color:#FFFFFF;
}
.footer-navi .navigation .right-navi p {
	color:#FFFFFF;
}
.footer-navi {
	background:#6a4203;
}
.footer #searchform label {
	color: #f2c47c;
.footer #searchform {
 background:url(../images/search-bg-brown.png) no-repeat;
}

/*=========================================*/
/*==========Start Home Page Style==========*/
/*=========================================*/
.folio-page-info ul.paging li.first a {
	color:#FFFFFF;
}
.folio-page-info ul.paging li:hover {
}
ul.paging a.active, ul.paging a:hover, ul.paging a.current {
	color:#ffffff !important;
	border:1px solid #546F9E;
	background:url(images/grad_px.gif) top repeat-x #AF6E07;
}
