@charset "utf-8";

/**
* @version $Id: kunena.default.css 4561 2011-03-06 08:24:24Z mahagr $
* Kunena Component
* @package Kunena
*
* @Copyright (C) 2008 - 2011 Kunena Team. All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
* @link http://www.kunena.org
*
* Based on FireBoard Component
* @Copyright (C) 2006 - 2007 Best Of Joomla All rights reserved.
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
* @link http://www.bestofjoomla.com
* 
**/ 

/* ------------------------- COLOR PALETTE FOR BLUE EAGLE

Dark blue color: 			#5388B4			RGB: 83/136/180
Medium blue color: 			#609FBF			RGB: 96/159/191
Light grey color:			#F2F1EE 		RGB: 242/241/238
Medium grey color:			#999999 		RGB: 153/153/153
Dark grey color:			#737373 		RGB: 115/115/115
Border grey color:			#BFC3C6 		RGB: 191/195/198
Yellow highlight:			#FFFFCC 		RGB: 255/255/204
Grey text color:			#999999 		RGB: 153/153/153
Red hover color:			#FF0000 		RGB: 255/0/0

Forum highlight/dark colors
Green forum highlight:		#d2f8db 		RGB: 210/248/219
Green forum dark:			#bfe5c7 		RGB: 191/229/199
Orange forum highlight:		#ffeb8c 		RGB: 255/235/140
Orange forum dark:			#ffd475 		RGB: 255/212/117
Blue forum highlight:		#c3f0ff 		RGB: 195/240/255
Blue forum dark:			#b1e3ff 		RGB: 177/227/255
Grey forum highlight:		#e5e5e5 		RGB: 229/229/229
Grey forum dark:			#d5d5d5 		RGB: 213/213/213
Pink forum highlight:		#ffddff 		RGB: 255/221/255
Pink forum dark:			#ffd0ff 		RGB: 255/208/255

----------------------------------------------------------*/

/* 
----------------------------------------------------------------------------------------------- */

/* MAIN STYLES
----------------------------------------------------------------------------------------------- */
#Kunena td,
#Kunena table,
#Kunena th,
#Kunena div,
#Kunena p,
#Kunena span {
	font-family: Arial, Helvetica, sans-serif;
}
#Kunena ul li {
	background: none;
}
#Kunena .divider {color:#999999;}

#Kunena a:link,
#Kunena a:visited,
#Kunena a:active,
#Kunena a:focus { color: #5388B4 !important; background-color:transparent !important;}

#Kunena a:hover { color: #FF0000 !important; background-color:transparent !important; }

#Kunena .knewchar {
	color: #009900;
	font-family: Arial, Helvetica, sans-serif;
}

/* Block styling
----------------------------------------------------------------------------------------------- */

#Kunena div.kblock {
	border-bottom-color:#BFC3C6;
	background-color: #FFFFFF;
}
#Kunena .kblock div.kheader {
	border-bottom-color:#D9D9D9;
	color: #FFFFFF;
}
#Kunena .kheader h2,
#Kunena .kheader h2 a {
	color: #fff !important;
}

#Kunena div.kblock div.ktitle {
	background-color: #5388B4;
	color: #FFFFFF;
}
#Kunena div.kblock div.ktitle h1,
#Kunena div.kblock div.ktitle h2 {
	color: #FFFFFF;
}
#Kunena div.kblock div.kbody {
	border-color:#BFC3C6;
}
#Kunena div.kblock div.khelprulescontent,
#Kunena div.kblock div.kfheadercontent {
	background-color: #FFFFFF;
	color: #000000;
}
#Kunena div.kblock div.khelprulesjump {	
	border-color: #BFC3C6;
	background-color: #FFFFFF;
	color: #000000;
}
#Kunena div.kblock div.kactions {
	background-color: #737373;
	color:#FFFFFF ;
}
#Kunena div.kblock div.kactions a {
	color:#FFFFFF !important;
}
#Kunena tr.krow1 td {
	background-color: #F2F1EE;
}
#Kunena tr.krow2 td {
	background-color: #FFFFFF;
}
#Kunena tr.ksth {
	background-color: #737373;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
#Kunena td.kcol-ktopicreplies {
	color: #999999;
}
#Kunena td.kcol-ktopicreplies strong {
	color: #999999;
}
#Kunena span.kcat-topics,
#Kunena span.kcat-replies {
	color:#999999;
}
#Kunena span.kcat-topics-number,
#Kunena span.kcat-replies-number {
	color: #999999;
}
#Kunena .klatest-avatar,
#Kunena .ktopic-latest-post-avatar {
	border-color: #BFC3C6;
}
#Kunena .kfooter-time {
	color: #999999;
}
#Kunena .kalert {
	color: #FF0000;
}
#Kunena td.kcol-first {
	border-bottom-color: #BFC3C6;
}
#Kunena td.kcol-mid {
	border-left-color: #BFC3C6;
	border-bottom-color: #BFC3C6;
}
#Kunena td.kcol-last {
	border-left-color: #BFC3C6;
	border-bottom-color: #BFC3C6;
}
#Kunena td.ktopicmodule {
	border-bottom-color: #BFC3C6;
}

/* COLOR ADMINISTRATOR AND MODERATOR
----------------------------------------------------------------------------------------------- */

#Kunena .kwho-admin,
#Kunena a.kwho-admin {
	color: #FF0000 !important;
}

#Kunena .kwho-globalmoderator,
#Kunena a.kwho-globalmoderator {
	color: #800000 !important;
}

#Kunena .kwho-moderator,
#Kunena a.kwho-moderator {
	color: #0000FF !important;
}

#Kunena .kwho-user,
#Kunena a.kwho-user {
	color: #5388B4 !important;
}

#Kunena .kwho-guest,
#Kunena a.kwho-guest {
	color: #666666 !important;
}

#Kunena .kwho-banned ,
#Kunena a.kwho-banned {
	color: #A39D49 !important;
}

#Kunena .kwho-blocked,
#Kunena a.kwho-blocked {
	color: #ff0000 !important;
}

/* MENU
----------------------------------------------------------------------------------------------- */

#Kunena #ktop {
	background-color: transparent;
	color: #000000;
}
#ktab div.moduletable ul.menu,
#ktab div.moduletable ul.menu li a,
#ktab div.moduletable ul.menu li a span {
	background-image:none!important;
}

#Kunena #ktab a {
	background-color: #737373;
}

#Kunena #ktab a span {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
#Kunena #ktab a:hover span,
#Kunena #ktab li.Kunena-item-active a span	{
	color: #FFFFFF;
}
#Kunena select,
#Kunena select:focus,
#Kunena select:hover {
	border-color: #999999;
	color: #000000;
}

/* Using a Joomla menu module */

#Kunena option {
	background-color: #FFFFFF;
	color: #000000;
}

#Kunena .button,
#Kunena .kbutton {
	background-color: #F2F1EE;
	border-color: #999999;
	color: #000000;
}

#Kunena .kbutton-back {
	color: #000000;
}
#Kunena input.kinput {
	border-color: #999999;
}
#Kunena .kbutton:hover,
#Kunena .kbutton:focus {
	background-color: #609FBF;
	border-color: #5388B4;
	color: #FFFFFF;
}

#Kunena .klist-actions {
	background-color: #FFFFFF;
	color: #000000;
	border-color: #BFC3C6;
}
#Kunena .klist-actions-bottom {
	background-color: #FFFFFF;
	color: #000000;
	border-color: #BFC3C6;
}
#Kunena .klist-actions-info a {
	color: #009933;
}

#Kunena .klist-pages {
	border-left-color: #BFC3C6;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

#Kunena .klist-times {
	border-left-color: #BFC3C6;
	color: #666666;
}
#Kunena .klist-actions-info-all {
	color: #999999;
}

#Kunena .klist-actions-forum {
	border-left-color: #BFC3C6;
}

#Kunena .klist-pages-all {
	border-left-color: #BFC3C6;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

#Kunena .klist-times-all {
	border-left-color: #BFC3C6;
	color: #666666;
}

#Kunena .klist-jump-all {
	border-left-color: #BFC3C6;
	color: #666666;
}
#Kunena .klist-top {
	background-color: #FFFFFF;
	border-color: #BFC3C6;
}

#Kunena .klist-bottom {
	background-color:#FFFFFF;
	border-color:#BFC3C6;
}
#Kunena .klist-markallcatsread {
	border-color: #BFC3C6;
	background-color: #FFFFFF;
}
#Kunena .klist-categories {
	border-left-color: #BFC3C6;
	color: #666666;
}

/*---------- Pagination ------------- */

#Kunena .kpagination a {
	border-color:#5388B4;
	background-color: #ffffff !important;
}
#Kunena .kpagination .active {
	border-color:#5388B4;
	background-color:#5388B4;
	color:#FFFFFF;
}
#Kunena .kpagination a:link,
#Kunena .kpagination a:visited {
	color:#5388B4;
}
#Kunena .kpagination a:hover{
	border-color:#5388B4;
	color: #ffffff;
	background-color: #609FBF;
}
#Kunena div.ktopic-title-cover ul.kpagination li.page {
	color:#999;
} 
#Kunena div.ktopic-title-cover ul.kpagination a {
	border-color:#bcbcbc;
	background-color: #ffffff;
}
#Kunena div.ktopic-title-cover ul.kpagination a:hover{
	border-color:#5388B4;
	color: #ffffff;
	background-color: #609FBF;
}
#Kunena span.ktopic-views {
	color:#999999;
}

#Kunena span.ktopic-views-number {
	color: #999999;
}

/* HEADER
----------------------------------------------------------------------------------------------- */

#Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton {
	background-color: #fff;
}
#Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton:hover {
	background-color: #609FBF;
}
#Kunena div#kforum-head {
	border-left-color: #BFC3C6;
	border-right-color: #BFC3C6;
	border-bottom-color: #BFC3C6;
}
#Kunena div#kmoderatorslist div.kbody {
	border-color:#CCCCCC;
	background-color: #FFFFFF;
}

/* SEARCH
----------------------------------------------------------------------------------------------- */
#Kunena fieldset {
	background-color: #fff;
	border-color:#CCCCCC;
}
#Kunena div#ksearchresult div.kresult-title {
	border-bottom-color: #DDDDDD;
}
#Kunena div#ksearchresult div.resultcat {
	border-top-color: #BFC3C6;
}

/* PROFILEBOX AND LOGINBOX
----------------------------------------------------------------------------------------------- */

#Kunena .kprofilebox-left {
	border-right-color: #BFC3C6;
	background-color: #EEEEEE;
}

#Kunena .kprofilebox-right {
	border-left-color: #BFC3C6;
}
#Kunena div.kpbox {
	border-bottom-color: #BFC3C6;
}

/* CATEGORY LIST
----------------------------------------------------------------------------------------------- */

#Kunena table.kblocktable {
	border-color: #BFC3C6;
}

#Kunena h1,
#Kunena h2 {
	color: #FFFFFF;
}
#Kunena h2 a {
	color: #FFFFFF !important;
}
#Kunena h1 a:link,
#Kunena h1 a:active,
#Kunena h1 a:visited {
	color: #FFFFFF;
}
#Kunena h2 span.kheadbtn a {
	border-color: #FFF;
	background-color: #609FBF;
}
#Kunena h2 span.kheadbtn:hover a {
	border-color: #FFF;
}
#Kunena .ktitle,
#Kunena a.ktitle {
	color: #FFFFFF;
}

#Kunena .ktitle a {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#Kunena div.kthead-title a {
	font-family: Lucida Grande, Lucida, Arial, Helvetica, sans-serif;
}
#Kunena div.kthead-moderators  {
	color: #666;
}

#Kunena div.kthead-child {
	border-top-color: #DDD5BF;
}

#Kunena table.kcc-table tr td {
	border-color: #FFFFFF;
}

#Kunena div.kcc-childcat-title {
	color: #666666;
}

#Kunena span.kchildcount {
	color: #999999;
}

/* SHOW CATEGORY 
----------------------------------------------------------------------------------------------- */

#Kunena img.catavatar {
	border-color: #BFC3C6;
}

#Kunena .kcontenttablespacer {
	border-bottom-color: #BFC3C6;
}

#Kunena .krow1-stickymsg {
	background-color: #FFFFCC;
}

#Kunena .krow2-stickymsg {
	background-color: #FFFFCC;
}

/* VIEW PAGE
-------------------------------------------------------------------- */

#Kunena div.kmsg-header {
	border-bottom-color:#D9D9D9;
	background-color: #5388B4;
	color: #FFFFFF;
}
#Kunena div.kmsg-header h2 {
	background-color: #737373;
}

#Kunena .kpost-profile span.kavatar img,
#Kunena .kprofilebox .kavatar {
	border-color: #BFC3C6;
}

#Kunena span.kmsgdate {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#Kunena div.kmsgattach {
	background-color:#F8F7EF;
	border-color:#BFC3C6;
}
#Kunena div.kmsgtext pre,
#Kunena div.kmsgtext code {
	border-left-color: #F4A94F;
	border-right-color: #BFC3C6;
	border-top-color: #BFC3C6;
	border-bottom-color: #BFC3C6;
	font-family: "Courier News", Courier, monospace;
}

#Kunena table.kmsg th a {
	color: #FFFFFF;
}

#Kunena div.kmessage-editmarkup-cover {
	border-bottom-color: #BFC3C6;
}

#Kunena span.kmessage-editmarkup {
	background-color: #F2F1EE no-repeat left center;
	border-left-color: #BFC3C6;
	border-right-color: #BFC3C6;
	border-top-color: #BFC3C6;
	color: #666666;
}

#Kunena span.kmessage-informmarkup {
	background-color: #F2F1EE;
	border-left-color: #BFC3C6;
	border-right-color: #BFC3C6;
	border-top-color: #BFC3C6;
	color: #666666;
}

#Kunena div.kmsgsignature {
	border-top-color:#BFC3C6;
	color:#999999;
}
#Kunena div.kmessage-thankyou{
	border-top-color: #BFC3C6;
}
#Kunena .kreply-form {
	border-color: #BFC3C6;
}

#Kunena .kreply-form .inputbox {
	border-color: #999999;
	background-color: #FFFFFF;
	color: #000000;
}

#Kunena div.kmsgtext-article,
#Kunena div.kmsgtext-quote,
#Kunena div.kmsgtext-hide,
#Kunena div.kmsgtext-confidential {
	border-color: #BFC3C6;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F2F1EE;
}

#Kunena div.kmsgtext-article {
	background-color: #FFFFFF;
}

#Kunena div.kmsgtext-hide {
	background-color: #FFFFCC;
}

#Kunena div.kmsgtext-confidential {
	background-color: #FAE0F8;
}

#Kunena div.khide {
	background-color: #F2F1EE;
	border-color: #F2CAB7;
}

#Kunena .kmsgtitle {
	color: #fff ;
}
#Kunena div.kmsg-header-top span.kmsg-id-top a,
#Kunena div.kmsg-header-bottom span.kmsg-id-bottom a,
#Kunena div.kmsg-header-left span.kmsg-id-left a,
#Kunena div.kmsg-header-right span.kmsg-id-right a {
	color: #fff !important;
}

/* AVATAR POSITION
----------------------------------------------------------------------- */


/* right
----------------------------------------*/

#Kunena td.kprofile-right {
	background-color: #EFF0F4;
	border-bottom-color: #BFC3C6;
	border-left-color: #DDDDDD;
}

#Kunena td.kbuttonbar-right {
	border-bottom-color: #BFC3C6;
}

/* left
----------------------------------------*/

#Kunena td.kprofile-left {
	background-color: #EFF0F4;
	border-bottom-color: #BFC3C6;
	border-right-color: #DDDDDD;
}

#Kunena td.kbuttonbar-left {
	border-bottom-color: #BFC3C6;
}

#Kunena .kunapproved td {
	background-color: #DDDDDD !important;
}

#Kunena .kdeleted td {
	background-color: #CCCCCC !important;
}


/* User info on posts
----------------------------------------*/

#Kunena td.kprofile-top {
	background-color: #EFF0F4;
	border-bottom-color: #DDDDDD;
}

#Kunena td.kbuttonbar-top {
	border-bottom-color: #BFC3C6;
}

/* bottom
----------------------------------------*/

#Kunena td.kprofile-bottom {
	background-color: #EFF0F4;
	border-bottom-color: #BFC3C6;
	border-top-color: #DDDDDD;
}

/*
POST PAGE
-------------------------------------------------------------------- */

#Kunena #kpost-message .postinput {
	background-color: #FFFFFF; 
	color: #000000;
	border-color: #BFC3C6;
}

#Kunena #kpost-message .postinput:hover,
#Kunena #kpost-message .postinput:focus	{
	background-color: #FFFFFF;
	color: #000000;
	border-color: #BFC3C6;
}

#Kunena #kpostmessage tr.krow2 td.kcol-ktopicicons td {
	background-color: #FFFFFF;
	color: #000000;
	border-color: #BFC3C6;
}

#Kunena #kpostmessage tr.krow1 .kpostbuttonset td.kposthint	{
	background-color: #FFFFCC;
	border-color: #DDD5BF;
}

#Kunena table#kpostmessage .kposthint .kinputbox {
	background-color: #FFFFCC;
	border-color: #FFFFCC;
}

#Kunena .kpostbuttonset {
	border-color: #BFC3C6
}

#Kunena tr.krow1 .kpostbuttons {
	border-color: #BFC3C6;
}

#Kunena table#kpostmessage .ktxtarea {
	border-color: #BFC3C6;
}
#Kunena div#khistory tr.ksth a {
	color: #ffffff;
}

/* ---- Post Previews ---- */

#Kunena #kbbcode-preview {
	border-color: #BFC3C6;
	background-color: #F2F1EE;
}
#Kunena #kpostmessage tr.krow1 .kpostbuttonset td,
#Kunena #kpostmessage tr.krow2 .kpostbuttonset td	{
	border-bottom-color: #BFC3C6;
}
#Kunena #kpost-result div {
	border-color: #999;
}
#Kunena div#kcolor-palette,
#Kunena div#link,
#Kunena div#image,
#Kunena div#video {
	border-bottom-color: #BFC3C6;
}
	
/* FORUM ICON BUTTONS
----------------------------------------------------------------------------------------------- */

#Kunena .kicon-button {
	color: #FFF;
}
#Kunena .kicon-button span span {
	color: #ffffff;
}
#Kunena form.kform-report input,
#Kunena form.kform-report textarea {
	border-color:#BFC3C6;
}

/*
BBCODE BUTTONS
-------------------------------------------------------------------- */
#Kunena img.kbbcode:hover {
	background-color: #e4e4e4;
}
#Kunena div#kbbcode-size-options span:hover {
	background-color: #e4e4e4;
}
#Kunena #kbbcode-toolbar li a:hover {
	background-color: #e4e4e4;
}
#Kunena ul#kbbcode-toolbar li a#kbbcode-separator1,
#Kunena ul#kbbcode-toolbar li a#kbbcode-separator2,
#Kunena ul#kbbcode-toolbar li a#kbbcode-separator3,
#Kunena ul#kbbcode-toolbar li a#kbbcode-separator4,
#Kunena ul#kbbcode-toolbar li a#kbbcode-separator5,
#Kunena ul#kbbcode-toolbar li a#kbbcode-separator6,
#Kunena ul#kbbcode-toolbar li a#kbbcode-separator7,
#Kunena ul#kbbcode-toolbar li a#kbbcode-separator8 {
	background-color: #eeeeee;
}
#Kunena .kattachment .kbutton {
	color: #000000;
}

/*
Multi file upload for bbcode editor
-------------------------------------------------------------------- */

#Kunena .kfile-input-button,
#Kunena .kfile-input-button:hover,
#Kunena .kfile-input-button:focus {
	background-color: #F2F1EE;
	border-color: #999999;
	color: #000000;
}
#Kunena .kfile-input-button:hover,
#Kunena .kfile-input-button:focus {
	background-color: #609FBF;
	border-color: #5388B4;
	color: #FFFFFF;
}
#Kunena .kattachment-remove,
#Kunena .kattachment-insert {
	background-color: #F2F1EE;
	border-color: #999999;
	color: #000000;
}
#Kunena .kattachment-remove:hover,
#Kunena .kattachment-insert:hover {
	color: #FFFFFF;
}
#Kunena #kbbcode-filelist .file-invalid {
	color: #514721;
}
#Kunena #kbbcode-filelist .file-invalid span {
	background-color: #fff6bf;
}
#Kunena #kbbcode-filelist .file .file-size {
	color: #666;
}
 
#Kunena #kbbcode-filelist .file .file-error {
	color: #8a1f11;
}

/*
POLLS
-------------------------------------------------------------------- */

#kpoll-text-help {
	background-color: #ff8f4f;
}
#kpoll-form-vote fieldset {
	background-color:#FFFFFF;
}

/* PATHWAY 
----------------------------------------------------------------------------------------------- */
#Kunena .kforum-pathway {
	border-left-color: #BFC3C6;
	border-right-color: #BFC3C6;
	color: #000000;
	background-color: #F2F1EE;
}
#Kunena .kforum-pathway-bottom {
	border-color: #BFC3C6;
	color: #000000;
	background-color: #F2F1EE;
}

/*
FORUM HEADER DESCRIPTION
-------------------------------------------------------------------- */
#Kunena .kforum-headerdesc {
	border-color: #BFC3C6;
	color: #000000;
	background-color: #FFF;
}

/*
HELP, RULES, UPLOAD AVATAR, ANNOUNCEMENT
-------------------------------------------------------------------- */
#Kunena td.kuadesc,
#Kunena td.kcreditsdesc	{
	/*border-color: #BFC3C6;*/
	background-color: #FFFFFF;
	color: #000000;
}
#Kunena .kcredits-intro {
	border-color: #BFC3C6;
}
#Kunena .kcredits-more {
	background-color: #F2F1EE;
	border-color: #BFC3C6;
}

#Kunena .kcredits-language {
	border-color: #BFC3C6;
}
#Kunena tr.userlist th a {
	color: #FFFFFF;
}

/* 		WHO IS ONLINE
------------------------------------------------------------------- */

#Kunena .kwholegend {
	border-top-color: #CCCCCC;
}

#Kunena .kwhoonline {
	border-bottom-color: #CCCCCC;
}

/*     MODERATOR PAGE
-------------------------------------------------------------------- */

#Kunena div#kmod-container {
	/*border-color: #BFC3C6;*/ 
}
#Kunena div.kmoderate-message {
	border-color:#CCCCCC;
}
}
/*       PROFILE
-------------------------------------------------------------------- */

#Kunena div.kavatar-lg { 
	background-color: #FFF; 
	border-color: #999999; 
}
#Kunena div#kprofile-stats ul li span.konline-status-yes {
	color: #fff;
}
#Kunena div#kprofile-stats ul li span.konline-status-no {
	color:#fff;
}	
#Kunena div.clrline {
	border-top-color: #BFC3C6; 
}
#Kunena div.kprofile-rightcol1 h4 { color: #333333;}

/* Tabs
----------------------------------*/

#Kunena dl.tabs dt {
	border-left-color: #BFC3C6;
	border-right-color: #BFC3C6;
	border-top-color: #BFC3C6;
	background-color: #f0f0f0;
	color: #666;
}
#Kunena dl.tabs dt.open {
	background-color: #F9F9F9;
	border-bottom-color: #F9F9F9;
	color: #000;
}
#Kunena div.current {
	border-color: #BFC3C6;
}
#Kunena dt.kprofile-modbtn {
	background-color:#999999 !important;
	color: #FFF !important;
}

/* SLIDERS
----------------------------------------------------------------------------------------------- */

#Kunena span#kprofilebox-status {
	color: #fff;
	background-color: #5388B4;
}
#Kunena #kprofilebox-toggle {
	border-color: #fff;
}

/* Mootools Autocompleter CSS classes
----------------------------------------------------------------------------------------------- */
/* DO NOT ADD #Kunena into these rules! */
ul.autocompleter-choices {
	border-color:			#7c7c7c;
	border-left-color:		#c3c3c3;
	border-right-color:		#c3c3c3;
	border-bottom-color:	#ddd;
	background-color:		#fff;
	font-family:			Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:		#fff;
}
ul.autocompleter-choices li.kautocompleter-selected {
	background-color:		#444;
	color:					#fff;
}
ul.autocompleter-choices li.kautocompleter-selected span.kautocompleter-queried {
	color:					#9FCFFF;
}

/* CSS suffix support for category specific styling (Leave this section at the bottom)
----------------------------------------------------------------------------------------------- */

/* -red category suffix
------------------------------------------------------ */

#Kunena .kforum-headerdesc-red {
	color: #000000;
	background-color: #FFDDDD;
}
#Kunena tr.krow1-red td {
	background-color: #FFDDDD;
}
#Kunena tr.krow2-red td {
	background-color: #FFCFCF;
}

/* -green category suffix
----------------------------------------------------- */

#Kunena .kforum-headerdesc-green {
	background-color: #d2f8db;
}
#Kunena tr.krow1-green td {
	background-color: #d2f8db;
}
#Kunena tr.krow2-green td {
	background-color: #bfe5c7;
}

/* -yellow category suffix
------------------------------------------------------ */

#Kunena .kforum-headerdesc-yellow {
	color: #000000;
	background-color: #FFFFCC;
}
#Kunena tr.krow1-yellow td {
	background-color: #FFFFCC;
}
#Kunena tr.krow2-yellow td {
	background-color: #FFFFAA;
}

/* -blue category suffix
------------------------------------------------------- */

#Kunena .kforum-headerdesc-blue {
	color: #000000;
	background-color: #c3f0ff;
}
#Kunena tr.krow1-blue td {
	background-color: #c3f0ff;
}
#Kunena tr.krow2-blue td {
	background-color: #b1e3ff;
}

/* -grey category suffix
------------------------------------------------------ */

#Kunena .kforum-headerdesc-grey {
	color: #000000;
	background-color: #e5e5e5;
}
#Kunena tr.krow1-grey td {
	background-color: #e5e5e5;
}
#Kunena tr.krow2-grey td {
	background-color: #d5d5d5;
}

/* -pink category suffix
---------------------------------------------------- */

#Kunena .kforum-headerdesc-pink {
	color: #000000;
	background-color: #ffddff;
}
#Kunena tr.krow1-pink td {
	background-color: #ffddff;
}
#Kunena tr.krow2-pink td {
	background-color: #ffd0ff;
}

/* for form-validation
------------------------------------------------------ */
	
#Kunena #kpost-message .invalid { 
	border-color: red !important;
	background-color: #FFDDDD !important;
}

/* SHOW ICONS 
----------------------------------------------------------------------------------------------- */

.kgooglemap {
	background-color:#E5E3DF;
}