/* Copyright (C) 2007 - 2011 YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * item
 */

/* position headings */
#yoo-zoo .item h3 {
	margin-top: 0px;
	font-size: 18px;
	font-weight: normal;
	color: #646464;
	text-transform: uppercase;
}

/* element type: textarea */
#yoo-zoo .item .element-textarea > * { margin: 0px 0px 8px 0px; }
#yoo-zoo .item .element-textarea > *:last-child { margin: 0px; }

/* position: top */
#yoo-zoo .item div.pos-top { overflow: hidden; }
#yoo-zoo .item div.pos-top .element { margin-bottom: 18px; }

/* position: date */
#yoo-zoo .item div.pos-date {
	height: 47px;
	width: 47px;
	margin-right: 10px;
	color: #ffffff;
	background: url(../images/date_bg.png) 0 0 no-repeat;
	float: left;
}

#yoo-zoo .item div.pos-date span.day,
#yoo-zoo .item div.pos-date span.month {
	display: block;
	text-align: center;
}
#yoo-zoo .item div.pos-date span.day {
	margin-top: 5px;
	font-size: 28px;
	line-height: 28px;
	letter-spacing: -2px;
	font-weight: bold;
}

#yoo-zoo .item div.pos-date span.month {
	margin-top: -3px;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
}

/* position: title */
#yoo-zoo .item h1.pos-title {
	margin: 0px 0px 20px 0px;
	font-size: 27px;
	font-weight: normal;
	line-height: 47px;
	color: #646464;
	text-transform: uppercase;
	letter-spacing: -1px;
}

/* position: subtitle */
#yoo-zoo .item h2.pos-subtitle{
	margin: 0px 0px 12px 0px;
	font-size: 15px;
	color: #505050;
	line-height: 20px;
	font-weight: normal;
	font-style: italic;
}

/* position: media */
#yoo-zoo .item div.media-left {
	margin: 0px 15px 0px 0px;
	float: left;
}

#yoo-zoo .item div.media-right {
	margin: 0px 0px 0px 15px;
	float: right;
}

#yoo-zoo .item div.pos-media .element { margin-bottom: 12px; }
#yoo-zoo .item div.media-bottom .element { margin: 12px 0px 0px 0px; }
#yoo-zoo .item div.media-above .element { margin: 0px 0px 20px 0px; }

#yoo-zoo .item div.pos-media a { display: block; }

/* position: content */
#yoo-zoo .item div.pos-content {}
#yoo-zoo .item div.pos-content .element { margin-bottom: 18px; }
#yoo-zoo .item div.pos-content .element.last { margin-bottom: 0px; }

/* element type: video */
#yoo-zoo .item div.pos-content .element-video { text-align: center; }
#yoo-zoo .item div.pos-content .element-video object { outline: none; }

/* position: meta */
#yoo-zoo .item p.pos-meta {
	margin: 22px 0px 0px 0px;
	font-size: 11px;
	color: #969696;
	line-height: 13px;
}

/* position: taxonomy */
#yoo-zoo .item ul.pos-taxonomy {
	list-style: none;
	margin: 20px 0px 0px 0px;
	padding: 0px;
}

#yoo-zoo .item ul.pos-taxonomy strong { color: #323232; }

/* position: bottom */
#yoo-zoo .item div.pos-bottom { overflow: hidden;}
#yoo-zoo .item div.pos-bottom .element {
	margin-top: 20px;
	padding-bottom: 30px;
	background: url(../images/separator.png) 50% 100% no-repeat;
}
#yoo-zoo .item div.pos-bottom .element.last {
	padding-bottom: 20px;
	background: none;
}

/* element type: socialbookmarks */
#yoo-zoo .item div.socialbookmarks {
	display: inline-block;
	cursor: pointer;
}

#yoo-zoo .item div.socialbookmarks a { background-image: url(../images/socialbookmarks.png); }
#yoo-zoo .item div.socialbookmarks a.facebook:hover { background-position: 0 -300px; }
#yoo-zoo .item div.socialbookmarks a.twitter:hover { background-position: 0 -325px; }
#yoo-zoo .item div.socialbookmarks a.google:hover { background-position: 0 -350px; }
#yoo-zoo .item div.socialbookmarks a.technorati:hover { background-position: 0 -375px; }
#yoo-zoo .item div.socialbookmarks a.delicious:hover { background-position: 0 -400px; }
#yoo-zoo .item div.socialbookmarks a.digg:hover { background-position: 0 -425px; }
#yoo-zoo .item div.socialbookmarks a.stumbleupon:hover { background-position: 0 -450px; }
#yoo-zoo .item div.socialbookmarks a.reddit:hover { background-position: 0 -475px; }
#yoo-zoo .item div.socialbookmarks a.myspace:hover { background-position: 0 -500px; }
#yoo-zoo .item div.socialbookmarks a.yahoo:hover { background-position: 0 -525px; }
#yoo-zoo .item div.socialbookmarks a.live:hover { background-position: 0 -550px; }
#yoo-zoo .item div.socialbookmarks a.email:hover { background-position: 0 -575px; }

/* position: related */
#yoo-zoo .item div.pos-related {
	margin-bottom: 25px;
	padding-top: 30px;
	background: url(../images/separator.png) 50% 0 no-repeat;
}

#yoo-zoo .item div.pos-related ul {
	list-style: none;
	margin: 0px;
	padding: 0 0 0 15px;
}

#yoo-zoo .item div.pos-related li {
	padding-left: 15px;
	background: url(../images/arrow.png) 0px 50% no-repeat;
}

/* position: author */
#yoo-zoo .item div.pos-author {
	padding: 15px 15px 15px 15px;
	border-top: 1px solid #CCCDCE;
	border-bottom: 1px solid #CCCDCE;
	background: #fafafa;
	overflow: hidden;
}

#yoo-zoo .item div.pos-author .element-relateditems > div {
	margin-bottom: 15px;
	overflow: hidden;
}
#yoo-zoo .item div.pos-author .element-relateditems > div:last-child { margin-bottom: 0px; }

/* related item */
#yoo-zoo .item div.pos-author div.sub-pos-media {
	margin: 0px 15px 0px 0px;
	padding: 3px;
	border: 1px solid #E6E6E6;
	background: #ffffff;
	float: left;
}
#yoo-zoo .item div.pos-author div.sub-pos-media > a { display: block; }

#yoo-zoo .item div.pos-author h4.sub-pos-title {
	margin: 3px 0px 0px 0px;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	color: #323232;
}

#yoo-zoo .item div.pos-author div.sub-pos-description {}

#yoo-zoo .item div.pos-author p.sub-pos-links { margin: 0px; }

#yoo-zoo .item div.pos-author p.sub-pos-links span a:after {
	content: " »";
	font-size: 14px;
}
