<?php
/**
*  This file is part of Almond Classifieds Component for Joomla! (site:http://www.ads-programming.com/acj)
*  Copyright (C) 2008-2009 Ads-Programming.Com. All rights reserved.
*  http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL  
*/
?>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td>
<table width='100%'  border=0 cellspacing=1 cellpadding=1>

<?php 
 
include("ads_ind.php"); echo get_ads_captions();
if ($hltadsf=='yes') {$ads_rows=get_hltads();  
 while ($row = mysql_fetch_array($ads_rows)) { echo print_ads_ind($row);} } 
?>

</table>
</td></tr>
</table>