<?php 

/**
*  This file is part of Almond Classifieds Component for Joomla! (site:http://www.ads-programming.com/acj)
*  Copyright (C) 2008-2009 Ads-Programming.Com. All rights reserved.
*  http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL  
*/


global $waflnscr, $ht_header, $ht_footer, $ht_leftcol, $titleclpg, $indx_url; 
if (method_exists('JFactory', 'getDocument')) {
$document=& JFactory::getDocument(); $document->setTitle($categories[$ct][0]);
} else {global $mainframe; $mainframe->setPageTitle($categories[$ct][0]);}
?>
<link href="<?php global $style_css_url; echo $style_css_url; ?>" rel="stylesheet" type="text/css">

<?php echo $ht_header; ?>  
<?php if ($use_gl_map=='yes') {echo getmapjsp();} ?>

<?php echo $javastl,  print_layerjavas(); ?>
 
<table width="100%" border="0" cellpadding="5" cellspacing="0"  style='margin: 3px; padding: 2px;'>
<tr><td valign="top">
<div style='padding:0; margin:1px 0 5px 0;'> 
<font class='df2'><b>
<a href='<?php echo sturl_top(); ?>'><b>Top:</b></a>&nbsp; 
 
<?php echo "<a href='".sturl_ct_ind($ct)."'><b>".$categories[$ct][0]."</b></a>"; ?>  
</b></font>  
</div>
<table width='100%' border=0 cellspacing=3 cellpadding=3 >
<tr>
<td class='dtb1'>
<font class='df1'>
&nbsp; <?php echo $row['title']; ?></font>
</td>
</tr>
</table>

<font  class='smallfnt'> 
<?php echo $view_intad; ?>
</font>
<?php if ($row['login']!=""){  
echo "
<font  class='smallfnt'> 
".$msg['ad_posted_member']."  '".$row['login']."'
</font><br>"; 
} ?>

<?php echo lrg_photo($idnum); ?>

<table width='100%'  cellspacing=5 cellpadding=5>
<tr><td valign='top'> 

<?php echo "
<font class='smallg'>
&nbsp;".$msg['adsid'].": </font> <font class='smallr'>
$idnum</font> 
&nbsp;
<font class='smallg' >  ".$msg['date_posted_d'].": </font> <font class='smallr' >
 $date_posted;</font>
&nbsp;
";
if ($evnt_cat[$ct] !="yes"){
echo "
<font class='smallg' >".$msg['expire_date_d'].": </font>
<font class='smallr' >$expire_date;</font>
";
}
echo "<font class='smallfnt'> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  $det_cnt  </font>"; 
?>

<table width='100%'  border=0   class='dtf1'>
<?php
foreach ( $cat_fields as $key => $value )
{ 
if($row[$key]==""){$row[$key]='--';}
if ( ($cat_fields[$key][1] == '2' or $cat_fields[$key][1] == '12') and !($key=='initialad' and $row[$key]=='--') )
{
if ($row[$key]=='--'){$fld_dimd[$key]=""; $fld_dim[$key]="";}
echo "
<tr><td style='text-align: right;' width='10%' valign='top'>
<font class='df3'>
 <nobr>".$cat_fields[$key][0].":</nobr></font>
</td><td> 
<font class='df4'>
 ".$fld_dimd[$key].$row[$key].$fld_dim[$key]." &nbsp;</td></tr>
 ";
}
}
?>

</table>

<p class='pst1'>
<font class='df5'>
 <?php echo "  $contemail_info   $homepg_info "; ?> 

</font>

<p class='pst1'> 
 

<?php if ($use_gl_map=='yes'){echo dt_map($row['addrmap'])."<p class='pst1'>";} ?>

</td><td valign='top' width='150'>

<div id="pht1">
<?php echo print_photos($idnum, $row); ?>
</div>

</td>
</tr></table>

<p class='pst1'>&nbsp;
<?php
if ($row['adcommkey']!=1){
echo "   
<table width='100%' class='dtb2' border=0 cellspacing=2 cellpadding=2> 
<tr><td> <font  class='stfnt'> <b>  ".print_fvrt_dtl()." </b></font> </td></tr>
</table>
";
}
?>
<p class='pst1'>&nbsp;  
<font  class='stfnt'> 
<?php echo "<a href='{$indx_url}ct=$ct&md=editlogin&id=$idnum' >Edit Ad</a>"; ?>
 &nbsp; &nbsp;  
 
  <p class='pst1'>
 &nbsp; 
</td></tr></table>

<?php echo $ht_footer; ?>

