<?php 

/**
*  This file is part of Almond Classifieds Component for Joomla! (site:http://www.ads-programming.com/acj)
*  Copyright (C) 2008-2009 Ads-Programming.Com. All rights reserved.
*  http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL  
*/


global $waflnscr, $ht_header, $ht_footer, $ht_leftcol, $titleclpg, $indx_url;  
if (method_exists('JFactory', 'getDocument')) {
$document=& JFactory::getDocument(); $document->setTitle($categories[$ct][0]);
} else {global $mainframe; $mainframe->setPageTitle($categories[$ct][0]);}
?>
<link href="<?php global $style_css_url; echo $style_css_url; ?>" rel="stylesheet" type="text/css">

<?php echo $ht_header; ?> 
 
<?php if ($use_gl_map=='yes') {echo getmapjsp();} ?>

<?php echo $javastl, print_layerjavas(); ?>

<table width="100%" border="0" cellpadding="5" cellspacing="0" style='margin: 3px; padding: 2px;'>
<tr><td valign="top"  >
 
<table width="100%" border="0" class='tb10'>
<tr><td colspan=2  >
<font class='fnt4'>
<?php echo "<a href='".sturl_top()."'>"; ?><b>Top:</b></a>&nbsp;</font>   
<font class='fnt5'> <?php echo $text_userinfo; ?> <?php global $gmct_name; echo $gmct_name; ?>
<?php echo category_name(); ?>  
</font> <font class="stfnt">
<?php echo subcat_options(); ?>
</font> 


<?php if ($schresinfo){ ?>
 &nbsp;&nbsp;<br>
<font class="stfntb"><b>
<?php echo $schresinfo; ?>
</b></font>

<?php } ?>
</td></tr>
</table>
 
<?php include("t_menu.html"); ?>

<font class="smallfnt">
<?php echo pages_next_prev(); ?>
</font> &nbsp; <p class='pst1'>

 
<?php
global $hltinf, $hltnmbv;
include("ads_ind.php");  
$hltinf="<font style='FONT-SIZE: 11px; color: #774444;'>&nbsp; highlighted!<br></font>";
if ($hltadsf=='yes' and $_REQUEST['mfvrt']=="") {    $ads_rows=get_hltads(); 
if (mysql_num_rows($ads_rows)>0){ $hltnmbv="1"; ?>
<p class='pst1'>
<font class="smallfnt">Highlighted 420 ads:</font> 
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td>
<table width='100%'  border=0 cellspacing=1 cellpadding=1> 

<?php echo get_ads_captions();  while ($row = mysql_fetch_array($ads_rows)) {echo print_ads_ind($row);}  ?>
 
</table>
</td></tr>
</table>
<p class='pst1'>
<?php } $idadcol=0;} ?>

<font class="stfntb"><b>
<?php echo "$ads_count ".$msg['ads_match_your_query']; ?>
</b></font>
 
 

<?php echo msg_favorites(); ?> 
&nbsp;

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td>
<table width='100%'  border=0 cellspacing=1 cellpadding=1>

<?php 
$hltnmbv="0"; echo get_ads_captions(); 
$ads_rows=get_ads();   while ($row = mysql_fetch_array($ads_rows)) { echo print_ads_ind($row);} 
?> 
 
 
</table>
</td></tr>
</table>

<p class='pst1'>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td colspan=2 bgcolor="#eeeeee">
<font class="smallfnt">&nbsp;
<?php echo ads_pages_list(); ?>
</font>
</td></tr></table>
</td></tr>
</table>

<?php echo $ht_footer; ?>

