<?php 


/**
*  This file is part of Almond Classifieds Component for Joomla! (site:http://www.ads-programming.com/acj)
*  Copyright (C) 2008-2009 Ads-Programming.Com. All rights reserved.
*  http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL  
*/

global $javastl; echo $javastl; ?>
<table width="100%" cellpadding="0" cellspacing="0" class="tb6">
<tr><td valign='top'>
<?php if($ct!=""){$postadq="ct=$ct&md=add_form";}else{$postadq="md=chct";}?>
<?php echo "<a href='{$indx_url}$postadq'><font class='fnt4'>"; ?>
Post New Ad</font></a>
 
<?php if($_REQUEST['md']=="" and $_REQUEST['ct']==""){ ?>
&nbsp; &nbsp;
<?php global $tmltads; echo "<a href='{$indx_url}ct=&md=browse&mds=search&before=$tmltads".$ltstcityv."'>"; ?>
<font class='fnt4'>Latest Ads</font></a>
<?php } ?>
&nbsp; &nbsp;
<a href='<?php echo $indx_url; ?>md=browse&mfvrt=1'><font class='fnt4'>Favorites</font></a>
&nbsp; &nbsp;
<?php echo "<a href='{$indx_url}ct=$ct&md=editlogin' >"; ?>
<font class='fnt4'>Edit Ad</font></a>
</td></tr></table>
 
<DIV id='chcity' style='DISPLAY: none'>
<table width="100%" cellpadding="2" cellspacing="5" class="tb3">
<tr><td valign='top'>
<p align='justify'> 
</font>
</td></tr></table>
</div>
<?php if($check_subcateg){ ?> 
<table width='100%'><tr><td valign='top' width='110'> 
&nbsp; <font class='stfnt' style='line-height: 1.5;'>Subcategories:</font><br>
</td><td valign='top'>
<span style='line-height: 1.5;'> 
<?php echo print_subcat($ct); ?>
</span> </td></tr></table>
 
<?php } ?>
 
