<?php 

/**
*  This file is part of Almond Classifieds Component for Joomla! (site:http://www.ads-programming.com/acj)
*  Copyright (C) 2008-2009 Ads-Programming.Com. All rights reserved.
*  http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL  
*/

global $waflnscr, $ht_header, $ht_footer,  $titleclpg;  ?>
<link href="<?php global $style_css_url; echo $style_css_url; ?>" rel="stylesheet" type="text/css">

<?php echo $ht_header; ?> 
<table width="100%" border="0" cellpadding="15" cellspacing="0"  class='tbmsg'>
<tr> 
<td valign="top"  >
<?php echo $thtml; ?>

</td>
</tr>
</table>

<?php echo $ht_footer; ?>

&nbsp;<p>&nbsp;<p>

