<?php 

/**
*  This file is part of Almond Classifieds Component for Joomla! (site:http://www.ads-programming.com/acj)
*  Copyright (C) 2008-2009 Ads-Programming.Com. All rights reserved.
*  http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL  
*/

global $waflnscr, $ht_header, $ht_footer, $ht_leftcol, $titleclpg, $indx_url; ?>
<link href="<?php global $style_css_url; echo $style_css_url; ?>" rel="stylesheet" type="text/css">
 
<?php echo $ht_header; ?> 

<table width="100%" border="0" cellpadding="5" cellspacing="0" style='margin: 3px; padding: 2px;'>
<tr><td valign="top"  >
<?php include("t_menu.html"); ?>
<p>
<table width="100%" cellpadding="0" cellspacing="0"  border=0 class='tb10'>
<tr><td valign='top'>
<font class="fnt1">Categories:</font> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<?php echo get_total_count()." ".$msg['ads_t']  ?>

</td></tr></table>
 
<?php echo $cityhtml; ?>

<center>
<table width="100%" cellpadding="3" cellspacing="10"   class="ct_list"  >
<tr><td width='33%' valign='top'  align=left>
<?php foreach ($categories as $name => $value) { echo $categ[$name]; } ?>
</td></tr></table>
</center>
</td>
</tr>
</table>

<?php echo   print_layerjavas(); ?>

<?php echo $ht_footer; ?>

