.datepicker_dashboard {
	position: absolute;
	font-size: 10px;
	font-family: "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif;
	color: #fff;
	line-height: normal;
	width: 172px;
	height: 135px;
	padding: 14px;
	background: url(frame.png) no-repeat;
	z-index: 100;
}

/* header
********************************************************/
.datepicker_dashboard .header {
	position: relative;
	height: 15px;
	margin-bottom: 5px;
	padding-top: 1px;
}

.datepicker_dashboard .header .title {
	text-align: center;
	margin: 2px 18px 0 18px;
}

.datepicker_dashboard .header .titleText {
	color: #ccff00;
}

.datepicker_dashboard .header .previous,
.datepicker_dashboard .header .next,
.datepicker_dashboard .header .closeButton {
	position: absolute;
	cursor: pointer;
	text-indent: -40px;
	overflow: hidden;
	width: 12px;
	height: 12px;
	top: 2px;
	background-image: url(buttons.png);
	background-position: left top;
	background-repeat: no-repeat;
}

.datepicker_dashboard .header .previous {
	left: 4px;
}
.datepicker_dashboard .header .previous:hover {
	background-position: left bottom;
}
.datepicker_dashboard .header .next {
	right: 4px;
	background-position: -13px top;
}
.datepicker_dashboard .header .next:hover {
	background-position: -13px bottom;
}
.datepicker_dashboard .header .closeButton {
	display: none;
	right: 0px;
	top: 0px;
	background-position: right top;
}
.datepicker_dashboard .header .closeButton:hover {
	background-position: right bottom;
}

/* body
********************************************************/
.datepicker_dashboard .body {
	position: relative;
	top: 0px;
	left: 2px;
	width: 168px;
	height: 112px;
	overflow: hidden;
}

/* time
********************************************************/
.datepicker_dashboard .time {
	position: relative;
	width: 100%;
	height: 100%;
}

.datepicker_dashboard .time .hour,
.datepicker_dashboard .time .separator,
.datepicker_dashboard .time .minutes {
	background: #333;
	border: 0px;
	width: 50px;
	font-size: 32px;
	color: #fff;
	position: absolute;
	top: 10px;
	text-align: center;
	padding: 2px;
}

.datepicker_dashboard .time .hour {
	left: 15px;
}
.datepicker_dashboard .time .separator {
	background: transparent;
	width: 10px;
	left: 76px;
}

.datepicker_dashboard .time .minutes {
	left: 95px;
}
.datepicker_dashboard .time .ok {
	position: absolute;
	top: 65px;
	height: 32px;
	width: 136px;
	left: 15px;
	font-size: 20px;
}

/* days-grid
********************************************************/
.datepicker_dashboard .days .day {
	float: left;
	text-align: center;
	overflow: hidden;
	width: 23px;
	padding-top: 1px;
	height: 14px;
	margin: 0 1px 1px 0;
}
.datepicker_dashboard .days .titles {
	height: 15px;
	margin-bottom: 2px;
	text-transform: uppercase;
	color: #aaa;
}
.datepicker_dashboard .days .day0 {
	margin-right: 0;
}

.datepicker_dashboard .days .week5 .day {
	margin-bottom: 0;
}

/* days-colors
********************************************************/
.datepicker_dashboard .days .week .day {
	cursor: pointer;
}
.datepicker_dashboard .days .week .day:hover {
	color: #ccff00;
}

.datepicker_dashboard .days .otherMonth {
	color: #444444;
}

.datepicker_dashboard .days .selected {
	color: #ccff00;
}

/* months-grid
********************************************************/
.datepicker_dashboard .months .month {
	float: left;
	cursor: pointer;
	text-align: center;
	padding-top: 6px;
	width: 55px;
	overflow: hidden;
	height: 21px;
	margin: 0 1px 1px 0;
}

.datepicker_dashboard .months .month3,
.datepicker_dashboard .months .month6,
.datepicker_dashboard .months .month9,
.datepicker_dashboard .months .month12 {
	margin-right: 0;
}

.datepicker_dashboard .months .month10,
.datepicker_dashboard .months .month11,
.datepicker_dashboard .months .month12 {
	margin-bottom: 0;
}

/* months-colors
********************************************************/
.datepicker_dashboard .months .month:hover {
	color: #ccff00;
}

.datepicker_dashboard .months .selected {
	color: #ccff00;
}

/* years-grid
********************************************************/
.datepicker_dashboard .years .year {
	float: left;
	cursor: pointer;
	text-align: center;
	padding-top: 6px;
	width: 32px;
	overflow: hidden;
	height: 21px;
	margin: 0 1px 1px 0;
}

.datepicker_dashboard .years .year4,
.datepicker_dashboard .years .year9,
.datepicker_dashboard .years .year14,
.datepicker_dashboard .years .year19 {
	margin-right: 0;
}

.datepicker_dashboard .years .year15,
.datepicker_dashboard .years .year16,
.datepicker_dashboard .years .year17,
.datepicker_dashboard .years .year18,
.datepicker_dashboard .years .year19 {
	margin-bottom: 0;
}

/* years-colors
********************************************************/
.datepicker_dashboard .years .year:hover {
	color: #ccff00;
}

.datepicker_dashboard .years .selected {
	color: #ccff00
}

/* global
********************************************************/
.datepicker_dashboard .unavailable {
	color: #533 !important;
	cursor: default !important;
	text-decoration: line-through;
}
