@charset "UTF-8";

/**
 * @version		$Id: colour_blue.css 21093 2011-04-06 17:25:27Z infograf768 $
 * @package		Joomla.Administrator
 * @subpackage	templates.hathor
 * @copyright	Copyright (C) 2005 - 2011 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 * @since		1.6
 *
 * Color CSS file for the template - standard
 */

/** 
 * #2c2c2c	Text
 * #054993	Links
 * #ffffff	Background, border, text
 * #c3d2e5	Background alternate, button/icon/menu background
 * #a5bbd4-c3d2e5 Gradient Background
 * #e5f0fa	Background (input required)
 * #e5d9c3	Background Hover, Top/Left icon borders
 * #738498	Main borders
 * #868778	Top/Left hover borders
 * #f6f7db	Right/Bottom hover borders
 * 
 * Special Use Colors:
 * #a20000	Text Error, border invalid
 * #cccccc	Text (faded)
 * #005800	Text (success)
 * #eeeeee	Background (input disabled)
 * #ffffcf	Background permissions debug
 * #cfffda	Background permissions debug
 * #ffcfcf	Background permissions debug
 */

/**
 * General styles
 */
body {
	background-color: #ffffff;
	color: #2c2c2c;
}

div#sbox-content {
}

h1 {
	color: #2c2c2c;
}

a:link {
	color: #054993;
}

a:visited {
	color: #054993;
}

a:hover {

}

/**
 * Overall Styles
 */
#header {
	background: #ffffff url(../images/j_logo.png) no-repeat;
}

#header h1.title {
	color: #2c2c2c;
}

#footer {
	/*background: #ffffff;*/
	/*border: 1px solid #738498;*/
}

#nav {
	border: 1px solid #738498;
	background: #c3d2e5;
	background: -moz-linear-gradient(
	    center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);	
}

#content {
	background: #ffffff;
}

#no-submenu {
	border-bottom: 1px solid #738498;
}

#element-box {
	background: #ffffff;
	border-right: 1px solid #738498;
	border-bottom: 1px solid #738498;
	border-left: 1px solid #738498;
}

#element-box.login {
	border-top: 1px solid #738498;
}

/**
 * Status layout
 */
#module-status a, #module-status span {
}

#module-status {
	/*background: url(../images/mini_icon.png) 3px 5px no-repeat;*/
}

#module-status .preview {
	background: url(../images/menu/icon-16-media.png) 3px 3px no-repeat;
}

#module-status .viewsite {
	background: url(../images/menu/icon-16-viewsite.png) 3px 3px no-repeat;
}

#module-status .unread-messages,#module-status .no-unread-messages {
	background: url(../images/menu/icon-16-messages.png) 3px 3px no-repeat;
}

#module-status .loggedin-users {
	background: url(../images/menu/icon-16-user.png) 3px 3px no-repeat;
}

#module-status .backloggedin-users {
	background: url(../images/menu/icon-16-back-user.png) 3px 3px no-repeat;
}

#module-status .logout {
	background: url(../images/menu/icon-16-logout.png) 3px 3px no-repeat;
}

/**
 * Various Styles
 */
.enabled {
	color: #005800;
}
.disabled {
	color: #a20000;
}
p.error {
	color: #a20000;
}
.warning {
	color: #a20000;
}
.nowarning {
	color: #2c2c2c;
}
.success {
	color: #005800;
}
.allow {
	color: #005800;
}
span.writable {
	color: #005800;
}
.deny {
	color: #a20000;
}
span.unwritable	{
	color: #a20000;
}

.none {
	color: #738498;
}

.protected {
	color: #738498;
}

span.note {
	background: #ffffff;
	color: #2c2c2c;
}

.protected {
	color: #738498;
}

div.checkin-tick {
	background: url(../images/admin/tick.png) 20px 50% no-repeat;
}

/**
 * Overlib
 */
.ol-foreground {
	background-color: #c3d2e5;
}

.ol-background {
	background-color: #005800;
}

.ol-textfont {
	color: #2c2c2c;
}

.ol-captionfont {
	color: #ffffff;
}

.ol-captionfont a {
	color: #054993;
}

/**
 * Subheader, toolbar, page title
 */
div.subheader .padding {
	background: #ffffff;
}

div.pagetitle {
}

.pagetitle h2 {
	color: #2c2c2c;
}

div.configuration {
	color: #2c2c2c;
	background-image: url(../images/menu/icon-16-config.png);
	background-repeat: no-repeat;
}

div.toolbar-box {
	border-right: 1px solid #738498;
	border-bottom: 1px solid #738498;
	border-left: 1px solid #738498;
	background: #ffffff;
}

div.toolbar-list li {
	color: #2c2c2c;
}

div.toolbar-list li.divider {
	border-right:1px dotted #e5d9c3;
}

div.toolbar-list a {
	border-left: 1px solid #e5d9c3;
	border-top: 1px solid #e5d9c3;
	border-right: 1px solid #738498;
	border-bottom: 1px solid #738498;
	background: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);	
}

div.toolbar-list a:hover {
	border-left: 1px solid #868778;
	border-top: 1px solid #868778;
	border-right: 1px solid #f6f7db;
	border-bottom: 1px solid #f6f7db;
	background: #e5d9c3;
	color: #054993;
}

div.toolbar-list li.button a.inactive {
	background: #c3d2e5;
}

/**
 * Pane Slider pane Toggler styles
 */
.pane-sliders .title {
	color: #2c2c2c;
}

.pane-sliders .panel {
	border: 1px solid #738498;
}

.pane-sliders .panel h3 {
	background: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
	color: #054993;
}

.pane-sliders .panel h3:hover {
	background: #e5d9c3;
}

.pane-sliders .panel h3:hover a {
	text-decoration:none;
}

.pane-sliders .content {
	/*background: #c3d2e5;*/
}

.pane-sliders .adminlist {
	border: 0 none;
}

.pane-sliders .adminlist td {
	border: 0 none;
}

.pane-toggler  span {
	background: transparent url(../images/j_arrow.png) 5px 50% no-repeat;
}

.pane-toggler-down span {
	background: transparent url(../images/j_arrow_down.png) 5px 50%
		no-repeat;
}

.pane-toggler-down {
	border-bottom: 1px solid #738498;
}

/**
 * Tabs
 */
dl.tabs dt {
	border: 1px solid #738498;
	background: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
	color: #054993;
}

dl.tabs dt:hover {
	background: #e5d9c3;
}

dl.tabs dt.open {
	background: #ffffff;
	border-bottom: 1px solid #ffffff;
	color: #2c2c2c;
}

dl.tabs dt.open a:visited {
	color: #2c2c2c;
}

dl.tabs dt a:hover {
	text-decoration: none;
}

dl.tabs dt a:focus {
	text-decoration: underline;
}

div.current {
	border: 1px solid #738498;
	background: #ffffff;
}

/* New parameter styles */

div.current fieldset {
	border: none 0;
}

div.current fieldset.adminform {
	border: 1px solid #738498;
}

/**
 * Login Settings
 */
#login-page .pagetitle h2 {
	background: transparent;
}

#login-page #header {
	border-bottom: 1px solid #738498;
}

#login-page #content {
}

#login-page #lock {
	background: url(../images/j_login_lock.png) 50% 0 no-repeat;
}

#login-page #element-box.login {
	background: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
}

#form-login {
	background: #ffffff;
	border: 1px solid #738498;
}

#form-login label {
	color: #2c2c2c;
}

#form-login div.button1 a {
	color: #054993;
	/* padding: 0 30px 0 6px; use this if you use images */
}

#form-login div.button1 a:hover,#form-login div.button1 a:focus {
}

/**
 * Cpanel Settings
 */
.cpanel#element-box {
}

#cpanel div.icon a {
	color: #054993;
	border-left: 1px solid #e5d9c3;
	border-top: 1px solid #e5d9c3;
	border-right: 1px solid #738498;
	border-bottom: 1px solid #738498;
	background: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);	
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus {
	border-left: 1px solid #868778;
	border-top: 1px solid #868778;
	border-right: 1px solid #f6f7db;
	border-bottom: 1px solid #f6f7db;
	color: #054993;
	background: #e5d9c3;
}

/**
 * Form Styles
 */

fieldset {
	border: 1px #738498 solid;
}

legend {
	color: #2c2c2c;
}

fieldset ul.checklist input:focus {
	outline: thin dotted #2c2c2c;
}

fieldset#filter-bar {
	border-top: 0px solid #738498;
	border-right: 0px solid #738498;
	border-bottom: 1px solid #738498;
	border-left: 0px solid #738498;
}

fieldset#filter-bar ol, fieldset#filter-bar ul {
	border: 0;
}

fieldset#filter-bar ol li fieldset, fieldset#filter-bar ul li fieldset {
	border: 0;
}

input,span.faux-input, select,option {
}

	/* Note: these visual cues should be augmented by aria */
.invalid {
	color: #a20000;
}

	/* must be augmented by aria at the same time if changed dynamically by js
	aria-invalid=true or aria-invalid=false */
input.invalid {
	border: 1px solid #a20000;
}

	/* augmented by aria in template javascript */
input.readonly, span.faux-input {
	border: 0;
}

input.required {
	background-color: #e5f0fa;
}

input.disabled {
	background-color: #eeeeee;
}

input,select, span.faux-input {
	background-color: #ffffff;
	border: 1px solid #738498;
}

/* Inputs used as buttons */
input[type="button"], input[type="submit"], input[type="reset"] {
	color: #054993;
	background-color: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
}

input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover, input[type="submit"]:focus,
input[type="reset"]:hover, input[type="reset"]:focus {
	background: #e5d9c3;
}

textarea {
	background-color: #ffffff;
	border: 1px solid #738498;
}

input:focus, select:focus, textarea:focus, option:focus,
input:hover, select:hover, textarea:hover, option:hover {
	background-color: #e5d9c3;
	color: #054993;
}

/**
 * Option or Parameter styles
 */

.paramrules {
	background: #c3d2e5;
}

span.gi {
	color: #738498;
}

/**
 * Admintable Styles
 */
table.admintable td.key,table.admintable td.paramlist_key {
	background-color: #c3d2e5;
	color: #2c2c2c;
	border-bottom: 1px solid #738498;
	border-right: 1px solid #738498;
}

table.paramlist td.paramlist_description {
	background-color: #c3d2e5;
	color: #2c2c2c;
	border-bottom: 1px solid #738498;
	border-right: 1px solid #738498;
}

/**
 * Admin Form Styles
 */
fieldset.adminform {
	border: 1px solid #738498;
}

	/* Table styles are for use with tabular data */
table.adminform {
	background-color: #ffffff;
}

table.adminform tr.row0 {
	background-color: #ffffff;
}

table.adminform tr.row1 {
	background-color: #e5d9c3;
}

table.adminform th {
	color: #2c2c2c;
	background: #ffffff;
}

table.adminform tr {
	border-bottom: 1px solid #738498;
	border-right: 1px solid #738498;
}

/**
 * Adminlist Table layout
 */
table.adminlist {
	border-spacing: 1px;
	background-color: #ffffff;
	color: #2c2c2c;
}

table.adminlist.modal {
	border-right: 1px solid #738498;
	border-left: 1px solid #738498;
}

table.adminlist a {
	color: #054993;
}

table.adminlist thead th {
	background: #ffffff;
	color: #2c2c2c;
	border-bottom:1px solid #738498;
}

table.adminlist thead a:hover {
}

	/* Table row styles */
table.adminlist tbody tr {
	background: #ffffff;
}

table.adminlist tbody tr.row1 {
	background: #ffffff;
}

table.adminlist tbody tr.row1 td,
table.adminlist tbody tr.row1 th {
	/*border-bottom: 1px solid #738498;*/
}

table.adminlist tbody tr.row1:last-child td,
table.adminlist tbody tr.row1:last-child th {
	border-bottom: 1px solid #738498;
}

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td,
table.adminlist tbody tr.row0:hover th,
table.adminlist tbody tr.row1:hover th,
table.adminlist tbody tr.row0:focus td,
table.adminlist tbody tr.row1:focus td,
table.adminlist tbody tr.row0:focus th,
table.adminlist tbody tr.row1:focus th  {
	background-color: #e5d9c3;
}

table.adminlist tbody tr td,
table.adminlist tbody tr th {
	border-right: 1px solid #738498;
}

table.adminlist tbody tr td:last-child {
	border-right: none;
}

table.adminlist tbody tr.row0:first-child td,
table.adminlist tbody tr.row0:first-child th {
	/* border-top: 1px solid #738498; */
}

table.adminlist tbody tr.row0:last-child td,
table.adminlist tbody tr.row0:last-child th {
	border-bottom: 1px solid #738498;
}

table.adminlist tbody tr.row0 td,
table.adminlist tbody tr.row0 th {
	background: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
}

table.adminlist {
	border-bottom: 0 solid #738498;
}

table.adminlist tfoot tr {
	color: #2c2c2c;
}

	/* Table td/th styles */
table.adminlist tfoot td,table.adminlist tfoot th {
	background-color: #ffffff;
	border-top: 1px solid #738498;
}

/**
 * Adminlist buttons
 */
table.adminlist tr td.btns a {
	border: 1px solid #738498;
	background-color: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
	color: #054993;
}

table.adminlist tr td.btns a:hover, table.adminlist tr td.btns a:active, table.adminlist tr td.btns a:focus {
	background-color: #ffffff;
}

/**
 * Saving order icon styling in admin tables
 */
a.saveorder {
	background: url(../images/admin/filesave.png) no-repeat;
}

a.saveorder.inactive {
	background-position: 0px -16px;
}

/**
 * Saving order icon styling in admin tables
 */
fieldset.batch {
	background: #fff;
}

/**
 * Button styling
 */
button {
	color: #054993;
	border: 1px solid #738498;
	background-color: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
}

button:hover, button:focus {
	background: #e5d9c3;
}

.invalid {
	color: #ff0000;
}


/* Button 1 Type */
.button1 {
	border: 1px solid #738498;
	color: #054993;
	background: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
}

	/* Use this if you add images to the buttons such as directional arrows */
.button1 .next {
	/* background: transparent url(../images/j_button1_next.png) 100% 0 no-repeat;  */
}

.button1 a {
	color: #054993;
	/* add padding if you are using the directional images */
	/* padding: 0 30px 0 6px; */
}

.button1 a:hover,.button1 a:focus {
	background: #e5d9c3;
}

	/* Button 2 Type */
.button2-left,.button2-right {
	border: 1px solid #738498;
	background-color: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
}

.button2-left a,.button2-right a,.button2-left span,.button2-right span
	{
	color: #054993;
}

	/* these are inactive buttons */
.button2-left span,.button2-right span {
	color: #999999;
}

.page span,.blank span {
	color: #054993;
}

.button2-left a:hover,.button2-right a:hover,.button2-left a:focus,.button2-right a:focus
	{
	background: #e5d9c3;
}

/* Note: use these references to add images/arrows to the buttons */

.button2-right .prev {
	/* background-image: url(../images/j_button2_prev.png);
	background-position: left center;
	background-repeat: no-repeat; */
}

.button2-right.off .prev {
	/* background: url(../images/j_button2_prev_off.png) no-repeat; */
}

.button2-right .start {
}

.button2-right.off .start {
}

.button2-left .page,.button2-left .blank {
}

.button2-left .next {
}

.button2-left.off .next {
}

.button2-left .end {
}

.button2-left.off .end {
}

.button2-left .image {
}

.button2-left .readmore {
}

.button2-left .pagebreak {
}

.button2-left .blank {
}

/**
 * Pagination styles
 */

	/* Normal pagination styles */

.pagination div.limit {
}

.pagination div.limit label {
}

.pagination div.limit select {
}

	/* The Go submittal button */
.pagination button {
}

div.pagination .button2-right, div.pagination .button2-left {
}

	/* Grey out the current page number */
.pagination .page span {
	color: #999999;
}

	/* Style if pagination is part of the table (old style) */
table.adminlist .pagination {
}

table.adminlist .pagination button {
}

/**
 * MCE Editor
 */
div.toggle-editor {
}

/**
 * Tooltips
 */
.tip {
	background: #ffffff;
	border: 1px solid #738498;
}

.tip-title {
	background: url(../images/selector-arrow-std.png) no-repeat;
}

.tip-text {
}

/**
 * Calendar
 */
a img.calendar {
	background: url(../images/calendar.png) no-repeat;
}

/**
 * JGrid styles
 */
a.jgrid:hover {
}

.jgrid span.publish {
	background-image: url(../images/admin/tick.png);
}

.jgrid span.unpublish {
	background-image: url(../images/admin/publish_x.png);
}

.jgrid span.archive {
	background-image: url(../images/menu/icon-16-archive.png);
}

.jgrid span.trash {
	background-image: url(../images/menu/icon-16-trash.png);
}

.jgrid span.default {
	background-image: url(../images/menu/icon-16-default.png);
}

.jgrid span.notdefault {
	background-image: url(../images/menu/icon-16-notdefault.png);
}

.jgrid span.checkedout {
	background-image: url(../images/admin/checked_out.png);
}

.jgrid span.downarrow {
	background-image: url(../images/admin/downarrow.png);
}

.jgrid span.downarrow_disabled {
	background-image: url(../images/admin/downarrow0.png);
}

.jgrid span.uparrow {
	background-image: url(../images/admin/uparrow.png);
}

.jgrid span.uparrow_disabled {
	background-image: url(../images/admin/uparrow0.png);
}

.jgrid span.published {
	background-image: url(../images/admin/publish_g.png);
}

.jgrid span.expired {
	background-image: url(../images/admin/publish_r.png);
}

.jgrid span.pending	{
	background-image: url(../images/admin/publish_y.png);
}

/**
 * Menu Icons
 * These icons are used on the Administrator menu
 * The classes are constructed dynamically when the menu is generated
 */
.icon-16-archive {
	background-image: url(../images/menu/icon-16-archive.png);
}

.icon-16-article {
	background-image: url(../images/menu/icon-16-article.png);
}

.icon-16-banners {
	background-image: url(../images/menu/icon-16-banner.png);
}

.icon-16-banners-clients {
	background-image: url(../images/menu/icon-16-banner-client.png);
}

.icon-16-banners-tracks {
	background-image: url(../images/menu/icon-16-banner-tracks.png);
}

.icon-16-banners-cat {
	background-image: url(../images/menu/icon-16-banner-categories.png);
}

.icon-16-category {
	background-image: url(../images/menu/icon-16-category.png);
}

.icon-16-checkin {
	background-image: url(../images/menu/icon-16-checkin.png);
}

.icon-16-clear {
	background-image: url(../images/menu/icon-16-clear.png);
}

.icon-16-component {
	background-image: url(../images/menu/icon-16-component.png);
}

.icon-16-config {
	background-image: url(../images/menu/icon-16-config.png);
}

.icon-16-contact {
	background-image: url(../images/menu/icon-16-contacts.png);
}

.icon-16-contact-cat {
	background-image: url(../images/menu/icon-16-contacts-categories.png);
}

.icon-16-content {
	background-image: url(../images/menu/icon-16-content.png);
}

.icon-16-cpanel {
	background-image: url(../images/menu/icon-16-cpanel.png);
}

.icon-16-default {
	background-image: url(../images/menu/icon-16-default.png);
}

.icon-16-featured {
	background-image: url(../images/menu/icon-16-featured.png);
}

.icon-16-groups {
	background-image: url(../images/menu/icon-16-groups.png);
}

.icon-16-help {
	background-image: url(../images/menu/icon-16-help.png);
}

.icon-16-help-this {
	background-image: url(../images/menu/icon-16-help-this.png);
}

.icon-16-help-forum {
	background-image: url(../images/menu/icon-16-help-forum.png);
}

.icon-16-help-docs {
	background-image: url(../images/menu/icon-16-help-docs.png);
}

.icon-16-help-jed {
	background-image: url(../images/menu/icon-16-help-jed.png);
}

.icon-16-help-jrd {
	background-image: url(../images/menu/icon-16-help-jrd.png);
}

.icon-16-help-community {
	background-image: url(../images/menu/icon-16-help-community.png);
}

.icon-16-help-security {
	background-image: url(../images/menu/icon-16-help-security.png);
}

.icon-16-help-dev {
	background-image: url(../images/menu/icon-16-help-dev.png);
}

.icon-16-help-shop {
	background-image: url(../images/menu/icon-16-help-shop.png);
}

.icon-16-info {
	background-image: url(../images/menu/icon-16-info.png);
}

.icon-16-install {
	background-image: url(../images/menu/icon-16-install.png);
}

.icon-16-language {
	background-image: url(../images/menu/icon-16-language.png);
}

.icon-16-levels {
	background-image: url(../images/menu/icon-16-levels.png);
}

.icon-16-logout {
	background-image: url(../images/menu/icon-16-logout.png);
}

.icon-16-maintenance {
	background-image: url(../images/menu/icon-16-maintenance.png);
}

.icon-16-massmail {
	background-image: url(../images/menu/icon-16-massmail.png);
}

.icon-16-media {
	background-image: url(../images/menu/icon-16-media.png);
}

.icon-16-menu {
	background-image: url(../images/menu/icon-16-menu.png);
}

.icon-16-menumgr {
	background-image: url(../images/menu/icon-16-menumgr.png);
}

.icon-16-messages {
	background-image: url(../images/menu/icon-16-messaging.png);
}

.icon-16-messages-add {
	background-image: url(../images/menu/icon-16-new-privatemessage.png);
}

.icon-16-messages-read {
	background-image: url(../images/menu/icon-16-messages.png);
}

.icon-16-module {
	background-image: url(../images/menu/icon-16-module.png);
}

/* .icon-16-new 		{ background-image: url(../images/menu/icon-16-new.png); } */
.icon-16-newarticle {
	background-image: url(../images/menu/icon-16-newarticle.png);
}

.icon-16-newcategory {
	background-image: url(../images/menu/icon-16-newcategory.png);
}

.icon-16-newgroup {
	background-image: url(../images/menu/icon-16-newgroup.png);
}

.icon-16-newlevel {
	background-image: url(../images/menu/icon-16-newlevel.png);
}

.icon-16-newuser {
	background-image: url(../images/menu/icon-16-newuser.png);
}

.icon-16-plugin {
	background-image: url(../images/menu/icon-16-plugin.png);
}

.icon-16-profile {
	background-image: url(../images/menu/icon-16-user.png);
}

.icon-16-purge {
	background-image: url(../images/menu/icon-16-purge.png);
}

.icon-16-readmess {
	background-image: url(../images/menu/icon-16-readmess.png);
}

.icon-16-section {
	background-image: url(../images/menu/icon-16-section.png);
}

.icon-16-static {
	background-image: url(../images/menu/icon-16-static.png);
}

.icon-16-stats {
	background-image: url(../images/menu/icon-16-stats.png);
}

.icon-16-themes {
	background-image: url(../images/menu/icon-16-themes.png);
}

.icon-16-trash {
	background-image: url(../images/menu/icon-16-trash.png);
}

.icon-16-user {
	background-image: url(../images/menu/icon-16-user.png);
}

.icon-16-delete {
	background-image: url(../images/menu/icon-16-delete.png);
}

.icon-16-help-trans {
	background-image: url(../images/menu/icon-16-help-trans.png);
}

.icon-16-newsfeeds {
	background-image: url(../images/menu/icon-16-newsfeeds.png);
}

.icon-16-newsfeeds-cat {
	background-image: url(../images/menu/icon-16-newsfeeds-cat.png);
}

.icon-16-redirect {
	background-image: url(../images/menu/icon-16-redirect.png);
}

.icon-16-search {
	background-image: url(../images/menu/icon-16-search.png);
}

.icon-16-weblinks {
	background-image: url(../images/menu/icon-16-links.png);
}

.icon-16-weblinks-cat {
	background-image: url(../images/menu/icon-16-links-cat.png);
}

/**
 * Toolbar icons
 * These icons are used for the toolbar buttons
 * The classes are constructed dynamically when the toolbar is created
 */
.icon-32-send {
	background-image: url(../images/toolbar/icon-32-send.png);
}

.icon-32-delete {
	background-image: url(../images/toolbar/icon-32-delete.png);
}

.icon-32-help {
	background-image: url(../images/toolbar/icon-32-help.png);
}

.icon-32-cancel {
	background-image: url(../images/toolbar/icon-32-cancel.png);
}

.icon-32-checkin {
	background-image: url(../images/toolbar/icon-32-checkin.png);
}

.icon-32-options{
	background-image: url(../images/toolbar/icon-32-config.png);
}

.icon-32-apply {
	background-image: url(../images/toolbar/icon-32-apply.png);
}

.icon-32-back {
	background-image: url(../images/toolbar/icon-32-back.png);
}

.icon-32-forward {
	background-image: url(../images/toolbar/icon-32-forward.png);
}

.icon-32-save {
	background-image: url(../images/toolbar/icon-32-save.png);
}

.icon-32-edit {
	background-image: url(../images/toolbar/icon-32-edit.png);
}

.icon-32-copy {
	background-image: url(../images/toolbar/icon-32-copy.png);
}

.icon-32-move {
	background-image: url(../images/toolbar/icon-32-move.png);
}

.icon-32-new {
	background-image: url(../images/toolbar/icon-32-new.png);
}

.icon-32-upload {
	background-image: url(../images/toolbar/icon-32-upload.png);
}

.icon-32-assign {
	background-image: url(../images/toolbar/icon-32-publish.png);
}

.icon-32-html {
	background-image: url(../images/toolbar/icon-32-html.png);
}

.icon-32-css {
	background-image: url(../images/toolbar/icon-32-css.png);
}

.icon-32-menus {
	background-image: url(../images/toolbar/icon-32-menu.png);
}

.icon-32-publish {
	background-image: url(../images/toolbar/icon-32-publish.png);
}

.icon-32-unblock {
	background-image: url(../images/toolbar/icon-32-unblock.png);
}

.icon-32-unpublish {
	background-image: url(../images/toolbar/icon-32-unpublish.png);
}

.icon-32-restore {
	background-image: url(../images/toolbar/icon-32-revert.png);
}

.icon-32-trash {
	background-image: url(../images/toolbar/icon-32-trash.png);
}

.icon-32-archive {
	background-image: url(../images/toolbar/icon-32-archive.png);
}

.icon-32-unarchive {
	background-image: url(../images/toolbar/icon-32-unarchive.png);
}

.icon-32-preview {
	background-image: url(../images/toolbar/icon-32-preview.png);
}

.icon-32-default {
	background-image: url(../images/toolbar/icon-32-default.png);
}

.icon-32-refresh {
	background-image: url(../images/toolbar/icon-32-refresh.png);
}

.icon-32-save-new {
	background-image: url(../images/toolbar/icon-32-save-new.png);
}

.icon-32-save-copy {
	background-image: url(../images/toolbar/icon-32-save-copy.png);
}

.icon-32-error {
	background-image: url(../images/toolbar/icon-32-error.png);
}

.icon-32-new-style {
	background-image: url(../images/toolbar/icon-32-new-style.png);
}

.icon-32-delete-style {
	background-image: url(../images/toolbar/icon-32-delete-style.png);
}

.icon-32-purge {
	background-image: url(../images/toolbar/icon-32-purge.png);
}

.icon-32-remove {
	background-image: url(../images/toolbar/icon-32-remove.png);
}
.icon-32-featured {
	background-image: url(../images/toolbar/icon-32-featured.png);
}

/**
 * Quick Icons
 * Also knows as Header Icons
 * These are used for the Quick Icons on the Control Panel
 * The same classes are also assigned the Component Title
 */
.icon-48-categories {
	background-image: url(../images/header/icon-48-category.png);
}

.icon-48-category-edit {
	background-image: url(../images/header/icon-48-category.png);
}

.icon-48-category-add {
	background-image: url(../images/header/icon-48-category-add.png);
}

.icon-48-generic {
	background-image: url(../images/header/icon-48-generic.png);
}

.icon-48-banners {
	background-image: url(../images/header/icon-48-banner.png);
}

.icon-48-banners-categories {
	background-image: url(../images/header/icon-48-banner-categories.png);
}

.icon-48-banners-category-edit {
	background-image: url(../images/header/icon-48-banner-categories.png);
}

.icon-48-banners-category-add {
	background-image: url(../images/header/icon-48-category-add.png);
}

.icon-48-banners-clients {
	background-image: url(../images/header/icon-48-banner-client.png);
}

.icon-48-banners-tracks {
	background-image: url(../images/header/icon-48-banner-tracks.png);
}

.icon-48-checkin {
	background-image: url(../images/header/icon-48-checkin.png);
}

.icon-48-clear {
	background-image: url(../images/header/icon-48-clear.png);
}

.icon-48-contact {
	background-image: url(../images/header/icon-48-contacts.png);
}

.icon-48-contact-categories {
	background-image: url(../images/header/icon-48-contacts-categories.png);
}

.icon-48-contact-category-edit {
	background-image: url(../images/header/icon-48-contacts-categories.png);
}

.icon-48-contact-category-add {
	background-image: url(../images/header/icon-48-category-add.png);
}

.icon-48-purge {
	background-image: url(../images/header/icon-48-purge.png);
}

.icon-48-cpanel {
	background-image: url(../images/header/icon-48-cpanel.png);
}

.icon-48-config {
	background-image: url(../images/header/icon-48-config.png);
}

.icon-48-groups {
	background-image: url(../images/header/icon-48-groups.png);
}

.icon-48-groups-add {
	background-image: url(../images/header/icon-48-groups-add.png);
}

.icon-48-levels {
	background-image: url(../images/header/icon-48-levels.png);
}

.icon-48-levels-add {
	background-image: url(../images/header/icon-48-levels-add.png);
}

.icon-48-module {
	background-image: url(../images/header/icon-48-module.png);
}

.icon-48-menu {
	background-image: url(../images/header/icon-48-menu.png);
}

.icon-48-menu-add {
	background-image: url(../images/header/icon-48-menu-add.png);
}

.icon-48-menumgr {
	background-image: url(../images/header/icon-48-menumgr.png);
}

.icon-48-trash {
	background-image: url(../images/header/icon-48-trash.png);
}

.icon-48-user {
	background-image: url(../images/header/icon-48-user.png);
}

.icon-48-user-add {
	background-image: url(../images/header/icon-48-user-add.png);
}

.icon-48-user-edit {
	background-image: url(../images/header/icon-48-user-edit.png);
}

.icon-48-user-profile {
	background-image: url(../images/header/icon-48-user-profile.png);
}

.icon-48-inbox {
	background-image: url(../images/header/icon-48-inbox.png);
}

.icon-48-new-privatemessage {
	background-image: url(../images/header/icon-48-new-privatemessage.png);
}

.icon-48-msgconfig {
	background-image: url(../images/header/icon-48-message_config.png);
}

.icon-48-langmanager {
	background-image: url(../images/header/icon-48-language.png);
}

.icon-48-mediamanager {
	background-image: url(../images/header/icon-48-media.png);
}

.icon-48-plugin {
	background-image: url(../images/header/icon-48-plugin.png);
}

.icon-48-help_header {
	background-image: url(../images/header/icon-48-help_header.png);
}

.icon-48-impressions {
	background-image: url(../images/header/icon-48-stats.png);
}

.icon-48-browser {
	background-image: url(../images/header/icon-48-stats.png);
}

.icon-48-searchtext {
	background-image: url(../images/header/icon-48-stats.png);
}

.icon-48-thememanager {
	background-image: url(../images/header/icon-48-themes.png);
}

.icon-48-writemess {
	background-image: url(../images/header/icon-48-writemess.png);
}

.icon-48-featured {
	background-image: url(../images/header/icon-48-featured.png);
}

.icon-48-sections {
	background-image: url(../images/header/icon-48-section.png);
}

.icon-48-article-add {
	background-image: url(../images/header/icon-48-article-add.png);
}

.icon-48-article-edit {
	background-image: url(../images/header/icon-48-article-edit.png);
}

.icon-48-article {
	background-image: url(../images/header/icon-48-article.png);
}

.icon-48-content-categories {
	background-image: url(../images/header/icon-48-category.png);
}

.icon-48-content-category-edit {
	background-image: url(../images/header/icon-48-category.png);
}

.icon-48-content-category-add {
	background-image: url(../images/header/icon-48-category-add.png);
}

.icon-48-install {
	background-image: url(../images/header/icon-48-extension.png);
}

.icon-48-dbbackup {
	background-image: url(../images/header/icon-48-backup.png);
}

.icon-48-dbrestore {
	background-image: url(../images/header/icon-48-dbrestore.png);
}

.icon-48-dbquery {
	background-image: url(../images/header/icon-48-query.png);
}

.icon-48-systeminfo {
	background-image: url(../images/header/icon-48-info.png);
}

.icon-48-massmail {
	background-image: url(../images/header/icon-48-massmail.png);
}

.icon-48-redirect {
	background-image: url(../images/header/icon-48-redirect.png);
}

.icon-48-search	{
	background-image: url(../images/header/icon-48-search.png);
}

.icon-48-newsfeeds {
	background-image: url(../images/header/icon-48-newsfeeds.png);
}

.icon-48-newsfeeds-categories {
	background-image: url(../images/header/icon-48-newsfeeds-cat.png);
}

.icon-48-newsfeeds-category-edit {
	background-image: url(../images/header/icon-48-newsfeeds-cat.png);
}

.icon-48-newsfeeds-category-add {
	background-image: url(../images/header/icon-48-category-add.png);
}

.icon-48-weblinks {
	background-image: url(../images/header/icon-48-links.png);
}

.icon-48-weblinks-categories {
	background-image: url(../images/header/icon-48-links-cat.png);
}

.icon-48-weblinks-category-edit {
	background-image: url(../images/header/icon-48-links-cat.png);
}

.icon-48-weblinks-category-add {
	background-image: url(../images/header/icon-48-category-add.png);
}

/**
 * General styles
 */
div.message {
	border: 1px solid #738498;
	color: #2c2c2c;
}

.helpFrame {
	border-left: 0px solid #738498;
	border-right: none;
	border-top: none;
	border-bottom: none;
}

.outline {
  border: 1px solid #738498;
  background: #ffffff;
}

/**
 * Override mootree.css styles
 * media/system/css/mootree.css
 */
.mooTree_selected	 {
}

/**
 * Modal Styles
 */
dl.menu_type dt {
	border-bottom: 1px solid #738498;
}

ul#new-modules-list  {
	border-top: 1px solid #738498;
}

/**
 * Override mediamanager.css styles
 * administrator/components/com_media/assets/mediamanager.css
 */
#folderview input#folderpath {
}

.upload-queue .queue-loader {
}

.upload-queue .queue-subloader {
}

/**
 * User Accessibility
 */

	/* Skip to Content Visual Styling */
#skiplinkholder a, #skiplinkholder a:link, #skiplinkholder a:visited {
	color: #ffffff;
	background: #054993;
	border-bottom: solid #336 2px;
}

/**
 * Admin Form Styles
 */
fieldset.panelform {
	border: none 0;
}

/**
 * ACL STYLES relocated from com_users/media/grid.css
 */
a.move_up {
	background-image:url('../images/admin/uparrow.png');
}

span.move_up {
	background-image:url('../images/admin/uparrow0.png');
}

a.move_down {
	background-image:url('../images/admin/downarrow.png');
}

span.move_down {
	background-image:url('../images/admin/downarrow0.png');
}

a.grid_false {
	background-image:url('../images/admin/publish_x.png');
}

a.grid_true {
	background-image:url('../images/admin/tick.png');
}

a.grid_trash {
	background-image:url('../images/admin/icon-16-trash.png');
}

/**
 * ACL PANEL STYLES
 */
 
/* All Tabs */

tr.row1 {
	background-color: #c3d2e5;
}

/* Summary Tab */
table.aclsummary-table td.col2,
table.aclsummary-table th.col2,
table.aclsummary-table td.col3,
table.aclsummary-table th.col3,
table.aclsummary-table td.col4,
table.aclsummary-table th.col4,
table.aclsummary-table td.col5,
table.aclsummary-table th.col5,
table.aclsummary-table td.col6,
table.aclsummary-table th.col6,
table.aclmodify-table td.col2,
table.aclmodify-table th.col2 {
	border-left: 1px solid #738498;
}

/* Icons */

span.icon-16-unset {
	background: url(../images/admin/icon-16-denyinactive.png) no-repeat;
}

span.icon-16-allowed {
	background: url(../images/admin/icon-16-allow.png) no-repeat;
}

span.icon-16-denied {
	background: url(../images/admin/icon-16-deny.png) no-repeat;
}

span.icon-16-locked {
	background: url(../images/admin/checked_out.png) 0 0 no-repeat;
}

label.icon-16-allow {
	background:url(../images/admin/icon-16-allow.png) no-repeat;
}

label.icon-16-deny {
	background:url(../images/admin/icon-16-deny.png) no-repeat;
}
a.icon-16-allow {
	background:url(../images/admin/icon-16-allow.png) no-repeat ;
}
a.icon-16-deny {
	background:url(../images/admin/icon-16-deny.png) no-repeat ;
}
a.icon-16-allowinactive {
	background:url(../images/admin/icon-16-allowinactive.png) no-repeat ;
}
a.icon-16-denyinactive {
	background:url(../images/admin/icon-16-denyinactive.png) no-repeat ;
}

/* ACL footer/legend */

ul.acllegend li.acl-allowed {
	background:url(../images/admin/icon-16-allow.png) no-repeat left;
}

ul.acllegend li.acl-denied {
	background:url(../images/admin/icon-16-deny.png) no-repeat left;
}

li.acl-editgroups,
li.acl-resetbtn {
	background-color: #c3d2e5;
	border: 1px solid #738498;
}

li.acl-editgroups a,
li.acl-resetbtn a {
	color: #054993;
}

li.acl-editgroups a:hover,
li.acl-resetbtn a:hover,
li.acl-editgroups a:focus,
li.acl-resetbtn a:focus {
}

li.acl-editgroups:hover,
li.acl-resetbtn:hover,
li.acl-editgroups:focus,
li.acl-resetbtn:focus {
	background-color:#e5d9c3;
}

/* ACL Config --------- */
table#acl-config{
	border: 1px solid #738498;
}

table#acl-config th,
table#acl-config td {
	background: #c3d2e5;
	border-bottom: 1px solid #738498;
}

table#acl-config th.acl-groups {
	border-right: 1px solid #738498;
}

/**
* Mod_rewrite Warning
*/
#jform_sef_rewrite-lbl {
	background: url(../images/admin/icon-16-notice-note.png) right top no-repeat;
}

/**
* Options modal- config
*/


/**
* Permission Rules
*/

#permissions-sliders ul#rules,
#permissions-sliders ul#rules ul
{  
    border:solid 0px #738498; 
    background:#ffffff; 
}

ul#rules li .pane-sliders .panel h3.title
{
	border:solid 0px #738498;
}

#permissions-sliders ul#rules .pane-slider
{
	border:solid 1px #738498;
}

#permissions-sliders ul#rules li h3
{
	border:solid 1px #738498; 
}

#permissions-sliders ul#rules li h3.pane-toggler-down a
{	
	border:solid 0px;
}

#permissions-sliders ul#rules li h3.pane-toggler-down
{
}
    
#permissions-sliders ul#rules li h3.pane-toggler-down span
{ 
}    
        
#permissions-sliders ul#rules .group-kind
{
	color:#2c2c2c;
}

#permissions-sliders ul#rules table.group-rules
{
	border:solid 1px #738498; 
}
            
#permissions-sliders ul#rules table.group-rules caption
{
}

#permissions-sliders ul#rules table.group-rules td
{
    border-right:solid 1px #738498; 
    border-bottom:solid 1px #738498;
}

#permissions-sliders ul#rules table.group-rules th
{
    background:#e5d9c3; 
    border-right:solid 1px #738498;
    border-bottom:solid 1px #738498; 
    color:#2c2c2c;
}

ul#rules table.aclmodify-table
{
	border:solid 1px #738498;
}
	
ul#rules table.group-rules td label
{
	border:solid 0px #738498;
}
	
#permissions-sliders ul#rules .mypanel
{
	border:solid 0px #738498; 
}

#permissions-sliders .mypanel table.group-rules caption
{
}  

#permissions-sliders  ul#rules  table.group-rules td
{
   background: #ffffff;
}
#permissions-sliders span.level
{
	color:#738498; 
	background-image:none;
}

#permissions-sliders .pane-toggler span
{
}

#permissions-sliders .pane-toggler-down span
{
}

#permissions-sliders ul#rules .panel h3
{
}

/*
 * Debug styles
 */
.check-0,
table.adminlist tbody td.check-0 {
	background-color: #FFFFCF;
}

.check-a,
table.adminlist tbody td.check-a {
	background-color: #CFFFDA;
}

.check-d,
table.adminlist tbody td.check-d {
	background-color: #FFCFCF;
}

/**
 * System Messages
 */

#system-message dd ul {
	color: #2c2c2c;
}

#system-message dd.error ul {
		color: #2c2c2c;
}

#system-message dd.message ul {
		color: #2c2c2c;
}

#system-message dd.notice ul {
		color: #2c2c2c;
}

/** CSS file for Accessible Admin Menu
 * based on Matt Carrolls' son of suckerfish
 * with javascript by Bill Tomczak
 */

	/* Note: set up the font-size on the id and used 100% on the elements.
	If ul/li/a are different ems, then the shifting back via non-js keyboard
	doesn't work properly */

/**
 * Menu Styling
 */
#menu { /* this is on the main ul */
	color: #2c2c2c;
}

#menu ul { /* all lists */
	background: #c3d2e5;
	background: -moz-linear-gradient(
	    center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
	color: #2c2c2c;	
}

#menu ul li.node {
	background: url(../images/j_arrow.png) no-repeat right 50%;
}

#menu ul li.separator {
	margin-bottom: 0;
	border-bottom: 1px dotted #738498;
}

#menu a {
	color: #054993;
	background-repeat: no-repeat;
	background-position: left 50%;
}

#menu li { /* all list items */
	border-right: 1px solid #738498;
	background-color: transparent; 	
}

#menu li a {
	/*border: 1px solid #e5d9c3;*/
}

#menu li li a {
	/*border: 1px solid #e5d9c3;*/
}

#menu li a:hover, #menu li a:focus {
	background-color: #e5d9c3;
	/*border-top: 1px solid #868778;
	border-right: 1px solid #f6f7db;
	border-left: 1px solid #868778;
	border-bottom: 1px solid #f6f7db;*/
}

#menu li.disabled a:hover, #menu li.disabled a:focus, #menu li.disabled a
	{
	color: #738498;
	background-color: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
	/*border-top: 1px solid #e5d9c3;
	border-right: 1px solid #e5d9c3;
	border-bottom: 1px solid #e5d9c3;
	border-left: 1px solid #e5d9c3;*/
}

#menu li ul { /* second-level lists */
	border: 1px solid #738498; 
}

#menu li li { /* second-level row */ 
	background-color: transparent;
}

#menu li ul ul { /* third-and-above-level lists */
}

#menu li:hover ul ul,#menu li.sfhover ul ul {
}

#menu li:hover ul,#menu li.sfhover ul {
	/* lists nested under hovered list items */
	/*border-left: 1px solid #e5d9c3;
	border-right: 1px solid #e5d9c3;*/
}

#menu li li:hover ul,#menu li li.sfhover ul {
	/*border-left: 1px solid #e5d9c3;
	border-right: 1px solid #e5d9c3;*/
}

/**
 * Styling parents
 */

 	/* 1 level - sfhover */
#menu li.sfhover a {
	background-color: #e5d9c3;
	/*border-top: 1px solid #868778;
	border-right: 1px solid #f9f9f9;
	border-left: 1px solid #868778;
	border-bottom: 1px solid #f9f9f9;*/
}

	/* 2 level - normal */
#menu li.sfhover li a {
	/*background-color: #c3d2e5;*/
	background-color: transparent;
	/*border: 1px solid #d3d4ca;*/
}

	/* 2 level - hover */
#menu li.sfhover li.sfhover a,#menu li li a:focus {
	background-color: #e5d9c3;
	/*border-top: 1px solid #868778;
	border-right: 1px solid #f9f9f9;
	border-left: 1px solid #868778;
	border-bottom: 1px solid #f9f9f9;*/
}

	/* 3 level - normal */
#menu li.sfhover li.sfhover li a {
	/*background-color: #c3d2e5;*/
	background-color: transparent;
	/*border: 1px solid #d3d4ca;*/
}

	/* 3 level - hover */
#menu li.sfhover li.sfhover li.sfhover a,#menu li li li a:focus {
	background-color: #e5d9c3;
	/*border-top: 1px solid #868778;
	border-right: 1px solid #f9f9f9;
	border-left: 1px solid #868778;
	border-bottom: 1px solid #f9f9f9;*/
}

/* bring back the focus elements into view */
#menu li li a:focus, #menu li li li a:focus {
	background-color: #e5d9c3;
	/*border-top: 1px solid #868778;
	border-right: 1px solid #f9f9f9;
	border-left: 1px solid #868778;
	border-bottom: 1px solid #f9f9f9;*/
}

#menu li li li a:focus {
	background-color: #e5d9c3;
	/*border-top: 1px solid #868778;
	border-right: 1px solid #f9f9f9;
	border-left: 1px solid #868778;
	border-bottom: 1px solid #f9f9f9;*/
}

#menu li:hover a:focus,#menu li.sfhover a.sffocus {
}

#menu li li:hover a:focus+ul,#menu li li.sfhover a.sffocus+ul {
}

/**
 * Submenu styling
 */
#submenu {
	border-bottom: 1px solid #738498;
	/* border-bottom plus padding-bottom is the technique */
	/* This is the background befind the tabs */
	/*background: #ffffff;*/
}

#submenu ul,#submenu li {
}

#submenu a, #submenu span.nolink {
	background: #c3d2e5;
	background: -webkit-gradient(linear, left top, left bottom,
	    color-stop(0.00, #a5bbd4),
	    color-stop(0.7, #c3d2e5)
	);
	background: -moz-linear-gradient(center top,
	    #a5bbd4,
	    #c3d2e5 70%
	);
	border: 1px solid #738498;
	color: #054993;
}

#submenu span.nolink {
}

#submenu a:hover, #submenu a:focus {
	background: #e5d9c3;
}

#submenu a.active, #submenu span.nolink.active {
	background: #fff;
	border-bottom: 1px solid #fff;
	color: #000;
}

.element-invisible {
	margin: 0;
	padding: 0;
}
