@charset "UTF-8";

/**
 * @version		$Id: template.css 20742 2011-02-17 16:26:27Z infograf768 $
 * @package		Joomla.Administrator
 * @subpackage	templates.hathor
 * @copyright	Copyright (C) 2005 - 2011 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 * @since		1.6
 *
 * Main CSS file for the template
 */

/**
 * CSS Reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	background: transparent;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/**
 * General styles
 */
html {
	overflow-y: scroll;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	line-height: 1.5em;
	height: 100%;
}

body,td,th,span,a {
	font-family: Arial, Helvetica, sans-serif;
}

html,body {
	height: 100%;
}

a,img {
	padding: 0;
	margin: 0;
}

img {
	border: 0 none;
}

form {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	padding-bottom: 8px;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 2em;
}

h2 {
	padding-top: .83em;
	padding-bottom: .83em;
}

h3 {
	font-size: 1.4em;
}

a:link {
	color: #054993;
	text-decoration: none;
}

a:visited {
	color: #054993;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	text-decoration: underline;
}

iframe {
	border: 0;
}

/* new styles */

.enabled 	{ color: #005800; font-weight: bold; }
.disabled 	{ color: #a20000; font-weight: bold; }
p.error 	{ color: #a20000; font-weight: bold; }
.warning 	{ color: #a20000; font-weight: bold; }
.nowarning 	{ color: #2c2c2c; font-weight: bold; }
.success 	{ color: #005800; font-weight: bold;}
.allow 		{ color: #005800;}
span.writable 		{ color: #005800;}
.deny 		{ color: #a20000;}
span.unwritable		{ color: #a20000;}
.none 		{ color: #aaaaaa;}
.pointer	{ cursor: pointer;}
.nowrap { white-space: nowrap; }

/* end new styles */

/**
 * Overall Styles
 */
#minwidth, #minwidth-body {
	min-width: 960px;
}

#containerwrap {
	position: relative;
}


#header {
	position: relative;
}

#header h1.title {
	font-size: 1.5em;
	font-weight: normal;
	line-height: 25px;
	margin: 0;
	padding: 0 0 0 120px;
}

#footer {
	padding: 10px 20px;
}

#footer .copyright {
	margin: 0 0 0 0;
	text-align: center;
}

#footer .version {

}

#footer p {
	font-size: 1.2em;
}

#nav {
}

#nav .no-nav {
	line-height: 2em;
}

#content {
	margin: 5px 20px 20px 20px;
}

#no-submenu {
}

#element-box {
}

#element-box.login {
}

#element-box.cpanel {
	padding: 15px;
}

/**
 * Status layout
 */
#module-status {
	position: absolute;
	right: 0;
	top: 0;
}

#module-status span {
	display: block;
	float: left;
	padding: 4px 20px 0 22px;
	font-size: 1.2em;
}


#module-status .unread-messages a {
	font-weight: bold;
}

.title-ua {
	position: relative;
	width: 60%;
}

/**
 * Various Styles
 */
.enabled {
	font-weight: bold;
}
.disabled {
	font-weight: bold;
}
p.error	{
	font-weight: bold;
}
.warning {
	font-weight: bold;
}
.nowarning {
	font-weight: bold;
}
.success {
	font-weight: bold;
}
.pointer {
	cursor: pointer;
}
.nowrap {
	white-space: nowrap;
} 

span.note {
	display: block;
	padding: 5px;
}

div.checkin-tick {
	text-indent: -9999px;
}

/**
 * Overlib
 */
.ol-foreground {
}

.ol-background {
}

.ol-textfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

.ol-captionfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

.ol-captionfont a {
	text-decoration: none;
}

.ol-closefont {
}

/**
 * Subheader, toolbar, page title
 */
div.subheader .padding {
	padding: 0px;
}

div.pagetitle {
	padding: 0 0 5px 0px;
	margin: 0;
	background-repeat: no-repeat;
	background-position: left 50%;
	line-height: 54px;
}

.pagetitle h2 {
	padding: 0 0 0 50px;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 48px;
	font-style: italic;
}

div.configuration {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 2em;
	padding-left: 30px;
	margin-left: 10px;
}

div.toolbar-box {
}

div.toolbar-box h3 {
	height: 0;
	overflow: hidden;
	position: absolute;
	padding:0;
	margin:0;
}

div.toolbar-list {
	float: left;
	text-align: right;
	padding: 0;
}

div.toolbar-list li {
	padding: 5px 1px 5px 4px;
	text-align: center;
	height: 52px;
	list-style: none;
	float: left;
}

div.toolbar-list li.spacer {
	width: 10px;
}

div.toolbar-list li.divider {
	width: 10px;
	margin-right: 10px;
}

div.toolbar-list span {
	float: none;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	display: block;
}

div.toolbar-list a {
	display: block;
	float: left;
	white-space: nowrap;
	padding: 1px 5px;
	cursor: pointer;
	font-weight: bold;
}

div.toolbar-list a:hover, div.toolbar-list a:focus {
	text-decoration: none;
}

/**
 * Massmail component
 */
td#mm_pane {
	width: 90%;
}

input#mm_subject {
	width: 200px;
}

textarea#mm_message {
	width: 100%;
}

/**
 * Pane Slider pane Toggler styles
 */
.pane-sliders {
	margin: 0;
	position:relative
} 
 
/* div.pane-sliders {
	margin-top: 10px;
	margin-right: 10px;
} */

.pane-sliders .title {
	margin: 0;
	padding: 2px;
	cursor: pointer;
}

.pane-sliders .panel {
	margin-bottom: 3px;
}

.pane-sliders .panel h3 {
}

.pane-sliders .content {
}

.pane-sliders .adminlist {
}

.pane-sliders .adminlist td {
	border: 0 none;
}

h3.pane-toggler-down a:focus,
h3.pane-toggler a:focus {
	outline: none;
}

.pane-toggler  span {
	padding-left: 20px;
}

.pane-toggler-down span {
	padding-left: 20px;
}

.pane-toggler-down {
}

/* The following line hides the unseen panel (prevents the mouse from activating in IE, so overridden in the ie css files) */
/*.pane-toggler + div.pane-slider {display: none;}*/
.pane-slider.pane-hide {
	display: none;
}

input#jformparams_link_titles1,
input#jformparams_show_title1,
input#jformparams_link_category1 {

}

div#position-icon.pane-sliders div.pane-down div.icon-wrapper {
	margin: 5px 0 5px 0;
}

div#position-icon.pane-sliders div.pane-down .icon-wrapper .icon {
	padding: 5px 0 5px 10px;
	margin: 0;
}

/**
 * Tabs
 */
dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}

dl.tabs dt {
	float: left;
	padding: 4px 10px;
	margin-left: 3px;
}

dl.tabs dt.open {
	z-index: 100;
}

dl.tabs dt.open a:visited {
}

div.current {
	clear: both;
	padding: 10px 10px;
}

div.current dd {
	padding: 0;
	margin: 0;
}

/* New parameter styles  */

dl#content-pane.tabs {
	margin: 1px 0 0 0;
}

div.current label, div.current span.faux-label {
	display: block;
	min-width: 150px;
	float:left;
	clear:left;
	margin-top: 8px;
}

div.current fieldset {
}

div.current fieldset.radio {
	float:left;
}

div.current fieldset.radio input {
	clear:none;
	min-width: 15px;
	float:left;
	margin: 3px 0 0 2px;
}

div.current fieldset.radio label {
	clear:none;
	min-width: 45px;
	float:left;
	margin: 3px 0 0 2px;
}

div.current fieldset.checkboxes {
	float:left;
	clear: right;
}

div.current fieldset.checkboxes input {
	clear:left;
	min-width: 15px;
	float:left;
	margin: 3px 0 0 2px;
}

div.current fieldset.checkboxes label {
	clear:right;
	min-width: 45px;
	margin: 3px 0 0 2px;
}

div.current input,
div.current span.faux-input,
div.current textarea,
div.current select {
	clear:none;
	float:left;
	margin: 3px 0 0 2px;
}
div.current select { margin-bottom: 15px;}

div.current table#acl-config th.acl-groups {
	text-align: left;
}

div.current table#filter-config th.acl-groups {
	text-align: left;
}

div.current table#filter-config select { margin-bottom: 0px;}

li.acl-editgroups,
li.acl-resetbtn {

}

li.acl-editgroups:hover,
li.acl-resetbtn:hover {

}

/* -------- Menu Assigments ---------- */
div#menu-assignment {
	clear:left;
}
div#menu-assignment ul.menu-links {
	float:left;
	width:49%;
}
div#menu-assignment ul.menu-links label {
	clear:none;
	float: left;
	margin: 3px 0 0 2px;
}
div#menu-assignment ul.menu-links input {
	clear: left;
	float: left;
}

button.jform-rightbtn { 
	float:right;
	margin-right: 0;
}

p.tab-description {
	font-size: 1.091em;
	margin-left: 0;
	margin-top: 5px;
}
/* end new parameter styles */

/**
 * Login Settings
 */
#login-page form .inputbox {
	width: 120px;
	margin-left: 5px;
	margin-bottom: 15px;
}
#login-page input, #login-page select {
	float: right;
	clear: none;
}

#login-page .login {
	margin: 0 auto;
	width: 575px;
	margin-bottom: 100px;
}

#login-page .pagetitle h2 {
	margin: -70px 0 30px 0;
	font-size: 2em;
	padding: 0;
}

#login-page p {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	font-size: 1.2em;
}

#login-page #header {
	margin-bottom: 100px;
}

#login-page .login-inst {
	float: left;
	width: 35%;
}

#login-page .login-box {
	float: right;
	width: 63%;
}

#login-page #lock {
	width: 150px;
	height: 137px;
}

#login-page #element-box.login {
	padding: 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#login-page .button {
	text-align: right;
}

#login-page .login-text {
	text-align: left;
	width: 40%;
	float: left;
}

#form-login {
	float: right;
	padding: 1.1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#form-login fieldset {
	border: none;
}

#form-login label {
	display: block;
	float: left;
	clear: left;
	width: 160px;
	text-align: right;
	padding: 4px;
	color: #2c2c2c;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 15px;
}

#form-login .button-holder { /* float: left; */
	/* padding-left: 180px; */

}

#form-login div.button1 { /* float: left; */

}

#form-login div.button1 div.next {
	float: left;
}

#form-login div.button1 a {
	height: 2.2em;
	line-height: 2.2em;
	font-size: 1.5em;
	font-weight: bold;
	cursor: default;
	padding: 0 15px 0 15px;
}

.login-submit {
	border: 0;
	padding: 0;
	margin: 0;
	width: 0px;
	height: 0px;
}

/**
 * Cpanel Settings
 */
#cpanel div.icon {
	text-align: center;
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
}

#cpanel div.icon a {
	display: block;
	float: left;
	height: 97px;
	width: 108px;
	color: #2c2c2c;
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus {
}

#cpanel img {
	padding: 10px 0;
	margin: 0 auto;
}

#cpanel span {
	display: block;
	text-align: center;
}

div.cpanel-icons {
	width: 54%;
	float: left;
}

div.cpanel-component {
	width: 45%;
	float: right;
}

/**
 * Standard Layout Styles
 */


div.col {
	float: left;
}

div.options-section.col {
	float: right;
}

div.col1 {
	float: left;
	width: 45%;
}

div.col2 {
	float: right;
	width: 45%;
}

	/* Avoid using the width divs. They are here for 3PD Extensions if needed
	 * Use the specific layout divs listed after. See also the th.width entries */
div.width-1 { width: 1%;}
div.width-3 { width: 3%;}
div.width-5 { width: 5%;}
div.width-10 { width: 10%;}
div.width-20 { width: 20%;}
div.width-30 { width: 30%;}
div.width-35 { width: 35%; }
div.width-40 { width: 40%;}
div.width-45 { width: 45%;}
div.width-50 { width: 50%;}
div.width-55 { width: 55%;}
div.width-60 { width: 60%; }
div.width-65 { width: 65%;}
div.width-70 { width: 70%;}
div.width-80 { width: 80%;}
div.width-100 { width: 100%;}

.clrlft { clear: left; }
.clrrt { clear: right; }
.fltlft { float: left; }
.fltrt { float: right; }
.fltnone { float: none; }


	/* Layout Divs */
div.main-section {
	width: 60%;
}

div.options-section {
	width: 38%;
	margin: 10px 10px 10px 0;
}

/* for bluestork style html */
div.width-40.fltrt {
	width: 38%;
	margin: 10px 10px 10px 0;
}

div.rules-section {
	width: 98%;
	margin: 10px;
}
/**
 * Form Styles
 */

fieldset {
	margin: 2px 10px 2px 10px;
	padding: 5px;
	text-align: left;
}

legend {
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: 5px;
}

fieldset p {
	margin: 10px 0px;
	font-size: 1.2em;
}

fieldset ol, ol#property-values, fieldset ul, ul#property-values {
	margin: 0;
	padding: 0;
}

fieldset li, ol#property-values li, ul#property-values li {
	list-style: none;
	margin: 0;
	padding: 5px;
}

fieldset.adminform fieldset.radio,
fieldset.panelform fieldset.radio,
fieldset.adminform-legacy fieldset.radio  {
	border: 0;
	float:left;
	padding: 0;
	margin: 0 0 5px 0;
	clear:right;
}
fieldset.adminform fieldset.radio label,
fieldset.panelform fieldset.radio label,
fieldset.adminform fieldset.radio span.faux-label,
fieldset.panelform fieldset.radio span.faux-label {
	min-width: 40px;
	float:left;
	clear:none;
}

/* checkboxes */
fieldset.adminform fieldset.checkboxes,
fieldset.panelform fieldset.checkboxes,
fieldset.adminform-legacy fieldset.checkboxes  {
	border: 0;
	float:left;
	padding: 0;
	margin: 0 0 5px 0;
	clear:right;
}


fieldset.adminform fieldset.checkboxes input[type="checkbox"],
fieldset.panelform fieldset.checkboxes input[type="checkbox"] {
	float: left;
	clear: left;
}

fieldset.adminform fieldset.checkboxes label,
fieldset.panelform fieldset.checkboxes label,
fieldset.adminform fieldset.checkboxes span.faux-label,
fieldset.panelform fieldset.checkboxes span.faux-label {
	clear: right;
}

/* end checkboxes */

/* spacer */
div.current span.spacer > span.before,
fieldset.adminform span.spacer > span.before,
fieldset.panelform span.spacer > span.before {
	clear: both;
	overflow: hidden;
	height: 0;
	display: block;
}

/* end spacer */


fieldset.panelform-legacy label,
fieldset.adminform-legacy label,
fieldset.panelform-legacy span.faux-label,
fieldset.adminform-legacy span.faux-label {
	min-width: 150px;
	float:left;

}
/* JParameter classes on radio button labels  */
fieldset.panelform-legacy label.radiobtn-jno,
fieldset.panelform-legacy label.radiobtn-jyes,
fieldset.panelform-legacy label.radiobtn-show,
fieldset.panelform-legacy label.radiobtn-hide,
fieldset.panelform-legacy label.radiobtn-off,
fieldset.panelform-legacy label.radiobtn-on {
	min-width: 40px !important;
	clear:none !important;
}


#jform_plugdesc-lbl,
#jform_description-lbl {
	font-weight:bold;
	clear:both;
	margin-top: 15px;
}
p.jform_desc {
	clear:left;
}

div#jform_ordering {
	font-size: 1.091em;
	margin-top: 3px;
}

fieldset ul.checklist {
	margin-left: 27px;
}

fieldset ul.checklist input,
fieldset ul.checklist label {
	float: none;
}

fieldset ul.checklist input:focus {
	outline: thin dotted #333333;
}

fieldset#filter-bar {
	margin: 0;
	padding: 5px 10px 5px 10px;
}

fieldset#filter-bar ol, fieldset#filter-bar ul {
	list-style: none;
	margin: 0;
	padding: 5px 0 0;
}

fieldset#filter-bar ol li, fieldset#filter-bar ul li {
	float: left;
	padding: 0 5px 0 0;
}

fieldset#filter-bar ol li fieldset, fieldset#filter-bar ul li fieldset {
	margin: 0;
	padding: 0;
}

fieldset#filter-bar .filter-search {
	float: left;
}

fieldset#filter-bar .filter-select {
	float: right;
}

fieldset#filter-bar input#search {
	width: 10em;
}

/* .editform div.edititem,.editform>div {
	padding: 5px;
} */

	/* Note: these visual cues should be augmented by aria */
.invalid {
	font-weight: bold;
}

	/* must be augmented by aria at the same time if changed dynamically by js
	aria-invalid=true or aria-invalid=false */
input.invalid {
}

	/* augmented by aria in template javascript */
input.readonly, span.faux-input {
	border: 0;
}

input.required {
}

.star {
	color:#cc0000;
	font-size:1.2em;
}

input.disabled {
}

input,select, span.faux-input {
	font-size: 1.2em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

span.readonly {
	float: left;
	font-size: 1.2em;
	line-height: 2em;
}

div.readonly {
	font-size: 1.2em;
	line-height: 2em;
}

div.extdescript {
	margin-left: 10px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
	font-family: Arial, Helvetica, sans-serif;
	padding: 1px 6px;
	font-size: 1.2em;
	line-height: 1.5em;
}

textarea {
	font-size: 1.4em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

input.button {
	cursor: pointer;
}

input:focus, select:focus, textarea:focus, option:focus,
input:hover, select:hover, textarea:hover, option:hover {
}

label {
	font-weight: bold;
	font-size: 1.1em;
}

span.faux-label {
	font-weight: bold;
	font-size: 1.1em;
}

label.selectlabel {
	position: absolute;
	left: -1000em;
}

/**
 * Option or Parameter styles
 */

.paramrules {
	padding: 10px;
}

span.gi {
	font-weight: bold;
	margin-right: 5px;
}

span.gtr {
	visibility:hidden;
	margin-right: 5px;
}

/**
 * Admintable Styles
 */
table.admintable td {
	padding: 3px;
	font-size: 1em;
}

table.admintable td.key,table.admintable td.paramlist_key {
	text-align: right;
	width: 140px;
	font-weight: bold;
	font-size: 1em;
}

table.admintable td.key label, table.admintable td.paramlist_key label {
	font-size: 1em;
}

table.admintable td.paramlist_value label {
	font-size: 1em;
}

table.admintable input, table.admintable span.faux-input, table.admintable select {
	font-size: 1em;
}

table.paramlist td.paramlist_description {
	text-align: left;
	width: 170px;
	font-weight: normal;
}

table.admintable td.key.vtop {
	vertical-align: top;
}

/**
 * Admin Form Styles
 */
fieldset.adminform {
	margin: 0 10px 10px 10px;
	overflow: hidden;
}

ul.adminformlist,
ul.adminformlist li,
dl.adminformlist,
dl.adminformlist li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.adminformlist pre {
	font-size:1.3em;
}

ul.adminformlist .button2-left, ul.adminformlist .button2-left {
	margin-top: 5px;
}

	/* Table styles are for use with tabular data */
table.adminform {
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}

table.adminform.nospace {
	margin-bottom: 0;
}

table.adminform tr.row0 {
}

table.adminform tr.row1 {
}

table.adminform th {
	font-size: 1.4em;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
}

table.adminform td {
	padding: 3px;
	text-align: left;
}

table.adminform td#filter-bar {
	text-align: left;
}

table.adminform td.helpMenu {
	text-align: right;
}

table.adminform tr {
	padding-left: 10px;
	padding-right: 10px;
}

/**
 * Table formating styles
 */
td.center,th.center {
	text-align: center;
}

	/* Avoid using the width classes. They are here for 3PD Extensions if needed
	 * Use the specific layout table headers listed after. See also the div.width entries */
th.width-1 {
	width: 1%;
}

th.width-3 {
	width: 3%;
}

th.width-5 {
	width: 5%;
}

th.width-10 {
	width: 10%;
}

th.width-12 {
	width: 12%;
}

th.width-15 {
	width: 15%;
}

th.width-20 {
	width: 20%;
}

th.width-25 {
	width: 25%;
}

th.width-30 {
	width: 30%;
}

th.width-40 {
	width: 40%;
}

	/* Table header layout classes */
th.row-number-col {
	width: 3%;
}

th.checkmark-col {
	width: 1%;
}

th.state-col {
	width: 5%;
}

th.ordering-col {
	width: 10%;
}

th.ordering-col a {
	display: block;
	float:left;
	margin-left: 3px;
}

th.ordering-col a img {
	margin-left: 4px;
	margin-right: 4px;
}

.categories th.ordering-col input, .categories td.order input {
	font-size: 1em;
}

th.category-col {
	width: 5%;
}

th.access-col {
	width: 10%;
}

.categories th.access-col {
	width: 5%;
}

th.hits-col {
	width: 5%;
}

th.id-col {
	width: 3%;
}

th.featured-col {
	width: 5%;
}

th.created-by-col {
	width: 5%;
}

th.date-col {
	width: 5%;
}

th.language-col {
	width: 5%;
}

th.home-col {
	width: 5%;
}

/**
 * Adminlist Table layout
 */
table.adminlist {
	width: 100%;
}

table.adminlist.modal {
}

table.adminlist a {
}

table.adminlist td, table.adminlist th {
	padding: 4px;
	font-size: 1.2em;
}

table.adminlist thead th {
	text-align: center;
}

table.adminlist thead a:hover {
	text-decoration: none;
}

table.adminlist thead th img {
	vertical-align: middle;
}

table.adminlist tbody th {
	font-weight: bold;
}

	/* Table row styles */
table.adminlist tr {
	padding-left: 30px;
	padding-right: 30px;
}

table.adminlist tbody tr {
	text-align: left;
}

table.adminlist tbody tr.row1 {
}

table.adminlist tbody tr.row1 td,
table.adminlist tbody tr.row1 th {
}

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td,
table.adminlist tbody tr.row0:hover th,
table.adminlist tbody tr.row1:hover th,
table.adminlist tbody tr.row0:focus td,
table.adminlist tbody tr.row1:focus td,
table.adminlist tbody tr.row0:focus th,
table.adminlist tbody tr.row1:focus th  {
}

table.adminlist tbody tr td,
table.adminlist tbody tr th {
	height: 25px;
}

table.adminlist tfoot tr {
	text-align: center;
}

	/* Table td/th styles */
table.adminlist tfoot td,table.adminlist tfoot th {
	text-align: center;
}

table.adminlist td.order {
	text-align: center;
	white-space: nowrap;
}

table.adminlist td.order span {
	float: left;
	width: 20px;
	text-align: center;
}

table.adminlist td.order input {
	text-align: center;
	width: 3em;
	font-size: 100%;
}
/**
 * Tree indentation & nesting - Up to 10 levels deep so don't go crazy :
 */
table.adminlist td.indent-4 	{ padding-left:4px; }
table.adminlist td.indent-19 	{ padding-left:19px; }
table.adminlist td.indent-34 	{ padding-left:34px; }
table.adminlist td.indent-49 	{ padding-left:49px; }
table.adminlist td.indent-64 	{ padding-left:64px; }
table.adminlist td.indent-79 	{ padding-left:79px; }
table.adminlist td.indent-94 	{ padding-left:94px; }
table.adminlist td.indent-109 	{ padding-left:109px; }
table.adminlist td.indent-124 	{ padding-left:124px; }
table.adminlist td.indent-139 	{ padding-left:139px; }

/**
 * Adminlist buttons
 */
table.adminlist tr td.btns a {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 20px;
}

table.adminlist tr td.btns a:hover, table.adminlist tr td.btns a:active, table.adminlist tr td.btns a:focus {
	text-decoration: none;
}

/**
 * Adminlist lists
 */
table.adminlist td li {
	list-style: inside;
}

/**
 * Modal Modules styles
 */
ul#new-modules-list {
	margin-left: 50px;
	font-size: 1.4em;
	line-height: 1.5em;
}



/**
 * Utility styles
 */
	/* General Clearing Class */
.clr {
	clear: both;
	overflow: hidden;
	height: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}

.menu-module-list {
	list-style-position: inside;
	padding-left: 10px;
	margin-left: 5px;
}

	/* stu nicholls solution for centering divs */
.container {
	clear: both;
	text-decoration: none;
}

* html .container {
	display: inline-block;
}

	/* table solution for global config */
table.noshow {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

table.noshow tr {
	vertical-align: top;
}

table.noshow td {

}

table.noshow fieldset {
	margin: 15px 7px 7px 7px;
}

/**
 * Saving order icon styling in admin tables
 */
a.saveorder {
	width: 16px;
	height: 16px;
	display:block;
	overflow: hidden;
	float:right;
	margin-right: 8px;
}

a.saveorder.inactive {
}


/**
 * Button styling
 */
#editor-xtd-buttons {
	padding: 5px;
}

button {
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-right: 3px;
	margin-left: 3px;
}

button:hover,button:focus {
}

.invalid {
	font-weight: bold;
}


/* Button 1 Type */
.button1,.button1 div {
	height: 1%;
	float: right;
}

.button1 {
	white-space: nowrap;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.button1 a {
	display: block;
	height: 2.2em;
	float: left;
	line-height: 2.2em;
	font-size: 1.2em;
	font-weight: bold;
	cursor: default;
	padding: 0 6px 0 6px;
	/* add padding if you are using the directional images */
	/* padding: 0 30px 0 6px; */
}

.button1 a:hover,.button1 a:focus {
	text-decoration: none;
}

	/* Button 2 Type */
.button2-left,.button2-right {
	float: left;
	line-height: 1.5em;
	font-size: 1.2em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.button2-left.smallsub,.button2-right.smallsub {
	line-height: 1.2em;
	font-size: .9em;
}

.button2-left a,.button2-right a,.button2-left span,.button2-right span
	{
	display: block;
	float: left;
	cursor: default;
}

	/* these are inactive buttons */
.button2-left span,.button2-right span {
	cursor: default;
}

.button2-left .page a,.button2-right .page a,
.button2-left .page span,.button2-right .page span,
.button2-left .blank a,.button2-right .blank a,
.button2-left .blank span,.button2-right .blank span
	{
	padding: 0 6px;
}

.page span,.blank span {
	font-weight: bold;
}

.button2-left a:hover,.button2-right a:hover,.button2-left a:focus,.button2-right a:focus
	{
	text-decoration: none;
}

.button2-left a,.button2-left span {
	padding: 0 24px 0 6px;
}

.button2-right a,.button2-right span {
	padding: 0 6px 0 24px;
}

.button2-left {
	float: left;
	margin-left: 5px;
}

.button2-right {
	float: left;
	margin-left: 5px;
}

/**
 * Pagination styles
 */

	/* Normal pagination styles */
div.containerpg {
	position: relative;
	left: 50%;
	float: left;
	clear: left;
}

div.pagination {
	position: relative;
	left: -50%;
	margin: 0 auto;
	padding: .5em;
}

.pagination div.limit {
	float: left;
	margin: 0 10px;
	font-size: 1.2em;
	height: 1.8em;
	line-height: 1.8em;
}

.pagination div.limit label {
	font-size: 100%;
	height: 1.8em;
	line-height: 1.8em;
}

.pagination div.limit select {
	font-size: 100%;
	/*height: 1.8em;
	line-height: 1.8em;*/

}

	/* The Go submittal button */
.pagination button {
	font-size: 100%;
	height: 1.8em;
	line-height: 1.8em;
	margin-right: 20px;
}

div.pagination .button2-right, div.pagination .button2-left {
	font-size: 1.2em;
	height: 1.6em;
	line-height: 1.6em;
}

	/* Style if pagination is part of the table (old style) */
table.adminlist .pagination {
	display: table;
	padding: 0;
	margin: 0 auto;
	font-size: .8em;
}

table.adminlist .pagination button {
	font-size: 1.2em;
	height: 1.6em;
	line-height: 1.5em;
	margin-right: 20px;
}

/**
 * MCE Editor
 */
div.toggle-editor {
	margin: -15px;
}

/**
 * Tooltips
 */
.tip {
	float: left;
	padding: 5px;
	max-width: 400px;
	z-index: 50;
}

.tip-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
}

.tip-text {
	font-size: 100%;
	margin: 0;
}

/**
 * Calendar
 */
a img.calendar {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	cursor: pointer;
	vertical-align: middle;
}

/**
 * JGrid styles
 */
a.jgrid:hover {
	text-decoration: none;
}

.jgrid span.state {
	display: inline-block;
	height: 16px;
	width: 16px;
}

.jgrid span.text {
	display: none;
}

/**
 * Icons
 * The Background Icons for Menus, Toolbars, Quick Icons
 * are now in the color css files
 */

/**
 * General styles
 */
div.message {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	padding: 3px;
	margin-bottom: 10px;
	font-weight: bold;
}

.helpIndex {
	border: 0px;
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
	overflow: auto;
}

.helpFrame {
	width: 100%;
	height: 800px;
	padding: 0px 5px 0px 10px;
}

#treecellhelp {
	width: 25%;
	display: block;
	position: relative;
	float: left;
	margin: 0;
	padding: 2px;
	overflow: hidden;
}

#datacellhelp {
	width: 73%;
	display: block;
	float: left;
	margin: 0;
	padding: 2px 0px 0px 0px;
}

.outline {
  padding: 2px;
}

/**
 * Modal Styles
 */

h2.modal-title {
	margin-left: 15px;
	margin-bottom:0;
	margin-top: 5px;
	font-size: 1.8em;
	padding-bottom: .5em;
}

ul.menu_types {
	padding: 0 0 0 15px;
	width:95%;
	margin: 0;
}
ul.menu_types li,
dl.menu_type dd ul li {
	width: 240px;
	list-style: none;
	display:block;
	float:left;
	margin-right: 10px;
}
ul.menu_types li { width: 47%}

dl.menu_type {
	width: 240px;
	margin: 0;
	padding: 0;
}

dl.menu_type dt {
	font-weight: bold;
	font-size: 1.5em;
	float:left;
	margin: 13px 0 5px 0;
	width: 240px;
}

dl.menu_type dd {
	clear:left;
	margin: 0;
}

dl.menu_type dd a {
	font-size: 1.2em;
}

dl.menu_type dd ul li {
	margin: 0;
}
/* dl.menu_type dd ul {
	margin-left: -40px;
} */

ul#new-modules-list {
	padding: 5px 0 0 15px;
	width:95%;
	margin: 0;
	list-style: none;
}
ul#new-modules-list li {
	list-style: none;
	display: block;
	float:left;
	margin: 0 20px 0 0;
	width: 47%;
}
ul#new-modules-list li a {
	font-size: 1em;
	line-height: 1.5em;
}

body.contentpane #filter-bar {
	font-size: 80%;
}
body.contentpane input, body.contentpane select {
	font-size: 120%;
}

#filter-bar input, #filter-bar select, #filter-bar button {
	font-size: 110%;
}

/**
 * User Accessibility
 */

	/* Skip to Content Structural Styling */
#skiplinkholder a,#skiplinkholder a:link,#skiplinkholder a:visited {
	display: block;
	width: 99%;
	position: absolute;
	top: 0;
	left: -200%;
	z-index: 2;
}

#skiplinkholder a:focus, #skiplinkholder a:active {
	left: 0;
	top: 0;
	z-index: 100;
}

#skiplinkholder p {
	margin: 0px;
}

#skiptargetholder {
	position: absolute;
	left: -200%;
}

	/* Skip to Content Visual Styling */
#skiplinkholder a, #skiplinkholder a:link, #skiplinkholder a:visited {
	text-decoration: underline;
	padding: 5px;
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
}

	/* Hide overlayed controls so that keyboarders can get to the modal */
.body-overlayed a,
.body-overlayed input,
.body-overlayed button {
	visibility: hidden;
}

.body-overlayed #sbox-window a,
.body-overlayed #sbox-window input,
.body-overlayed #sbox-window button {
	visibility: visible;
}

/**
 * Admin Form Styles
 */

	/* For elements that aren't to be seen by users unless the user does something
	 * like clicking on a header to see the collapsed section. */
.element-hidden, .hide {
	display: none;
}

.hidebtn 		{ border: 0; padding: 0;margin:0;width: 0;height: 0;}

	/* For elements that aren't to be seen by visual users but do need to be read by screenreaders.
	 * Cannot be used for elements that can get focus such as links and form elements */
.element-invisible, .hidelabeltxt {
	height: 0;
	overflow: hidden;
	position: absolute;
	padding:0;
	margin:0;
}

	/* Firefox has issues styling legend so this is a universal fix
	for making the legend invisible (i.e. visually it's not there, but screen readers see it */

legend.element-invisible {
	position: absolute !important;
	margin: 0;
	padding: 0;
	border:0;
	margin-left: -10000px;
	font-size: 1px;
	height: 0;
}

fieldset.panelform {
	overflow:hidden;
}

fieldset.adminform label,
fieldset.panelform label,
fieldset.adminform span.faux-label,
fieldset.panelform span.faux-label {
	line-height: 2em;
	clear:left;
	min-width: 12em;
	float:left;
	margin-left: 10px;
	margin-right: 5px;
}

fieldset.adminform.long label,
fieldset.panelform.long label,
fieldset.adminform.long span.faux-label,
fieldset.panelform.long span.faux-label {
	min-width: 18em;
}

fieldset.adminform fieldset.radio label,
fieldset.panelform fieldset.radio label,
fieldset.adminform fieldset.radio span.faux-label,
fieldset.panelform fieldset.radio span.faux-label {
	margin-left: 0;
}


fieldset.adminform input, fieldset.adminform span.faux-input, fieldset.adminform textarea, fieldset.adminform select, fieldset.adminform img, fieldset.adminform button,
fieldset.panelform input, fieldset.panelform span.faux-input, fieldset.panelform textarea, fieldset.panelform select, fieldset.panelform img, fieldset.panelform button {
	float:left;
	margin:5px 5px 5px 0;
	width:auto;
}

/* -------- Batch Section ---------- */
fieldset.batch {
	margin: 20px 10px 10px 10px;
	padding: 10px;
}
fieldset.batch label {
	margin: 5px;
	min-width: 40px;
}
fieldset.batch button {
	margin: 3px;
}
fieldset#batch-choose-action {
	clear: left;
	border: 0 none;
}
fieldset.batch label {
	float: left;
	clear: none;
}
fieldset label#batch-choose-action-lbl {
	clear: left;
	margin-top: 15px;
}

fieldset.batch select, fieldset.batch input, fieldset.batch img, fieldset.batch button {
	float: left;
}

select#batch-menu-id {
	margin-right: 30px;
}
label#batch-access-lbl {
	margin-right: 10px;
}

div#jform_ordering {
	font-size: 1.091em;
	margin-top: 3px;
}

/* Banner edit */
#jform_impmade, #jform_clicks {
	width:30px;
}

fieldset.panelform label#jform-imp {
	min-width:3em;
	font-size: 1.091em;
}

fieldset.adminform input#jform_clickurl {
	width: 20em;
}
/* Modal accessibility */
#min-body.body-overlayed a {

}

/**
 * ACL STYLES relocated from com_users/media/grid.css
 */

a.move_up {
	display:inline-block;
	height:16px;
	text-indent:-1000em;
	width:16px
}
span.move_up {
	display:inline-block;
	height:16px;
	width:16px
}
a.move_down {
	display:inline-block;
	height:16px;
	text-indent:-1000em;
	width:16px
}
span.move_down {
	display:inline-block;
	height:16px;
	width:16px
}

a.grid_false {
	display:inline-block;
	height:16px;
	text-indent:-1000em;
	width:16px
}

a.grid_true {
	display:inline-block;
	height:16px;
	text-indent:-1000em;
	width:16px
}

a.grid_trash {
	display:inline-block;
	height:16px;
	text-indent:-1000em;
	width:16px
}

/**
 * ACL PANEL STYLES
 */
div.acl-options {
	width: 100%;
}

/* All Tabs */
table.aclsummary-table,
table.aclmodify-table {
	border-collapse: collapse;
	width: 100%;
	font-size: 1.091em;
}
td.col1 {
	font-size: 1.091em;
	text-align:left;
	padding: 4px;
}
tr.row1 {
}
table.aclsummary-table caption,
table.aclmodify-table caption{
	display:none;
}

/* Summary Tab */
table.aclsummary-table th.col1 {
	width:25%;
}
table.aclsummary-table th.col2,
table.aclsummary-table th.col3,
table.aclsummary-table th.col4,
table.aclsummary-table th.col5,
table.aclsummary-table th.col6 {
	width:15%;
	vertical-align: bottom;
	text-align:center;
}

/* Icons (background images moved to color css files */
span.icon-16-unset,
span.icon-16-allowed,
span.icon-16-denied,
span.icon-16-locked {
	padding-left: 18px;
}

label.icon-16-allow,
label.icon-16-deny,
a.icon-16-allow,
a.icon-16-deny,
a.icon-16-allowinactive,
a.icon-16-denyinactive {
	display:block;
	height: 16px;
	width: 16px;
	margin: 0 auto;
}
label.icon-16-allow {
	text-indent:-9999em;
	position:relative;
	left: 40%;
}
label.icon-16-deny {
	text-indent:-9999em;
	position:relative;
	left: 40%;
}

/* Create, Edit, Edit State & Delete Tabs */
table.aclmodify-table th.col2,
table.aclmodify-table th.col3,
table.aclmodify-table th.col4 {
	width:20%;
	vertical-align: bottom;
	text-align:center;
}
table.aclmodify-table select {
	margin:1px;
}

table.aclsummary-table td label,
table.aclmodify-table td label {
	min-width: 20px;
}

/* ACL footer/legend */
ul.acllegend {
	list-style: none;
	font-size: 1.091em;
	padding-bottom: 10px;
}
ul.acllegend li {
	display: block;
	float: left;
	padding-right: 20px;
	margin: 15px 0 15px 10px;
}
ul.acllegend li.acl-allowed {
	padding-left: 20px;
	padding-right: 10px;
}
ul.acllegend li.acl-denied {
	padding-left: 20px;
	padding-right: 20px;
}
ul.acllegend li.acl-editgroups {
	padding-right: 10px;
}
ul.acllegend li.acl-resetbtn {
	padding-right: 0px;
}

li.acl-editgroups,
li.acl-resetbtn {
	display:block;
	float:left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

li.acl-editgroups a,
li.acl-resetbtn a {
	padding: 6px;
	cursor: default;
}

li.acl-editgroups a:hover,
li.acl-resetbtn a:hover,
li.acl-editgroups a:focus,
li.acl-resetbtn a:focus {
	text-decoration:none;
	cursor: default;
}

li.acl-editgroups:hover,
li.acl-resetbtn:hover,
li.acl-editgroups:focus,
li.acl-resetbtn:focus {
	text-decoration:none;
	cursor: default;
}

table#acl-config {
	width: 100%;
	margin-top: 15px;
}

table#acl-config{
}

table#acl-config th,
table#acl-config td {
	height: 2em; 
	background: #f9fade;
	text-align: center;
	vertical-align: middle;
}

table#acl-config th.acl-groups {
	padding-left: 8px;
	font-weight: bold;
	text-align: left;
}

table#acl-config th.acl-groups span.gi {
	margin-right: 2px;
}

table#acl-config td {
	width: 9em;
}

table#acl-config td select {
	float:none;
}

.acl-action {
	font-size: 1.091em;
	margin: auto 0;
}

.acl-groups {
	font-size: 1.091em;
	font-weight: normal;
}

label#jform_rules-lbl {
	float: none;
	white-space: nowrap;
	display:none;
	visibility:hidden;
}

label#jform_filters-lbl {
	float: none;
	white-space: nowrap;
	display: none;
	visibility:hidden;
}

/**
* Mod_rewrite Warning
*/
#jform_sef_rewrite-lbl {
}

/**
* Options modal- config
*/
ul.config-option-list,
ul.config-option-list li {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.config-option-list fieldset {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}

/* *
* Permission Rules
*/

#permissions-sliders ul#rules,
#permissions-sliders ul#rules ul
{  
    margin:0 0 0 0px !important;
    padding:0 0 0 0px !important;
    list-style-type:none;
}

#permissions-sliders ul#rules li
{
	margin:0px 0 0 0%;
	padding:0;
}

ul#rules li .pane-sliders .panel h3.title
{
}

#permissions-sliders ul#rules .pane-slider
{
}

#permissions-sliders ul#rules li h3
{
}

#permissions-sliders ul#rules li h3.pane-toggler-down a
{	
}

#permissions-sliders ul#rules li h3.pane-toggler-down
{ 
}
    
#permissions-sliders ul#rules li h3.pane-toggler-down span
{ 
}
        
        
#permissions-sliders ul#rules .group-kind
{
}
           
#permissions-sliders ul#rules table.group-rules
{
    border-collapse:collapse;
   	margin: 5px;
    width:100%
}

#permissions-sliders ul#rules table.group-rules td
{
    padding:4px;
    vertical-align:middle; 
    text-align:left;
    overflow:hidden;
}

#permissions-sliders ul#rules table.group-rules th
{
    font-size:1.2em; 
    overflow:hidden;
    font-weight: bold;
}

#permissions-sliders .panel 
{
    margin-bottom: 3px;
    margin-left:0;
    border:0;
}

#permissions-sliders p.rule-desc
{
	font-size: 1.1em;
}

#permissions-sliders div.rule-notes
{
	font-size: 1.1em;
}


ul#rules table.aclmodify-table
{
}

ul#rules table.group-rules td label
{
	margin:0 !important;
	line-height: 1.1em;
}

ul#rules table.group-rules td span
{
	font-size: 1.1em;
	padding-bottom: 4px;
}

ul#rules table.group-rules td span span
{
	font-size: 100%;
}

table.group-rules td select
{
	margin:0 !important;
}
	
#permissions-sliders ul#rules .mypanel
{
	padding:0px; 
	line-height: 1.3em;
}

#permissions-sliders .mypanel table.group-rules caption
{
	font-size: 1.3em;
}  

#permissions-sliders ul#rules 
{	
	padding:5px;
}

#permissions-sliders  ul#rules  table.group-rules th
{
    text-align:left;
    padding:4px;
}
#permissions-sliders  ul#rules  table.group-rules td
{
}

#permissions-sliders ul#rules table.group-rules td label {
	min-width: 1em;
}

#permissions-sliders .pane-toggler span
{
	padding-left:20px;
}

#permissions-sliders .pane-toggler-down span {
	padding-left: 20px
}

#permissions-sliders .pane-toggler-down span.level,
#permissions-sliders .pane-toggler span.level
{
	padding: 0;
}

#permissions-sliders ul#rules .panel h3	{
}
	
/* global_config permissions */

#page-permissions fieldset ul#rules .pane-slider
{
}

#permissions-sliders
{
}

/*
 * Debug styles
 */

.swatch {
	text-align: center;
	padding: 0 15px 0 15px;
}

/* Tab changes for accessibility */
dl.tabs dt h3 {
	padding: 0;
	font-size:100%;
}

/**
 * Helpmenus
 */
ul.helpmenu li {
	float: right;
	margin: 10px;
	padding: 0;
	list-style-type: none;
	font-weight: bold;
}

 /* CSS file for Accessible Admin Menu
 * based on Matt Carrolls' son of suckerfish
 * with javascript by Bill Tomczak
 */

	/* Note: set up the font-size on the id and used 100% on the elements.
	If ul/li/a are different ems, then the shifting back via non-js keyboard
	doesn't work properly */

/**
 * Menu Styling
 */
#menu { /* this is on the main ul */
	position: relative;
	z-index: 100;
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
	font-size: 1.2em;
	font-weight: bold;
}

#menu ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 100%;
}

#menu ul li.separator {
	margin-bottom: 1em;
}

#menu a {
	padding: 0.35em 2.5em 0.35em 2em;
	vertical-align: middle;
	display: block;
	/* width: 10em; */
	text-decoration: none;
	font-size: 100%;
}

#menu li { /* all list items */
	float: left;
	/* width: 12em;  width needed or else Opera goes nuts */
	font-size: 100%;
}

#menu ul a { 
	/* line-height: 1.2em; */
}

#menu li a {
	white-space: nowrap;
}

#menu li li a {
	margin-bottom: 1px;
	margin-top: 1px;
	width: 10em;
}

#menu li a:hover,#menu li a:focus {
}

#menu li.disabled a:hover,#menu li.disabled a:focus,#menu li.disabled a
	{
	cursor: default;
}

#menu li ul { /* second-level lists */
	position: absolute;
	width: 16em;
	margin-left: -1000em;
	/* using left instead of display to hide menus because display: none isn't read by screen readers */
}

#menu li li { /* second-level row */
	border: none;
	width: 16em;
}

#menu li ul ul { /* third-and-above-level lists */
	margin: -2.3em 0 0 -1000em;
	/* top margin is equal to parent line height+bottom padding */
}

#menu li:hover ul ul,#menu li.sfhover ul ul {
	margin-left: -1000em;
}

#menu li:hover ul,#menu li.sfhover ul {
	/* lists nested under hovered list items */
	margin-left: 0;
}

#menu li li:hover ul,#menu li li.sfhover ul {
	margin-left: 16em;
}

/**
 * Styling parents
 */

 	/* 1 level - sfhover */
#menu li.sfhover a {
}

	/* 2 level - normal */
#menu li.sfhover li a {
}

	/* 2 level - hover */
#menu li.sfhover li.sfhover a,#menu li li a:focus {
}

	/* 3 level - normal */
#menu li.sfhover li.sfhover li a {
}

	/* 3 level - hover */
#menu li.sfhover li.sfhover li.sfhover a,#menu li li li a:focus {
}

/**
 * Extra positioning rules for limited noscript keyboard accessibility
 * need the backgrounds here to keep the background as the nav background
 * since it is overlaying other content.
 * Using margin-left instead of left so that can move back without javascript
 * display downlevel ul
 */
#menu li a:focus+ul {
	margin-left: 0;
}

#menu li li a:focus+ul {
	margin-left: 1016em;
}

/* bring back the focus elements into view */
#menu li li a:focus {
	margin-left: 1000em;
	width: 10em;
}

#menu li li li a:focus {
	margin-left: 2016em;
	width: 10em;
}

#menu li:hover a:focus,#menu li.sfhover a.sffocus {
	margin-left: 0;
}

#menu li li:hover a:focus+ul,#menu li li.sfhover a.sffocus+ul {
	margin-left: 16em;
}

/**
 * Submenu styling
 */
#submenu {
	list-style: none;
	padding: 0;
	margin: 0;
	/* border-bottom plus padding-bottom is the technique */
	padding-bottom: 2.5em;
	line-height: 2em;
}

#submenu ul,#submenu li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#submenu a, #submenu span.nolink {
	float: left;
	font-weight: bold;
	margin-right: 8px;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	cursor: pointer;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#submenu span.nolink {
	color: #999;
}

#submenu a:hover, #submenu a:focus {
}

#submenu a.active, #submenu span.nolink.active {
	cursor: default;
	text-decoration: none;
}

/* -- CUSTOM LANG STRINGS STYLES  ----------- */

.red {
	font-weight: bold;
	color: #c00;
}

/* -- OTHER STYLES  ----------- */

.pre_message {
	font-size: 1.3em;
}
