/* HTML DEFAULTS */hr { width:99%; border:2px dashed #cdcdcd; clear:both; display:block; }
/* LAYOUT and MAIN TYPOGRAPHY */#fgwrapper { width:100%; text-align:left; }
#fgheading { padding-bottom:15px; }
#fgsidebar { width:170px; position:absolute; left:15px; }
#fgmsgarea { display:none; border:1px solid #e56d02; padding:5px 15px; line-height:1.4em; width:auto; }
.fgprevdata { border:1px solid #0400A2; padding:5px 15px; line-height:1.4em; width:auto; }
#fgupgrade { padding:5px 0px; line-height:1.4em; width:auto; }
#fgupgradebtn { border:1px solid #dd3d3d; margin-top: 10px; padding:5px 5px 5px 40px; line-height:1.4em; width:120px; height:30px; background: transparent url('../images/tick.png') no-repeat 10px 50%;
cursor:pointer;}.waiting { background: transparent url('../images/pleasewait.gif') no-repeat 100px 0px; }
#fgmainpane { margin-left:190px; overflow:auto; }
#fgfooter { clear:both; }
.fgmenusection { width:100%; border:1px solid #0400A2; margin-bottom:10px; }
div.fgnarrow { width:75%; }
#fgwrapper table,#fgwrapper form { margin:0; padding:0; }
#featureleft { width:45%; float:left; line-height:1.4em; }
#featureright { width:45%; float:right; margin-left:20px; line-height:1.4em; }
.dupdrill { background: transparent url('../images/add.png') no-repeat; padding-left:30px; padding-bottom:10px; cursor:pointer; }

/* PLUGINS */
.warning { margin: 10px 0px; padding: 5px 15px 5px 35px; min-height: 25px; border: 1px solid #cc0000; text-align: left; color: red; font-weight: bold; background: #ffffcc url('../images/warning.png') no-repeat 10px 50%; }
.plugin { border:1px solid #0400A2; margin: 5px; padding:5px 15px; line-height:1.4em; float:left; width: 235px; }
.plugintaskbar { margin-top:4px; }
.plugintaskbar span { padding:2px 10px 4px 20px; }
.pluginlogo { float:right; margin:5px; }
.published { background: #ffffcc; }
.unpublished { background: #D9D9D9; }
.orphaned { background-image: url('../images/big_cross.gif'); background-repeat: no-repeat; background-position:center; }
.published_img { background: transparent url('../images/tick.png') no-repeat; }
.unpublished_img { background: transparent url('../images/cross.png') no-repeat; }
.uninstall_img { background: transparent url('../images/delete.png') no-repeat; }
.options_img { background: transparent url('../images/edit.png') no-repeat; }

/* LOGO */
.fglogo { float:left;margin:10px 20px 10px 10px;height:110px;width:110px;background:transparent url('../images/feedgator_so.png') no-repeat;}
/* HEADINGS */#fgwrapper h1 { font-size:20px; color:#e56d02; font-weight:bold; margin:0; padding:0; }
.fgmenusection h3 { font-size:16px; font-weight:bold; background:#0400A2; color:#ffffff; padding:0 0 0 10px; margin:0; }
#fgwrapper h5 { font-size:16px; font-weight:bold; color:#618700; padding:0; margin:0 0 15px 0; }
/* LISTS and MENUS */.fgmenusection ul { margin:5px 0 0 25px; padding:0; }
li.fgmenuitem a:link,li.fgmenuitem a:visited { font-size:14px; font-weight:normal; color:#0400A2; }
li.fgmenuitem { padding-bottom:8px; }
.fgsupport ul { margin-left: 120px; }
/* MISCELLANEOUS TYPOGRAPHY */.subtext { color:#646464; }
.promo { color:#e56d02; font-weight:bold; padding-left:15px; }
div.jpane-slider { padding: 10px 20px 10px 20px; }

/* SPECIAL TEXT */.green,.green a,.green a:link,.green a:visited { color:#618700; }
.green a:hover { color:#e56d02; }
.blue,.blue a,.blue a:link,.blue a:visited { color:#0400A2; }
.blue a:hover { color:#dd3d3d; }
.orange,.orange a,.orange a:link,.orange a:visited { color:#e56d02; }
.orange a:hover { color:#618700; }
.red,.red a,.red a:link,.red a:visited { color:#dd3d3d; }
.red a:hover { color:#0400A2; }
/* FORMS */div.fgformentry { height:40px; }
label.maintext { width:160px; float:left; margin-left:10px; padding-top:3px; clear:both; }
span.formfield { width:160px; float:left; }
div.helpertext { float:left; margin:-15px 0 10px 340px; }
/* IE HACKS for IE pre-7 */* html div.helpertext { margin:3px 0 0 0; padding-bottom:10px;}
* html #fgmainpane {width:99%;}