/* Copyright (C) 2007 - 2011 YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * reset
 */

fieldset.creation-form div { margin: 0; }

#yoo-zoo .submission fieldset { border: 1px solid #C8C8C8; }
#yoo-zoo .submission input,
#yoo-zoo .submission select { vertical-align: baseline; }
#yoo-zoo .submission { font-size: 12px; }

/*
 * container
 */

div.submission { position: relative; }

/*
 * default forms
 */

/* input */
.creation-form input[type='text'],
.creation-form input[type='password'] {
	width: 400px;
	padding: 7px;
	font-size: 13px;
}

/* textarea */
.creation-form textarea {
	width: 400px;
	height: 250px;
	padding: 7px;
	-moz-resize: both;
	resize: both;
}

/* select */
.creation-form select {
	width: 416px;
	padding: 6px;
	font-size: 13px;
	line-height: 25px;
}

.creation-form select option { padding: 0 0 0 5px; }

/* input[radio] + input[checkbox] */
.creation-form input[type='radio'] + label,
.creation-form input[type='checkbox'] + label { margin-right: 10px; }
.creation-form input[type='checkbox'] + label { margin-left: 4px; }

/* input[file] */
.creation-form .upload { overflow: hidden; }

.creation-form .upload input[type="text"],
.creation-form .upload div.button-container,
.creation-form .upload button.submit {
	display: block;
	margin-right: 5px;
	float: left;
}

.creation-form .upload input[type="text"] {
	width: 325px;
	padding: 7px;
	font-size: 13px;
}

.creation-form .upload div.button-container {
	position: relative; 
	width: 70px; 
	height: 32px; 
	overflow: hidden;
}

.creation-form .upload div.button-container button.button-grey.search {
	position: absolute; 
	top: 0px;
	width: 70px; 
	height: 32px;
	padding: 0px 0px 2px 0px;
	line-height: 24px;
}

.creation-form .upload div.button-container input[type="file"] {
	position: absolute; 
	top: 0px; 
	right: 0px; 
	font-size: 50px; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0; 
}

/*
 * special element forms
 */

/* image + download */
.creation-form .image-select select,
.creation-form .download-select select {
	width: 296px;
	margin-top: 10px;
}
.creation-form .image-select span.select,
.creation-form .download-select span.select {
	display: inline-block;
	width: 120px;
}

/* image preview */
.creation-form div.image-preview {
	position: relative;
	width: 408px;
	height: 170px;
	padding: 3px;
	border: 1px solid #CCCCCC;
	overflow: hidden;
	background: #FFFFFF;
}

.creation-form div.image-preview img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

.creation-form div.image-select.hidden,
.creation-form div.image-preview.hidden { display: none; }

.creation-form div.image-preview span.image-cancel {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 10px;
	height: 10px;
	background: url(../../../../administrator/components/com_zoo/assets/images/cancel.png) 0 0 no-repeat;
	vertical-align: middle;
	cursor: pointer;
}

/* download preview */
.creation-form div.download-select.hidden,
.creation-form div.download-preview.hidden { display: none; }

.creation-form div.download-preview span.download-cancel {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	background: url(../../../../administrator/components/com_zoo/assets/images/cancel.png) 0 0 no-repeat;
	vertical-align: baseline;
	cursor: pointer;
}

.creation-form div.download-preview { padding-top: 6px; }

/* date */
.creation-form input.calendar-element { width: 140px !important;  }

/* related item */
div.select-relateditems { overflow: hidden; }

div.select-relateditems ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 10px;
}

div.select-relateditems li {}

div.select-relateditems li > div {
	width: 416px;
	padding: 5px 0 5px 0;
	border-top: 1px dotted #c8c8c8;
	overflow: hidden;
}

div.select-relateditems li:first-child > div { border-top: none; }

div.select-relateditems li:hover > div,
div.select-relateditems li.ghost > div { background: #f0f0f0; }

div.select-relateditems li div.item-name {
	margin-right: 10px;
	background: url(../../../../administrator/components/com_zoo/assets/images/page_white.png) 0 0 no-repeat;
	text-indent: 22px;
	line-height: 18px;
	float: left;
}

div.select-relateditems li div.item-sort,
div.select-relateditems li div.item-delete {
	display: none;
	width: 16px;
	height: 18px;
	margin-right: 7px;
	float: right;
}
div.select-relateditems li div.item-sort {
	background: url(../../../../administrator/components/com_zoo/assets/images/sort.png) 50% 50% no-repeat;
	cursor: move;
}
div.select-relateditems li div.item-delete {
	background: url(../../../../administrator/components/com_zoo/assets/images/delete.png) 50% 50% no-repeat;
	cursor: pointer;
}

div.select-relateditems li:hover div.item-sort,
div.select-relateditems li:hover div.item-delete,
div.select-relateditems li.ghost div.item-sort,
div.select-relateditems li.ghost div.item-delete { display: block; }

div.select-relateditems a.item-add {
	display: inline-block;
	padding: 5px;
	border: 1px solid #CCCCCC;
	background: url(../../../../administrator/components/com_zoo/assets/images/add.png) 5px 50% no-repeat;
	text-indent: 20px;
	color: #000000;
	cursor: pointer;
}

div.select-relateditems a.item-add:hover {
	background-color: #F0F0F0;
	text-decoration: none;
}

/* repeatable */
div.repeat-elements { overflow: hidden; }

div.repeat-elements ul.repeatable-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	position: relative;
}

div.repeat-elements li.repeatable-element {
	min-height: 20px;
	margin-bottom: 15px;
	overflow: hidden;
}

div.repeat-elements li.repeatable-element.hidden {
	width: 0;
	height: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

div.repeat-elements li.repeatable-element div.repeatable-content { float: left; }

div.repeat-elements span.delete,
div.repeat-elements span.sort {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-top: 5px;
	visibility: hidden;
}
div.repeat-elements span.delete {
	background: url(../../../../administrator/components/com_zoo/assets/images/delete.png) 5px 4px no-repeat;
	cursor: pointer;
}
div.repeat-elements span.sort {
	background: url(../../../../administrator/components/com_zoo/assets/images/sort.png) 5px 4px no-repeat;
	cursor: move;
}

div.repeat-elements li.repeatable-element:hover span.delete,
div.repeat-elements li.repeatable-element:hover span.sort { visibility: visible; }

div.repeat-elements li.repeatable-element:first-child span.delete,
div.repeat-elements li.repeatable-element[style*="absolute"]:first-child + li span.delete { visibility: hidden; }

div.repeat-elements li.repeatable-element.ghost { overflow: visible; }

div.repeat-elements li.repeatable-element.ghost .repeatable-content {
	margin: 0;
	padding: 12px 3px 12px 3px;
	background: #F0F0F0 !important;
}
div.repeat-elements li.repeatable-element.ghost input { background: #ffffff; }
div.repeat-elements li.repeatable-element.ghost span.delete { visibility: hidden; }

div.repeat-elements li.repeatable-element.dragging {
	border: 1px;
	border-style: dashed;
}

div.repeat-elements p.add {
	margin: -5px 0 0 0;
	padding: 0;
}

div.repeat-elements p.add a {}

/*
 * submission
 */

/* message */
.submission p.message {
	padding: 5px;
	border-top: 1px dotted #900;
	border-bottom: 1px dotted #900;
	background-color: #fff7f7;
	background-color: rgba(255,0,0,0.03);
	color: #505050;
}

/* fieldset */
.creation-form { padding: 5px 15px 15px 15px; }

/* element */
.creation-form .element {
	margin-bottom: 20px;
	overflow: hidden;
}

.creation-form .element.last { margin-bottom: 0; }

.creation-form .element strong,
.creation-form .element input { vertical-align: middle; }

.creation-form .element > strong {
	display: block;
	width: 130px;
	margin-right: 10px;
	padding-top: 6px;
	float: left;
	font-weight: normal;
	text-transform: uppercase;
}

/* required */
.creation-form .element.required strong:after {
	content: " *";
}

/* element checkbox + radio */
.creation-form .element > input[type='radio'],
.creation-form .element > input[type='checkbox'] { vertical-align: text-top; }
.creation-form .element > input[type='radio'] + label,
.creation-form .element > input[type='checkbox'] + label {
	display: inline-block;
	padding-top: 6px;
}

/* element with sub forms */
.creation-form .element > div { overflow: hidden; }

.creation-form .element div.row { margin-top: 10px; }
.creation-form .element div.row:first-child { margin-top: 0; }

.creation-form .element div.row > label:first-child {
	display: block;
	width: 400px;
	padding: 7px 8px 7px 8px;
	color: #969696;
	color: rgba(0,0,0,0.4);
	line-height: 18px;
	cursor: text; /* IE8 only */
}

.creation-form .element div.row > label:first-child + input {
	margin-top: -32px;
	display: block; /* fixes Opera bug */
	position: relative; /* fixes Opera bug */
}

.creation-form .element div.row > strong {
	display: inline-block;
	margin-right: 10px;
	font-weight: normal;
}

.creation-form .element div.row.short > label:first-child,
.creation-form .element div.row.short > label:first-child + input { width: 140px; }

/* more-options */
.creation-form .element .more-options {
	width: 416px;
	overflow: hidden;
}

.creation-form .element .more-options .trigger { overflow: hidden; }

.creation-form .element .more-options .trigger > div {
	margin-top: 3px;
	padding: 1px 2px 1px 2px;
	border: 1px solid #c8c8c8;
	background: #fafafa;
	float: right;
	font-size: 10px;
	line-height: 12px;
}

.creation-form .element .more-options .trigger > div > div {
	float: right;
	cursor: pointer;
}

.creation-form .element .more-options .trigger .button.advanced.hide { display: none; }
.creation-form .element .more-options.show-advanced .trigger .button.advanced { display: none; }
.creation-form .element .more-options.show-advanced .trigger .button.advanced.hide { display: block; }

.creation-form .element .more-options .trigger .link.button:before,
.creation-form .element .more-options .trigger .lightbox.button:before {
	content: "|";
	display: inline-block;
	margin: 0 5px 0 5px;
}

.creation-form .element .more-options .options {
	display: none;
	margin: 10px 0 20px 0;
}

.creation-form .element .more-options.show-advanced .options.advanced,
.creation-form .element .more-options.show-title .options.title,
.creation-form .element .more-options.show-link .options.link,
.creation-form .element .more-options.show-lightbox .options.lightbox { display: block; }

.creation-form .element div.repeat-elements .hide-options .more-options .options { display: none; }
.creation-form .element div.repeat-elements li.repeatable-element.ghost .more-options .trigger { display: none; }

/* error */
.creation-form .element-name.error input,
.creation-form .element-text.error input,
.creation-form .element-textarea.error textarea,
.creation-form .element-select.error select,
.creation-form .element-link.error input:first-child,
.creation-form .element-email.error input:first-child,
.creation-form .element-date.error input,
.creation-form .element-publish_up.error input,
.creation-form .element-publish_down.error input,
.creation-form .element-image.error .upload input[type="text"],
.creation-form .element-download.error .upload input[type="text"],
.creation-form .element-video.error div.row:first-child > input.url,
.creation-form .element-country.error select,
.creation-form .element-relatedcategories.error select,
.creation-form .element-googlemaps.error div.row:first-child > input,
.creation-form .element-flickr.error div.row:first-child > input,
.creation-form .element-relateditems.error div.select-relateditems a.item-add {
	border-color: #900;
	background-color: #fff7f7;
	background-color: rgba(255,0,0,0.03);
}

.creation-form .error-message {
	margin: 0;
	padding: 0 0 0 140px;
	line-height: 32px;
	color: #f00;
}

/*
 * administration
 */
 
.creation-form.administration {}

.creation-form.administration .width60 { width: 59.999%; float: left; }
.creation-form.administration .width40 { width: 39.999%; float: left; }

/* radio */
.creation-form.administration .element input[type='radio'] + label { margin-right: 10px; }

/* select */
.creation-form.administration .element select { width: 100%; }

/* categories */
.creation-form.administration .element select#categories { height: 155px; }

/* tags */
#tag-area {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	margin: 0px 0px 5px 0px;
	padding: 10px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	border-radius: 3px;
	background: #ebebeb;
	background: -moz-linear-gradient(50% 0%, #ffffff, #f5f5f5);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffffff), to(#f5f5f5), color-stop(70%, #f5f5f5));
}

#tag-area > p {
	margin: 15px 0 10px 5px;
	font-size: 12px;
	color: #666;
}

#tag-area div.tag-cloud { overflow: hidden; }

#tag-area div.tag-cloud a {
	display: block;
	margin: 0 4px 6px 0;
	padding: 2px 10px 2px 10px;
	border: 1px solid #c8c8c8;
	border-bottom-color: #aaaaaa;
	background: #ebebeb;
	background: -moz-linear-gradient(
					50% 0%,
					#ffffff 0%,
					#ebebeb 100%
				);
	background: -webkit-gradient(
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #ffffff),
					color-stop(100%, #ebebeb)
				);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	font-size: 12px;
	color: #2b3840;
	line-height: 17px;
	text-shadow: 0 1px 1px #fff;
	float: left;
	cursor: pointer;
}

#tag-area div.tag-cloud a:hover {
	border: 1px solid #c8c8c8;
	border-top-color: #aaaaaa;
	background: #e1e1e1;
	background: -moz-linear-gradient(
					50% 0%,
					#e1e1e1 0%,
					#f5f5f5 80%,
					#ffffff 100%
				);
	background: -webkit-gradient(
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #e1e1e1),
					color-stop(80%, #f5f5f5),
					color-stop(100%, #f5f5f5)
				);
	text-shadow: 0px -1px 0px rgba(255, 255, 255, 1.0);
	text-decoration: none;
	color: #404040;
}

/*
 * autoSuggest
 */

ul.as-selections {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}

ul.as-selections li {
	float: left;
	margin: 0 4px 6px 0;
	font-size: 12px;
}

ul.as-selections li.as-selection-item {
	padding: 2px 7px 2px 10px;
	border: 1px solid #acc3ec;
	border-top-color: #c0d9e9;
	background: #ddeefe;
	background: -moz-linear-gradient(
					50% 0%,
					#eaf4fe 0%,
					#bfe0f1 100%
				);
	background: -webkit-gradient(
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #eaf4fe),
					color-stop(100%, #bfe0f1)
				);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	color: #2b3840;
	line-height: 16px;
	text-shadow: 0 1px 1px #fff;
}

ul.as-selections li.as-selection-item a.as-close {
	margin: 1px 0 0 7px;
	padding: 0 2px;
	float: right;
	color: #5491be;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	-webkit-transition: color .1s ease-in;
	cursor: pointer;
}

ul.as-selections.blur li.as-selection-item {
	border-color: #c8c8c8;
	border-bottom-color: #aaaaaa;
	background: #ebebeb;
	background: -moz-linear-gradient(
					50% 0%,
					#ffffff 0%,
					#ebebeb 100%
				);
	background: -webkit-gradient(
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #ffffff),
					color-stop(100%, #ebebeb)
				);
	color: #323232;
}
ul.as-selections.blur li.as-selection-item a.as-close { color: #999; }

ul.as-selections li:hover.as-selection-item {
	border-color: #6da0e0;
	border-top-color: #8bb7ed;
	background: #bbd4f1;
	background: -moz-linear-gradient(
					50% 0%,
					#dfecf9 0%,
					#9fc8eb 100%
				);
	background: -webkit-gradient(
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #dfecf9),
					color-stop(100%, #9fc8eb)
				);
	color: #2b3840;
}

ul.as-selections li:hover.as-selection-item a.as-close { color: #4d70b0; }
ul.as-selections li.as-selection-item.selected { border-color: #017293; }
ul.as-selections li.as-selection-item a:hover.as-close { color: #1b3c65; }
ul.as-selections li.as-selection-item a:active.as-close { color: #4d70b0; }

ul.as-selections li.as-original {
	padding: 1px 5px 3px 10px;
	border: 1px solid #c8c8c8;
	background: #fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	color: #969696;
	line-height: 17px;
}
ul.as-selections li.as-original input {
	width: 130px;
	height: 17px;
	padding: 0 20px 0 0;
	border: none;
	outline: none;
	overflow: hidden;
	font-size: 12px;
}
ul.as-selections li.as-original input:focus { background: none; }

ul.as-selections li.as-original input.placeholder { color: #969696; }

ul.as-selections li.as-original input.ui-autocomplete-loading { background: url(../images/loader.gif) 100% 50% no-repeat; }

/* submit */
.submission div.submit {
	margin: 10px 0 10px 0;
	overflow: hidden;
	text-align: center;
}

.submission #cancel-button { margin-left: 10px; }

/* buttons */
.submission a.button-grey,
.submission button.button-grey {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	border: 1px solid #c8c8c8;
	border-bottom-color: #aaaaaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #ebebeb;
	background: -moz-linear-gradient(50% 0%, #ffffff, #ebebeb 70%);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffffff), to(#ebebeb), color-stop(70%, #ebebeb));
	font-size: 12px;
	line-height: 16px;
	color: #323232;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0);
}

.submission a.button-grey:hover,
.submission button.button-grey:hover {
	border: 1px solid #c8c8c8;
	border-top-color: #aaaaaa;
	background: #e1e1e1;
	background: -moz-linear-gradient(50% 0%, #e1e1e1 , #f5f5f5 96%, #ffffff 96%);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#e1e1e1), to(#ffffff), color-stop(90%, #f5f5f5));
	text-shadow: 0px -1px 0px rgba(255, 255, 255, 1.0);
	color: #404040;
	text-decoration: none;
	cursor: pointer;
}

.submission a.button-green,
.submission button.button-green {
	display: inline-block;
	padding: 7px 25px 7px 25px;
	border: 1px solid #5a8200;
	border-bottom-color: #325000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #8cbe32;
	background: -moz-linear-gradient(50% 0%, #aff532, #9bd732 1px, #6e912d);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#aff532), to(#6e912d), color-stop(5%, #9bd732));
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.submission a.button-green:hover,
.submission button.button-green:hover {
	border: 1px solid #5a8200;
	border-top-color: #4b7800;
	background: #78a032;
	background: -moz-linear-gradient(50% 0%, #78a032, #9bd732 90%);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#78a032), to(#9bd732), color-stop(90%, #9bd732));
	text-decoration: none;
	cursor: pointer;
}

/*
 * mysubmissions
 */

.mysubmissions { min-height: 350px;}

/* toolbar */
.mysubmissions .toolbar {
	height: 30px;
	margin-bottom: 10px;
}

.mysubmissions .toolbar #submission-filter,
.mysubmissions .toolbar .submission-add {
	margin-left: 10px;
	float: right;
}

.mysubmissions .toolbar #submission-filter select {
	height: 30px;
	line-height: 24px;
	padding: 5px;
}

.mysubmissions .toolbar .submission-add {
	position: relative;
	z-index: 1; /* IE7 fix */
}

.mysubmissions .toolbar .submission-add .trigger {
	position: relative;
	z-index: 2;
	height: 28px;
	padding: 0 10px 0 0;
	background: url(../../assets/images/add.png) 5px 6px no-repeat;
	border: 1px solid #CCCCCC;
	line-height: 28px;
	text-indent: 25px;
	color: #000000;
}
.mysubmissions .toolbar .submission-add:hover .trigger {
	height: 33px;
	border-bottom-color: #ffffff;
}

.mysubmissions .toolbar div.links {
	display: none;
	position: absolute;
	top: 34px;
	right: 0;
	z-index: 1;
	min-width: 100px;
	padding: 10px;
	border: 1px solid #DCDCDC;
	background: #FFFFFF;
	color: #646464;
	float: right;
	font-size: 12px;
	line-height: 25px;
}

.mysubmissions .toolbar .submission-add:hover div.links { display: block; }

/* submissions */
.mysubmissions ul.submissions {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mysubmissions ul.submissions > li {
	margin: 0 0 10px 0;
	padding: 0;
	overflow: hidden; /* IE7 fix */
}

.mysubmissions ul.submissions > li > div.header {
	position: relative;
	border: 1px solid #c8c8c8;
	border-bottom-color: #aaaaaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.mysubmissions ul.submissions > li > div.header > h3 {
	display: inline-block;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	text-indent: 10px;
	cursor: pointer;
}

.mysubmissions ul.submissions > li > div.header > h3 > span {
	color: #969696;
	font-weight: normal;
}

.mysubmissions ul.submissions > li > div.header > a.item-icon {
	display: block;
	width: 16px;
	height: 16px;
	margin: 6px 10px 0 0;
	float: right;
	cursor: pointer;
}

.mysubmissions ul.submissions > li > div.header > a.edit-item { background: url(../images/edit.png) 0 0 no-repeat; }

.mysubmissions ul.submissions > li > div.header > a.delete-item { background: url(../images/delete.png) 0 0 no-repeat; }

.mysubmissions ul.submissions > li > div.preview { padding: 20px 10px 10px 10px; }
.mysubmissions ul.submissions > li > div.preview.hidden { display: none; }

.mysubmissions p.no-submissions {}

/*
 * tiny mce editor
 */

.mceEditor.defaultSkin table.mceLayout {
	border: 1px solid #CCCCCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.mceEditor.defaultSkin table.mceLayout td { padding: 0px; }
.mceEditor.defaultSkin td.mceCenter table { margin: 0px; }
.mceEditor.defaultSkin table.mceLayout > tbody > tr { background: #ffffff; }
.mceEditor.defaultSkin table.mceLayout > tbody > tr > td.mceFirst { white-space: normal; }

.mceEditor.defaultSkin table.mceLayout tr.mceFirst td,
.mceEditor.defaultSkin table.mceLayout tr.mceLast td { border: none; }

.mceEditor.defaultSkin table.mceLayout tr.mceFirst > td {
	padding: 2px 0px 2px 0px;
	border-bottom: 1px solid #CCCCCC;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: #ebebeb;
	background: -moz-linear-gradient(50% 0%, #ffffff, #f5f5f5 70%);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffffff), to(#f5f5f5), color-stop(70%, #f5f5f5));
}

.mceEditor.defaultSkin table.mceLayout tr.mceLast > td {
	padding: 5px 0px 5px 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #ebebeb;
	background: -moz-linear-gradient(50% 0%, #ffffff, #f5f5f5 70%);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffffff), to(#f5f5f5), color-stop(70%, #f5f5f5));
}

.mceEditor.defaultSkin table.mceLayout table.mceToolbar {
	padding-left: 2px;
	background: none;
}

.mceEditor.defaultSkin table.mceLayout table.mceToolbar {
	padding-left: 2px;
	background: none;
	float: left; /* only for floating */
}

.mceEditor.defaultSkin table.mceLayout table.mceToolbar .mceButton {
	border: 1px solid #dcdcdc;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #b4b4b4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #fafafa;
	background: -moz-linear-gradient(50% 0%, #ffffff, #f5f5f5 70%);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ffffff), to(#f5f5f5), color-stop(70%, #f5f5f5));
}

.mceEditor.defaultSkin table.mceLayout table.mceToolbar a.mceButtonEnabled:hover {
	border: 1px solid #b4b4b4;
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px solid #b4b4b4;
	background: #d7d7d7;
	background: -moz-linear-gradient(50% 0%, #d7d7d7, #ebebeb 20%);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#d7d7d7), to(#ebebeb), color-stop(20%, #ebebeb));
}
.mceEditor.defaultSkin table.mceLayout table.mceToolbar a.mceButtonEnabled:hover span { cursor: pointer; }

.mceEditor.defaultSkin table.mceLayout table.mceToolbar .mceSeparator {
	width: 0px;
	margin: 0px;
	padding: 0px;
	background: none;
}

.mceEditor.defaultSkin table.mceLayout table.mceToolbar .mceListBox .mceOpen {
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.mceEditor.defaultSkin table.mceLayout table.mceToolbar .mceListBox .mceText {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.mceEditor.defaultSkin table.mceLayout .mceIframeContainer { border-top: none; }

.mceEditor.defaultSkin table.mceLayout .mceStatusbar { padding-left: 3px; }

.yoo-zoo #editor-xtd-buttons { padding-left: 0px; }

.yoo-zoo .button2-left { margin-right: 5px; }
.yoo-zoo .button2-left .blank { background: url(../../../../templates/system/images/j_button2_blank.png) 100% 0 no-repeat; }

/*
* Joomla 1.5 -> 1.6 compatiblity
*/
/* editor buttons */
#editor-xtd-buttons {
    margin: 10px 0 10px 0;
    padding: 0;
}

#editor-xtd-buttons .button2-left,
#editor-xtd-buttons .button2-left * { float: left; }

#editor-xtd-buttons .button2-left {
    margin-right: 5px;
    background: url(../../../../templates/system/images/j_button2_left.png) no-repeat;
}

#editor-xtd-buttons .button2-left .image { background: url(../../../../templates/system/images/j_button2_image.png) 100% 0 no-repeat; }

#editor-xtd-buttons .button2-left a,
#editor-xtd-buttons .button2-left span {
    display: block;
    height: 22px;
    padding: 0 24px 0 6px;
    line-height: 22px;
    font-size: 11px;
    color: #666;
}

#editor-xtd-buttons .button2-left span { color: #999; }

#editor-xtd-buttons .button2-left a:hover {
    text-decoration: none;
    color: #0B55C4;
}