/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl {
	text-align: left;
	padding: 0 20px 0 5px;
}
.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd {
	padding-left: 0;
	margin: -25px 0 10px 65px;
}
.ui-timepicker-div td { font-size: 90%; }