/* XB */
div.greybox {
    background: none repeat scroll 0 0 #FFFFFF;
    /* border: 1px solid #CCCCCC; */
    border-radius: 10px 10px 10px 10px;
    margin: 0 0 15px;
}
div.greybox div div {
    border: medium none;
}
div.greybox div div div {
    background: none repeat scroll 0 0 transparent;
}
div.greybox div div div h1, div.greybox div div div h2 {
    margin: 0;
    padding: 0;
}
div.greybox div div div h1 {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 35px;
    margin: 0 0 20px;
    padding: 0 0 10px;
}
div.greybox div div div h2 {
    color: #666666;
    margin: 0 0 15px;
}
div.greybox div div div.introduction {
    margin: 0;
    padding: 30px 0 0 20px;
}
/* XB */
div.greybox div div div.loginform {
    /* background: url("../images/greybox-separator.gif") no-repeat scroll left top transparent; */
    float: right;
    height: auto;
    padding: 20px 15px 0 30px;
    width: 200px;
}
div.greybox div div div.loginform input.frontlogin {
    color: #666666;
    font-size: 16px;
    font-weight: 700;
    padding: 3px;
    width: 90%;
}
div.greybox a#joinButton {
    background: url("../images/join-button-big-empty.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-size: 19px;
    font-weight: 700;
    height: 49px;
    line-height: 46px;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px #333333;
    width: 278px;
}
div.greybox a#joinButton:hover {
    background: url("../images/join-button-big-empty.gif") no-repeat scroll 0 -49px transparent;
    text-decoration: none;
}
div.greybox a#joinButton2 {
    background: url("../images/join-button-big.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 49px;
    text-indent: -9999px;
    width: 278px;
}
div.greybox a#joinButton2:hover {
    background: url("../images/join-button-big.gif") no-repeat scroll 0 -49px transparent;
}