/* Copyright (C) 2007 - 2011 YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * item
 */

/* position headings */
#yoo-zoo .item h3 {
	margin-top: 0px;
	padding-bottom: 7px;
	background: url(../images/line_dotted_h.png) 0 100% repeat-x;
	font-size: 20px;
	font-weight: normal;
}

/* element type: textarea */
#yoo-zoo .item .element-textarea > * { margin: 0px 0px 10px 0px; }
#yoo-zoo .item .element-textarea *:last-child { margin-bottom: 0px; }

/* position: top */
#yoo-zoo .item div.pos-top { overflow: hidden; }
#yoo-zoo .item div.pos-top .element { margin-bottom: 20px; }

/* title */
#yoo-zoo .item h1.pos-title {
	margin: 0px 0px 5px 0px;
	font-weight: normal;
	color: #323232;
	font-size: 20px;
	line-height: 25px;
	float: left;
}

/* position: header */
#yoo-zoo .item div.pos-header {
	overflow: hidden;
	background: url(../images/line_dotted_h.png) 0 100% repeat-x;
}

#yoo-zoo .item div.pos-header .element {
	margin-top: 3px;
	float: right;
}

/* element type: rating */
#yoo-zoo .item div.pos-header div.rating { overflow: hidden; }
#yoo-zoo .item div.pos-header div.rating div.rating-container {
	margin-left: 10px;
	float: right;
}
#yoo-zoo .item div.pos-header div.rating div.vote-message {
	float: right;
	line-height: 23px;
}

#yoo-zoo div.rating div.rating-container,
#yoo-zoo div.rating div.previous-rating,
#yoo-zoo div.rating div.current-rating div.hover { background-image: url(../images/stars.png); }

#yoo-zoo div.rating div.star1 { width: 22px; }
#yoo-zoo div.rating div.star2 { width: 44px; }
#yoo-zoo div.rating div.star3 { width: 66px; }
#yoo-zoo div.rating div.star4 { width: 88px; }
#yoo-zoo div.rating div.star5 { width: 110px; }
#yoo-zoo div.rating div.star6 { width: 132px; }
#yoo-zoo div.rating div.star7 { width: 154px; }
#yoo-zoo div.rating div.star8 { width: 176px; }
#yoo-zoo div.rating div.star9 { width: 198px; }
#yoo-zoo div.rating div.star10 { width: 220px; }

/* position: infobar */
#yoo-zoo .item ul.pos-infobar {
	list-style: none;
	margin: 0px 0px 30px 0px;	
	padding: 2px 0px 2px 0px;
	background: url(../images/line_dotted_h.png) 0 100% repeat-x;
	overflow: hidden;
}

#yoo-zoo .item ul.pos-infobar li {
	padding: 0px 15px 0px 15px;
	height: 26px;
	line-height: 26px;
	float: left;
	color: #399FB1;
	background: url(../images/line_dotted_v.png) 100% 0 repeat-y;
}

#yoo-zoo .item ul.pos-infobar li.element.first { padding-left: 0px; }

#yoo-zoo .item ul.pos-infobar strong { color: #646464; }

/* position: media, ingredients */
#yoo-zoo .item div.ingredients {
	margin-bottom: 30px;
	overflow: hidden;
}

/* position: media */
#yoo-zoo .item div.pos-media { border: 6px solid #F0F1F2; }

#yoo-zoo .item div.pos-media > * {
	border: 1px solid #D2D3D4;
	background: #ffffff;
}

#yoo-zoo .item div.media-left {
	margin-right: 15px;
	float: left;
}

#yoo-zoo .item div.media-right {
	margin-left: 15px;
	float: right;
}

#yoo-zoo .item div.pos-media .element { margin-bottom: 15px; }
#yoo-zoo .item div.pos-media .element.last { margin-bottom: 0px; }

/* element type: image */
#yoo-zoo .item div.pos-media .element-image > * { display: block; }

/* position: ingredients */
#yoo-zoo .item div.pos-ingredients {
	line-height: 24px;
	overflow: hidden;
}

#yoo-zoo .item div.pos-ingredients ul {
	list-style: none;
	padding: 0px 0px 0px 0px;
}

#yoo-zoo .item div.pos-ingredients li {
	padding-left: 30px;
	background: url(../images/arrow_blue.png) 15px 50% no-repeat;
}

/* position: sidebar, directions */
#yoo-zoo .item div.directions { overflow: hidden; }

/* position: sidebar */
#yoo-zoo .item div.pos-sidebar { width: 300px; }

#yoo-zoo .item div.sidebar-left {
	margin-right: 60px;
	float: left;
}

#yoo-zoo .item div.sidebar-right {
	margin-left: 60px;
	float: right;
}

#yoo-zoo .item div.pos-sidebar .element { margin-bottom: 20px; }
#yoo-zoo .item div.pos-sidebar .element.last { margin-bottom: 0px; }

#yoo-zoo .item div.pos-sidebar .element h3 { color: #323232; }

#yoo-zoo .item div.pos-sidebar .element ul {
	list-style: none;
	padding: 0px;
}

#yoo-zoo .item div.pos-sidebar .element li {
	background: url(../images/arrow_grey.png) 0px 50% no-repeat;
	padding-left: 10px;
}

/* element type: related items */
#yoo-zoo .item div.pos-sidebar .element-relateditems > div {
	margin-bottom: 10px;
	overflow: hidden;
}
#yoo-zoo .item div.pos-sidebar .element-relateditems > div:last-child {
	border: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* related item */
#yoo-zoo .item div.pos-sidebar .element-relateditems div.sub-pos-media {
	display: inline-block;
	margin: 0px 10px 0px 0px;
	border: 1px solid #dcdcdc;
	vertical-align: middle;
}

#yoo-zoo .item div.pos-sidebar .element-relateditems div.sub-pos-media > * { padding: 1px; }
#yoo-zoo .item div.pos-sidebar .element-relateditems div.sub-pos-media > a,
#yoo-zoo .item div.pos-sidebar .element-relateditems div.sub-pos-media > a > img { display: block; }


#yoo-zoo .item div.pos-sidebar .element-relateditems h4.sub-pos-title {
	display: inline-block;
	margin: 0px;
	font-size: 12px;
	font-weight: normal;
	line-height: 12px;
	color: #323232;
}

/* position: directions */
#yoo-zoo .item div.pos-directions { overflow: hidden; }

#yoo-zoo .item div.pos-directions ol {
	margin: 15px 0px 15px 10px;
	padding-left: 20px;
	color: #399FB1;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: italic;
}

#yoo-zoo .item div.pos-directions ol li { margin-bottom: 15px; }
#yoo-zoo .item div.pos-directions ol li:last-child { margin-bottom: 0px; }

#yoo-zoo .item div.pos-directions ol div {
	font-family: Arial, Helvetica, sans-serif;
	color: #646464;
	font-size: 12px;
	font-style: normal;
}

/* position: bottom */
#yoo-zoo .item div.pos-bottom { overflow: hidden; }
#yoo-zoo .item div.pos-bottom .element { margin-top: 20px; }