.cFeed-item {display: block;margin: 0;padding: 7px !important;position: relative;overflow: hidden;border-bottom: 1px dotted #ccc;}
.cFeed-item .newsfeed-avatar {width: 50px;float: left;}
.cFeed-item .newsfeed-favicon {width: 20px;position: absolute;right: 0;bottom: 3px;}
.newsfeed-meta.small {margin:5px 0;padding:0;font-size:90%;}
.no-avatar .newsfeed-favicon { top: 6px; left: 2px;}
.cFeed-item .newsfeed-content {margin: 0 0 0 45px;}
.cFeed-item .newsfeed-content a {font-weight:normal;text-decoration:none;font-size:inherit;}
.no-avatar .newsfeed-content { margin: 0 0 0 25px;}
.cFeed-item .newsfeed-date {position: absolute;bottom: 2px;left: 0;}
.cFeed-item .newsfeed-content-top {margin: 0;}
.cFeed-item .newsfeed-remove  {display:none;position:absolute;right:0;top:7px;}
.cFeed-item .cDetailList, .cFeed-item .cDetailList li {background:none repeat scroll 0 0 transparent !important;line-height:17px;list-style:none outside none;margin:0;padding:0;display: inline;}
.cFeed-item .newsfeed-content-hidden{display:none;margin:8px 0px 0 0;padding:5px;background:#f2f2f2; line-height: 1.3}
.cFeed-item .cComment.wall-coc-item {display:block;overflow:auto;zoom:1;background:#F9F9F9;margin-bottom:1px;padding: 5px;font-size:90%;}
.cFeed-item .cComment.wallicon-comment {font-size:90%;}
.cFeed-item .cComment.wall-coc-item a img {width:32px;float:left;margin:0 8px 8px 0;}
.cFeed-item .cComment.wall-coc-item .wall-coc-author {display:block;}
.cFeed-item .wall-coc-form-actions ul {list-style-type:none;padding:0;margin:0;display:block;overflow:auto;zoom:1;}
.cFeed-item .wall-coc-form-actions ul li {display:block;float:left;}
.cFeed-item .wall-coc-time {display:block;overflow:auto;}