ul.latest-discussions-items{
	padding: 0;
	margin: 0;
	list-style: none;
}
	ul.latest-discussions-items li {
		background: none !important;
		list-style: none !important;
		padding: 5px 0 !important;
		border: none;
	}

	ul.latest-discussions-items li + li {
		border-top: solid 1px #ccc;
	}

ul.latest-discussions-items li div.item-avatar{
	float: left;
	width: auto !important;
}
	ul.latest-discussions-items li div.item-avatar img {
		width: 32px;
		padding: 2px;
		border: solid 1px #ccc;
	}

ul.latest-discussions-items li div.item-title,
ul.latest-discussions-items li div.item-description{
	margin-left: 42px;
	line-height: normal;
	width: auto !important;
}

ul.latest-discussions-items li div.item-group-separator{
	width: auto !important;
}
