/* Copyright (C) 2007 - 2011 YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * rating
 */

.yoo-zoo.rating { font-size: 12px; }

.yoo-zoo.rating div.rating-container {
	position: relative;
	height: 20px;
	background: url(../images/stars.png) 0 0 repeat-x;
	overflow: hidden;
}

.yoo-zoo.rating div.previous-rating {
	height: 20px;
	background: url(../images/stars.png) 0 -20px repeat-x;
}

.yoo-zoo.rating div.current-rating div {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 20px;
	cursor: pointer;
}

.yoo-zoo.rating div.current-rating div.hover { background: url(../images/stars.png) 0 -40px repeat-x; }

.yoo-zoo.rating div.star1 { width: 20px; }
.yoo-zoo.rating div.star2 { width: 40px; }
.yoo-zoo.rating div.star3 { width: 60px; }
.yoo-zoo.rating div.star4 { width: 80px; }
.yoo-zoo.rating div.star5 { width: 100px; }
.yoo-zoo.rating div.star6 { width: 120px; }
.yoo-zoo.rating div.star7 { width: 140px; }
.yoo-zoo.rating div.star8 { width: 160px; }
.yoo-zoo.rating div.star9 { width: 180px; }
.yoo-zoo.rating div.star10 { width: 200px; }