/* Copyright (C) 2007 - 2011 YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

.zoo-item.list-h > ul {
	margin: 0px -10px 0px -10px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
}

.zoo-item.list-h > ul > li {
	margin: 0px;
	padding: 0px;
	background: url(images/line_dotted_v.png) 0 0 repeat-y;
	float: left;
	overflow: hidden;
}
.zoo-item.list-h > ul > li:first-child { background: none; }
.zoo-item.list-h > ul > li.odd {}
.zoo-item.list-h > ul > li.even {}

.zoo-item.list-h > ul > li.width12 { width: 12.5%; }
.zoo-item.list-h > ul > li.width14 { width: 14.285%; }
.zoo-item.list-h > ul > li.width16 { width: 16.666%; }
.zoo-item.list-h > ul > li.width20 { width: 20%; }
.zoo-item.list-h > ul > li.width25 { width: 25%; }
.zoo-item.list-h > ul > li.width33 { width: 33.33%; }
.zoo-item.list-h > ul > li.width50 { width: 50%; }

.zoo-item.list-h > ul > li > div { padding: 0px 10px 0px 10px; }

/* position: media */
.zoo-item.list-h div.media-top { margin-bottom: 10px; }

.zoo-item.list-h div.media-left {
	margin-right: 10px;
	float: left;
}

.zoo-item.list-h div.media-right {
	margin-left: 10px;
	float: right;
}

.zoo-item.list-h div.media-middle,
.zoo-item.list-h div.media-bottom { margin-top: 10px; }

.zoo-item.list-h div.media > img,
.zoo-item.list-h div.media > object,
.zoo-item.list-h div.media > embed { display: block; }

/* position: title */
.zoo-item.list-h h3.title {
	margin: 0px;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	letter-spacing: 0px;
}

.zoo-item.list-h h3.title a {}

/* position: meta */
.zoo-item.list-h p.meta {
	margin: 0px;
	font-size: 11px;
	color: #969696;
	line-height: 13px;
	font-style: italic;
}

/* position: description */
.zoo-item.list-h div.description { margin: 5px 0px 0px 0px; }

.zoo-item.list-h div.description > div { margin-top: 5px; }
.zoo-item.list-h div.description > div:first-child { margin-top: 0px; }

/* position: links */
.zoo-item.list-h p.links { margin: 5px 0px 0px 0px; }

.zoo-item.list-h p.links span a:after {
	content: " »";
	font-size: 14px;
}