/*
INDEX:

1. SETUP
-1.1 Defaults

2. INDEX
-2.1 Index
-2.2 Featured
-2.3 Listing
-2.4 Sidebar
-2.5 Event Calendar

*/

/*-------------------------------------------------------------------------------------------*/
/* 1. SETUP */
/*-------------------------------------------------------------------------------------------*/
/* Defaults */
#community-wrap.cEvents {}

/*-------------------------------------------------------------------------------------------*/
/* 2. INDEX */
/*-------------------------------------------------------------------------------------------*/
/* 2.1 Index */
#community-wrap.cEvents.cIndex {}

/* 2.2 Featured */
#community-wrap.cEvents .cIndex #cFeatured{padding:0}
#community-wrap.cEvents .cIndex #cFeatured .cEventMain{border-radius:5px 5px 0 0;background:#f8f8f8;border:#ddd solid 1px;box-shadow:inset #fff 0 1px 0;margin:-1px -1px 0;padding:20px}
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .event-avatar{background:#fcfcfc;border:#ddd solid 1px;border-radius:3px;padding:4px}
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .event-category{background:#fcfcfc;font-size:12px;font-weight:700;border-radius:3px;width:168px;border-color:#ddd}
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .event-rvsp{float:right;width:220px;background:#fcfcfc}
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .event-rvsp .cModule{margin:0;padding:5px}
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .cEventInfo{margin:0 230px 0 185px}
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .cEventInfo .cFeaturedTitle{text-align:left;font-size:24px;line-height:1.2;margin:0 0 10px}
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .cEventInfo .cFeaturedTitle a{color:#333}
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .cEventInfo .event-created,
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .cEventInfo .event-location,
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .cEventInfo .event-summary{margin-bottom:5px}
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .cEventInfo .event-created > span,#community-wrap.cEvents .cIndex #cFeatured .cEventMain .cEventInfo .event-location > span,
#community-wrap.cEvents .cIndex #cFeatured .cEventMain .cEventInfo .event-summary > span{font-weight:700;display:block}
#community-wrap.cEvents .cIndex #cFeatured .cFeaturedContent{background:#e3e3e3;border:#d6d6d6 solid 1px;border-top:#f5f5f5 solid 1px;border-radius:0 0 3px 3px;margin:0 -1px -1px}
#community-wrap .cSlider.featured-event{height:100px}
#community-wrap.cEvents .cSlider .cSlider-nav .cSlider-nav-prev,
#community-wrap.cEvents .cSlider .cSlider-nav .cSlider-nav-next{top:10px}
#community-wrap.cEvents .cSlider .cSlider-nav-clip ul li{border:#ccc solid 1px;box-shadow:inset 0 1px 0 #f5f5f5;background:#ebebeb;border-radius:5px;width:178px;line-height:1;color:#555;cursor:pointer;margin:0 10px 0 0}
#community-wrap.cEvents .cSlider .cSlider-nav-clip ul li .cEventDate{width:40px;height:52px;float:left;font-weight:700;font-size:18px;line-height:1;padding:10px 0 0}
#community-wrap.cEvents .cSlider .cSlider-nav-clip ul li .cEventDate span{font-size:10px;text-transform:uppercase;font-weight:400;height:14px;overflow:hidden}
#community-wrap.cEvents .cSlider .cSlider-nav-clip ul li .cEventMeta{border-left:#ccc solid 1px;height:100%;position:absolute;margin:0 0 0 40px;padding:10px}
#community-wrap.cEvents .cSlider .cSlider-nav-clip ul li .cFeaturedTitle{font-size:14px;text-align:left;font-weight:700;line-height:1;margin:0}
#community-wrap.cEvents .cSlider .cSlider-nav-clip ul li .cEventLocation{font-size:11px;text-align:left}

/* 2.3 Listing */
#community-wrap.cEvents.cIndex .cListing {}

/* 2.4 Sidebar */
#community-wrap.cEvents.cIndex .cSidebar {}

/* 2.5 Event Calendar */
#community-wrap #event table{width:100%;margin-top:3px}
#community-wrap #event table th,
#community-wrap #event table tr,
#community-wrap #event table td{text-align:center;width:30px;border:1px solid #fefefe}
#community-wrap #event table td{cursor:pointer;color:#aaa;font-size:11px;padding:3px}
#community-wrap #event table td+td:hover{background:#000;color:#f8f8f8}
#community-wrap #event table td.running{background:#555;color:#f8f8f8;font-weight:700}
#community-wrap #event table td.midrunning{background:transparent;font-weight:700;font-style:italic;color:#444}
#community-wrap #event table td.highlightrunning{background:#000!important;color:#f8f8f8;z-index:999;font-weight:700}
#community-wrap #event table td.selected{background:#000!important;font-weight:700;color:#f8f8f8}
#community-wrap .calendar-month{background:#999;color:#fff;font-weight:700;text-align:center;height:24px;line-height:24px;cursor:default}
#community-wrap .calendar-month span.calendar-prev,
#community-wrap .calendar-month span.calendar-next{background:url(../../images/calendar-nav.png) no-repeat;height:13px;width:15px;display:inline-block;margin-top:5px;cursor:pointer}
#community-wrap .calendar-month span.calendar-prev{background-position:0 0;float:left;margin-left:4px}
#community-wrap .calendar-month span.calendar-next{background-position:0 -13px;float:right;margin-right:4px}
#community-wrap .community-calendar-result{margin-top:3px;border-top:1px solid #ddd;padding:5px 0}