/*
INDEX:

1. SETUP
-1.1 Defaults

2. MY GROUP UPDATE
-2.1 Update Listing ( Discussion Group Updates & Announcement Updates ) 
-2.2 My Group Module
-2.3 Video Updates Module
-2.4 Album Updates Module
-2.5 Upcoming Events Module

3. FILES
4. TAB CONTENT

/*-------------------------------------------------------------------------------------------*/
/* 1. SETUP */
/*-------------------------------------------------------------------------------------------*/
/* Defaults */
#community-wrap.cGroups {}

/*-------------------------------------------------------------------------------------------*/
/* 2. INDEX */
/*-------------------------------------------------------------------------------------------*/
/* 2.1 Featured */
#community-wrap.cGroups .cIndex #cFeatured{padding:0}
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain{border-radius:5px 5px 0 0;background:#f8f8f8;border:#ddd solid 1px;box-shadow:inset #fff 0 1px 0;margin:-1px -1px 0;padding:20px}
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain .group-avatar{background:#fcfcfc;border:#ddd solid 1px;border-radius:3px;padding:4px}
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain .group-category{background:#fcfcfc;font-size:12px;font-weight:700;border-radius:3px;width:168px;float:left;text-align:center;clear:left;border:1px solid #ccc;margin-top:5px;border-color:#ddd;padding:4px 0}
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain .cGroupInfo{margin:0 0 0 185px}
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain .cGroupInfo .cFeaturedTitle{text-align:left;font-size:24px;line-height:1.2;margin:0 0 10px}
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain .cGroupInfo .group-desc{margin-bottom:20px}
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain .cGroupInfo .group-created span{font-weight:700}
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain .cGroupInfo .group-actions{margin-top:10px}
#community-wrap.cGroups .cIndex #cFeatured .cFeaturedContent{background:#e3e3e3;border:#d6d6d6 solid 1px;border-top:#f5f5f5 solid 1px;border-radius:0 0 3px 3px;margin:0 -1px -1px}
#community-wrap.cGroups .cIndex #cFeatured .cSlider ul li{width:178px;border:#CCC solid 1px;box-shadow:#f5f5f5 inset 0 1px 0;background:#ebebeb;border-radius:5px;height:58px;margin:0 10px 0 0}
#community-wrap.cGroups .cIndex #cFeatured .cSlider ul li .cFeaturedImg{float:left;height:48px;width:60px;border-right:#ccc solid 1px;padding:5px 0}
#community-wrap.cGroups .cIndex #cFeatured .cSlider ul li .cFeaturedImg img{width:40px;height:auto;border:#ddd solid 1px;background:#fff;padding:3px}
#community-wrap.cGroups .cIndex #cFeatured .cSlider ul li a.cFeaturedImg{box-shadow:none}
#community-wrap.cGroups .cIndex #cFeatured .cSlider ul li .cFeaturedTitle{text-align:left;line-height:1.1;margin:0 0 3px 70px;padding:5px 0 0}
#community-wrap.cGroups .cSlider .cSlider-nav .cSlider-nav-prev,
#community-wrap.cGroups .cSlider .cSlider-nav .cSlider-nav-next{top:10px}
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain .group-category > div,
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain .cGroupInfo .group-created .group-date{display:inline}
#community-wrap.cGroups .cIndex #cFeatured .cGroupsMain .cGroupInfo .cFeaturedTitle a,
#community-wrap.cGroups .cIndex #cFeatured .cSlider ul li .cFeaturedTitle a{color:#333}



/*-------------------------------------------------------------------------------------------*/
/* 3. MY GROUPS */
/*-------------------------------------------------------------------------------------------*/
#community-wrap.cGroups .cMyGroups {}
/* 3.1 - Group Listing */
#community-wrap.cGroups .cGroups-UpdateListing {display:block;list-style-type:none;margin:0 10px 20px 0;padding:0;overflow:auto;}
#community-wrap.cGroups .cGroups-UpdateListing li {display:block;clear:left;float:left;width:100%;line-height:16px;padding:10px 0 7px; border-bottom:1px solid #eee;}
#community-wrap.cGroups .cGroups-UpdateListing li:first-child {border-bottom:none;padding:0;}
#community-wrap.cGroups .cGroups-UpdateListing li:last-child {border-bottom:none;}
#community-wrap.cGroups .cGroups-UpdateListing li h3 {border:1px solid #ddd;padding:5px;font-weight:bold;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;background:#eee;}
#community-wrap.cGroups .cGroups-UpdateListing .userInfo img {float:left;display:inline;margin:5px 0px 0px 5px;width:40px;border:3px solid #fff;outline:1px solid #ccc;height:40px;}
#community-wrap.cGroups .cGroups-UpdateListing .userInfo, 
#community-wrap.cGroups .cGroups-UpdateListing .groupInfo {float:left;display:inline;}
#community-wrap.cGroups .cGroups-UpdateListing .userInfo {width:100%;}
#community-wrap.cGroups .cGroups-UpdateListing .discussionTitle {line-height:17px;font-size:90%;margin:0;padding:0;}
#community-wrap.cGroups .cGroups-UpdateListing .userShout {padding:0 5px 0 65px;}
#community-wrap.cGroups .cGroups-UpdateListing .userShout .arrow{font-size:70%;}
#community-wrap.cGroups .cGroups-UpdateListing .shout {display:block;}
#community-wrap.cGroups .cGroups-UpdateListing .groupInfo {width:25%;}
#community-wrap.cGroups .cGroups-UpdateListing div .status {font-size:85%;color:#aaa;line-height:17px;}

/* 3.2 Group Updates Layout */
#community-wrap.cGroups #cGroupsUpdate {overflow:auto;}
#community-wrap.cGroups #cGroupsUpdate div.empty-message { overflow:auto; margin-right:15px;}

/*-------------------------------------------------------------------------------------------*/
/* 3. FILES */
/*-------------------------------------------------------------------------------------------*/

/* 3.1 File Listing at Sidebar */
#community-wrap .cSidebar .cGroups-FileDiscussions h3{margin-bottom:10px}
#community-wrap .cSidebar .cGroups-FileDiscussions li{display:block;background:url(../../images/file-discuss.png) no-repeat 5px 5px transparent;position:relative;font-size:11px;line-height:16px;border-bottom:1px solid #f5f5f5;margin:0 0 5px;padding:3px 0 6px 25px}
#community-wrap .cSidebar .cGroups-FileDiscussions li:last-child{border-bottom:none}
#community-wrap .cSidebar .cGroups-FileDiscussions li:hover{background:url(../../images/file-discuss.png) no-repeat 5px 5px transparent}
#community-wrap .cSidebar .cGroups-FileDiscussions li a{padding-right:18px;word-wrap:break-word;display:block;font-weight:400}
#community-wrap .cSidebar .cGroups-FileDiscussions li a:hover{text-decoration:underline;background:none;color:inherit}
#community-wrap .cSidebar .cGroups-FileDiscussions li .details{font-size:11px;color:#999;font-style:italic}
#community-wrap .cSidebar .cGroups-FileDiscussions li .downloaded{font-size:10px;color:#999}
#community-wrap .cSidebar .cGroups-FileDiscussions span.cDeleteFile{display:none}
#community-wrap .cSidebar .cGroups-FileDiscussions li:hover span.cDeleteFile{background:url(../../images/remove-mini.png) no-repeat 0 0;width:10px;height:10px;text-indent:-9000px;top:5px;right:5px;position:absolute;cursor:pointer;display:block}
#community-wrap .cSidebar .cGroups-FileDiscussions li:hover span.cDeleteFile:hover{background:url(../../images/remove-mini.png) no-repeat 0 -10px}
#community-wrap .cSidebar .cGroups-FileDiscussions .app-box-footer{border-top:0}


/*-------------------------------------------------------------------------------------------*/
/* 4. TAB CONTENT */
/*-------------------------------------------------------------------------------------------*/
/* 4.1 Announcement */
#community-wrap.cGroups #community-group-news ol {list-style-type:decimal;margin-left:1.3em;padding:0;}
#community-wrap.cGroups #community-group-news ul {list-style-type:square;margin-left:1.3em;padding:0;}


/*-------------------------------------------------------------------------------------------*/
/* 5. MODULE */
/*-------------------------------------------------------------------------------------------*/
/* 5.1 MY Group Module */
#community-wrap.cGroups #cGroups-MyGroup {list-style-type:none;overflow:auto;padding:0;margin:10px 0 0 5px;}
#community-wrap.cGroups #cGroups-MyGroup li {margin:0 5px 10px 5px; padding:0;display:inline;float:left;}
#community-wrap.cGroups #cGroups-MyGroup li img {width:55px;}

/* 5.2 Video Updates Module */
#community-wrap.cGroups #cGroups-VideoUpdates {list-style-type:none;overflow:auto;padding:0;margin:10px 0 0 5px;}
#community-wrap.cGroups #cGroups-VideoUpdates li {display: inline;float:left;width: 100%;border-bottom:1px solid #eee;padding:10px 0 5px;} 
#community-wrap.cGroups #cGroups-VideoUpdates li:first-child{padding:0 0 5px;}
#community-wrap.cGroups #cGroups-VideoUpdates li img {width:60px;float:left;margin-right:5px;} 
#community-wrap.cGroups #cGroups-VideoUpdates .videoThumb {float:left;text-align:center;}
#community-wrap.cGroups #cGroups-VideoUpdates .videoDetails {padding-left:70px;font-size:12px;line-height:17px;}
#community-wrap.cGroups #cGroups-VideoUpdates .videoCounter {}

/* 5.3 Album Updates Module */
#community-wrap.cGroups #cGroups-AlbumUpdates {list-style-type:none;overflow:auto;padding:0;margin:10px 0 0 5px;}
#community-wrap.cGroups #cGroups-AlbumUpdates li {display: inline;float:left;width: 100%;border-bottom:1px solid #eee;padding:10px 0 5px;} 
#community-wrap.cGroups #cGroups-AlbumUpdates li:first-child{padding:0 0 5px;}
#community-wrap.cGroups #cGroups-AlbumUpdates li img {width:60px;float:left;margin-right:5px;} 
#community-wrap.cGroups #cGroups-AlbumUpdates .albumDetails {padding-left:7px;line-height:17px;overflow:auto;word-wrap:break-word;}

/* 5.4 Upcoming Events Module */
#community-wrap.cGroups #cGroups-UpcomingEvents {list-style-type:none;overflow:auto;padding:0;margin:10px 0 0 5px;}
#community-wrap.cGroups #cGroups-UpcomingEvents li {display: inline;float:left;width: 100%;border-bottom:1px solid #eee;padding:10px 0 5px;} 
#community-wrap.cGroups #cGroups-UpcomingEvents li:first-child{padding:0 0 5px;}
#community-wrap.cGroups #cGroups-UpcomingEvents li img {width:60px;float:left;margin-right:5px;} 
#community-wrap.cGroups #cGroups-UpcomingEvents .eventDetails {padding-left:7px;line-height:16px;overflow:auto;word-wrap:break-word;}
#community-wrap.cGroups #cGroups-UpcomingEvents .eventName {font-weight:bold;}
