/* Copyright 2011 My420Life LLC, My420Life Proprietary Use License */

/*
 * Base Style Sheet - Reduces inconsistencies across all browsers
 * Stripped down and improved collection of best practises
 * To avoid redundant code it sets new default values instead of baseline defaults and re-resetting them later
 * Thanks to HTML5 Boilerplate, Yahoo! User Interface (YUI) Library, No CSS Reset
 */


/* Useful Snippets
----------------------------------------------------------------------------------------------------*/

/* Force vertical scrollbar in non-IE + force height of the body element to fit at least the browser window */
html {
	/* 
	overflow-y: scroll;
	min-height: 100%;
	*/
}

/* Create a stacking context to prevent z-index issues */
body { position: relative; }

/* Remove outline when clicking links: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

/* Removes scrollbar in IE */
textarea { overflow: auto; }

/* Remove background from selected images */
img::selection { background: transparent; }
img::-moz-selection { background: transparent; }

/* Remove borders */
fieldset,
img,
iframe { border: 0; }

/* Hand cursor on clickable input elements */
input[type='button'],
input[type='submit'],
input[type='checkbox'],
input[type='image'],
input[type='radio'],
input[type='reset'],
select, button, label { cursor: pointer; }

/* Hand cursor on clickable input elements */
.Chronoform input[type='button'],.Chronoform input[type='submit'],.Chronoform input[type='checkbox'],.Chronoform input[type='image'],
.Chronoform input[type='radio'],.Chronoform input[type='reset'],.Chronoform select, .Chronoform button, .Chronoform label { 
	cursor: pointer; 
}

.Chronoform input[type='submit'] { 
	background: -moz-linear-gradient(top,  rgba(86,132,0,0.7) 0%, rgba(121,175,0,0.89) 17%, rgba(121,175,0,0.88) 81%, rgba(86,132,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,132,0,0.7)), color-stop(17%,rgba(121,175,0,0.89)), color-stop(81%,rgba(121,175,0,0.88)), color-stop(100%,rgba(86,132,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(86,132,0,0.7) 0%,rgba(121,175,0,0.89) 17%,rgba(121,175,0,0.88) 81%,rgba(86,132,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(86,132,0,0.7) 0%,rgba(121,175,0,0.89) 17%,rgba(121,175,0,0.88) 81%,rgba(86,132,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(86,132,0,0.7) 0%,rgba(121,175,0,0.89) 17%,rgba(121,175,0,0.88) 81%,rgba(86,132,0,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(86,132,0,0.7) 0%,rgba(121,175,0,0.89) 17%,rgba(121,175,0,0.88) 81%,rgba(86,132,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3568400', endColorstr='#568400',GradientType=0 ); /* IE6-9 */
	
	
	color: #ffffff;
    display: block;    
    font-family: 'Pacifico',cursive;
    font-size: 34px;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    position: relative;    
    text-align: center;
    text-shadow: 1px 0 0 yellow;    
    width: 305px;    

}
#chronoform_Contact_Us {
	padding-left: 50px;
	padding-top:  50px;
}
#chronoform_Contact_Us .cfdiv_header .title{
	color: #629200;
    display: block;    
    font-family: 'Pacifico',cursive;
    font-size: 42px;	
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    position: relative;    
    text-align: left;
    text-shadow: 1px 0 0 yellow;    
    width: 305px;    
	
	padding-bottom:25px;
}
#chronoform_Contact_Us .cfdiv_header {
	font-size: 20px;
}
#chronoform_Contact_Us .cfdiv_text {
	font-size: 18px;
}



/* Render new HTML5 elements as blocks
----------------------------------------------------------------------------------------------------*/

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }


/* New Base Values
----------------------------------------------------------------------------------------------------*/

/* XB */
body { 
	margin: 0; 
	
	/* height:100%; */
}

/* Block Space */
p, hr,
ul, ol, dl,
blockquote, pre,
fieldset, figure { margin: 5px 0; }

h1, h2, h3, h4, h5, h6 { margin: 25px 0 15px 0; }

/* Lists */
ul, ol, dl { 
	padding-left: 160px 
}
dd { margin-left: 40px; }

/* Headings */
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { 
	font-size: 36px; 
	/* line-height: 36px; */
}
h2 { 
	font-size: 24px; 
	/* line-height: 24px; */
}
h3 { 
	font-size: 18px; 
	/* line-height: 18px; */
}
h4, h5, h6 { 
	font-size: 16px; 
	/* line-height: 20px; */
}

/* Links */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Text-level Semantics */
small { font-size: 10px; }

ins { text-decoration: none; }
del { text-decoration: line-through; }

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
dfn[title] { font-style: normal; }

/* Horizontal Rule */
hr {
	display: block;
	height: 1px;
	padding: 0;
	border: 0;
	border-top: 1px solid;
}

/* Quotes */
q, blockquote {
	quotes: '\201C' '\201D' '\2018' '\2019';
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
	
blockquote {
	padding: 0 20px;
	font-size: 16px;
	/* line-height: 22px; */
}

blockquote:before { content: '\201C'; }
blockquote:after { content: '\201D'; }

/* Code */
code, pre { font-family: "Courier New", Courier, monospace; }

code { word-spacing: -2px; }

pre {
	padding: 10px;
	font-size: 12px;
	/* line-height: 18px; */
	white-space: pre-wrap;
}

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td { padding: 1px; }

/* Forms */
input, select { vertical-align: middle; }

select, input, textarea, button { font: 12px Arial, sans-serif; }

form, textarea { margin: 0; }
legend, fieldset, input { padding: 0; }

textarea,
input[type='text'],
input[type='password'],
select { padding: 2px; }
select { 
	line-height: 19px; } /* Needed for Safari */

button,
input[type='button'],
input[type='submit'] {
	padding: 2px 3px;
	line-height: inherit;
}

