/* Copyright 2011 My420Life LLC, My420Life Proprietary Use License */

/*
 * IE Style Sheet - Only loaded by Internet Explorer 7 and higher
 */


/* Base
----------------------------------------------------------------------------------------------------*/
/* XB */

body #community-wrap .cLayout {
	width: 540px;
}
.grid-box.grid-v.width100  {
	overflow: visible;
}

.grid-box.grid-v.width100 {
	float: right;
	position: fixed;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	display: block;
	overflow: visible;
	padding-left: auto;
	padding-right: auto;
}

#maininner {	
	width: 100%;
	float: none;
	overflow: visible;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
	padding-right: 50px;
	padding-left: 50px;
}

.bannergroup {
	float: right;
	position: relative;
	width: 200px;
}

#fb-root {
	visibility: hidden;
}
#gm_map_detail {
	height: 435px;	    
}
#gm_module_results {
	top: 28px;
}
#gm_module_results_border {
	top: -35px;
	left: 0px;
}
#system #search {
	left: 0px;
}
#searchbox {
	left: 80px;
}
#searchbox input.searchword {
	position:relative;
	right: 45px;
}
#searchbox input.searchgo {
	position:relative;
	right: 45px;
}

div#community-wrap.on-my420life {
	width: 749px;
}

#wrap { /* jcarousel */
	top: 0px;
}

body #community-wrap .formtable {
	width: 463px;
}
.grid-box-left {
	display: block;
	position: relative;
}
.wrapper {
	position: relative;	
}
.grid-block .module h3.title {
	float: none;
}
#main #maininner .module h3.title {
    top: -20px;
}
#community-wrap { /* jomSocial main div */
	/* width: 772px; */
}
.jr_tableview {
	overflow: hidden;
}
.columnMain {
	display: block;
	width: 400px;

	overview: hidden;
}
.jr_pgContainer .columnFirst {
	display: block;
	width: 160px;
}
#community-wrap #form-login div a {
	top: 900px;
}
.popup_register #login-form .button {
		right: 40px;
}

.grid-block .module h3 { /* works with IE */
    font-size: 34px;
    margin-left: 25px;
    margin-right: 55px;    
    padding-left: 25px;
    padding-right: 25px;   
    width: auto;
}

/* Menu ------------------------------------------------------------------------------------*/
.menu a, .menu span { 
	position: relative;
	top: 5px;
	vertical-align: middle;
}
.menu-dropdown a.level2 { 
	height: 40px;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    padding: 7px 0 0 65px;
    width: 100%;
}
.menu-dropdown .dropdown-bg div {
	padding: 5px;
	border: 1px solid #DDD;
	border-top: none;
	background: #FFFFFF;
	z-index: 999;
	display: block;
}
.menu-dropdown span.level3 span {	
	background: #FFFFFF;
}
#.menu-dropdown li.level1 {    
    width: 130px;
}
.menu-dropdown a.level1 > span, .menu-dropdown span.level1 > span {
	width: 130px;
}
.menu-dropdown a.level1 {
	width: 130px;
}
#cities li.level1 {    
    width: 130px;
}
.wrapper {
	margin-left:	auto;
	margin-right:	auto;
}
#innertop {
	position: absolute;
    right: -320px;
    top: -720px;
    width: 250px;
}

/* jCarousel -------------------------------------------------------------------------------*/
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 823px;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 823px;
}

.wrapper {
	/* overflow: visible; */
}


#top-a {
	width: 			955px;
	margin-left:	73px;
	margin-right:	auto;
	float:			none;
}
#community-wrap {
	z-index: -9;
	position:	relative;
	left:	25px;
}
#logo, #logo > img, #menu {	
	float: left;	
	width: 100%;
}
#logo img {
	float: left;
}

/* Header */
#header {
	margin-left: 	65px;
	margin-right: 	65px;
	z-index: 99999;	
}

body #community-wrap #cFrontpageWrapper.visitor .loginform{
    float: right;
    position: relative;
    top: -925px;
    left: 180px;
}
.fb_reset {
	position:	relative;
	right:		0px;
	top:		-15px;
}

#community-wrap .cFrontPageRight { /* blue background */
	position: absolute;
	top:	-730px;
	right: 	-140px;

	background:url("../../images/blue/guest/blue.rightbar.png");
	background-repeat:none;
	background-color:#114479;
	
	width: 	280px;	
	height:	420px;
	
	padding-right:20px;
	padding-top:10px;
}

.menu-dropdown li.level1 {
	height: 39px;
	margin-right: 15px;
	text-transformation: uppercase;
	z-index: 2147483647;
}

.popup_register #login-form {
	position:	relative;
	top:		0px;
	left:		-80px;

	z-index: 100000000000;
	float: right;
}

.module.mod-line.deepest {
	position:relative;
	z-index: -99;
}

.grid-box .deepest {
	position: fixed;
}

.home_logo {
    left: 10px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 25px;
}

.wrapper { 	
	width: 1025px;	
}

#footer {
	width: 0px;
	display: none;
}

#leftbar_facebook_menu {
	top: 263px;
}

/* Layout
----------------------------------------------------------------------------------------------------*/


/* Menus
----------------------------------------------------------------------------------------------------*/


/* Modules
----------------------------------------------------------------------------------------------------*/


/* Tools
----------------------------------------------------------------------------------------------------*/


/* System
----------------------------------------------------------------------------------------------------*/

