/* 
Copyright 2011 My420Life LLC, My420Life Proprietary Use License 
IE Style Sheet - Only loaded by Internet Explorer 7 and higher
Copyright 2011 My420Life LLC, My420Life Proprietary Use License */

/* IE8 Style Sheet - Only loaded by Internet Explorer 8 */

/* Base
----------------------------------------------------------------------------------------------------*/
/* XB */

/* 
.introduction, .cFrontPageRight, #header, #footer {
	display: none;
}
*/
#header {
	position: relative;
}
#top-a {	
	width: 			955px;
	margin-left:	73px;
	margin-right:	auto;
	float:			none;	
}

.wrapper {	
	left: 62px;
}

/* Menu ------------------------------------------------------------------------------------*/
.menu a, .menu span { 
	position: relative;
	top: 5px;
	vertical-align: middle;
}
.menu-dropdown a.level2 { 
	height: 40px;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    padding: 7px 0 0 65px;
    width: 100%;
}
.menu-dropdown .dropdown-bg div {
	padding: 5px;
	border: 1px solid #DDD;
	border-top: none;
	background: #FFFFFF;
	z-index: 999;
	display: block;
}
.menu-dropdown span.level3 span {	
	background: #FFFFFF;
}
#.menu-dropdown li.level1 {    
    width: 130px;
}
.menu-dropdown a.level1 > span, .menu-dropdown span.level1 > span {
	width: 130px;
}
.menu-dropdown a.level1 {
	width: 130px;
}
#cities li.level1 {    
    width: 130px;
}
.wrapper {
	margin-left:	auto;
	margin-right:	auto;
}
#innertop {
	position: absolute;
    right: -320px;
    top: -720px;
    width: 250px;
}

/* jCarousel -------------------------------------------------------------------------------*/
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 823px;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 823px;
}

.wrapper {
	/* overflow: visible; */
}
#community-wrap {
	z-index: -9;
	position:	relative;
	left:	25px;
}
#logo, #logo > img, #menu {	
	float: left;	
	width: 100%;
}
#logo img {
	float: left;
}

/* Header */
#header {
	margin-left: 	65px;
	margin-right: 	65px;
	z-index: 99999;	
}

body #community-wrap #cFrontpageWrapper.visitor .loginform{
    float: right;
    position: relative;
    top: -925px;
    left: 180px;
}
.fb_reset {
	position:	relative;
	right:		0px;
	top:		-15px;
}

#community-wrap .cFrontPageRight { /* blue background */
	position: absolute;
	top:	-730px;
	right: 	-140px;

	background:url("../../images/blue/guest/blue.rightbar.png");
	background-repeat:none;
	background-color:#114479;
	
	width: 	280px;	
	height:	420px;
	
	padding-right:20px;
	padding-top:10px;
}

.menu-dropdown li.level1 {
	height: 35px;
	margin-right: 15px;
	text-transformation: uppercase;
	z-index: 2147483647;
}

.popup_register #login-form {
	position:	relative;
	top:		0px;
	left:		-80px;

	z-index: 100000000000;
	float: right;
}

.module.mod-line.deepest {
	position:relative;
	z-index: -99;
}

.home_logo {
    left: 10px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 25px;
}

.wrapper { 	
	width: 1025px;	
}

#community-wrap { /* jomSocial main div */
	width: 814px;
}

#footer {
	width: 0px;
	display: none;
}

#leftbar_facebook_menu {
	top: 263px;
}

/* Layout
----------------------------------------------------------------------------------------------------*/


/* Menus
----------------------------------------------------------------------------------------------------*/


/* Modules
----------------------------------------------------------------------------------------------------*/


/* Tools
----------------------------------------------------------------------------------------------------*/


/* System
----------------------------------------------------------------------------------------------------*/

/* Fluid images */
.size-auto { width: auto; }