/* Copyright 2011 My420Life LLC, My420Life Proprietary Use License */

/*
 * IE Style Sheet - Only loaded by Internet Explorer 7 and higher
 */


/* Base 
----------------------------------------------------------------------------------------------------*/
/* XB */
.introduction {
	z-index:-10;
}
.gradient {
	filter: none;
}
.blue#toolbar {
	right: 0px;
}


/* Login
----------------------------------------------------------------------------------------------------*/
#main #maininner .grid-block .grid-box {
	position: absolute;
    right: 100px;
    top: -745px;
    width: 250px;
}

body #community-wrap #cFrontpageWrapper.visitor .loginform{
    float: right;
    position: relative;
    top: -940px;
    left: 180px;
}

/* IE9 specific
----------------------------------------------------------------------------------------------------*/
#community-wrap .cFrontPageRight { /* blue background */
	position: absolute;
	top:	-760px;
	right: 	-135px;

	background:url("../../images/blue/guest/blue.rightbar.png");
	background-repeat:none;
	background-color:#114479;
	
	width: 	280px;	
	height:	420px;
	
	padding-right:20px;
	padding-top:10px;
}
.popup_register #login-form {
	position:	relative;
	top: 0px;
	left: 110px;
	width: 240px;
}


.wrapper { 	
	width: 1025px;	
}




/* Layout
----------------------------------------------------------------------------------------------------*/


/* Menus
----------------------------------------------------------------------------------------------------*/


/* Modules
----------------------------------------------------------------------------------------------------*/


/* Tools
----------------------------------------------------------------------------------------------------*/


/* System
----------------------------------------------------------------------------------------------------*/

