/* Copyright 2011 My420Life LLC, My420Life Proprietary Use License */

/*
 * Layout Style Sheet - Provides a fluid grid and helper classes to create any layout and some layout defaults
 */


/* Grid and Clearing Tools
----------------------------------------------------------------------------------------------------*/

/* XB */
#maininner {	
}

/* XB */
#sidebar-menu {
	position: absolute;
	float: left;
	left: 5px;
	width: 206px;
	right: 215px;
}

/* XB */
/*
.fbSidebarGripper {
    border-bottom: 1px solid #E9EAEE;
    border-top: 1px solid #CAD0DB;
    cursor: ns-resize;
    width: 100%;
}
*/

/* Align Boxes */
.float-left { float: left; }
/* XB */
.float-right { 
	float: right;	
}

/* Layout Defaults
----------------------------------------------------------------------------------------------------*/

/* Center Page */
/* XB */
.wrapper { 
	margin: auto;
	/* height:100%;	*/
	margin-bottom: -47px;	
	width: 925px;
	padding-left: 0px;	
}
.wrapper.guest {
    height: 100%;
    margin: auto auto -47px;
    padding-left: 0px;
    width: 925px;
}

/* Header */
#header {
	position: relative;	
}

#toolbar .float-left .module,
#toolbar .float-left > time {
	margin: 0 15px 0 0;
	float: left;
}

/* XB */
#toolbar .float-right .module {
	/* margin: 10px 10px -40px 15px; */
	float: right;
}

#headerbar .module {
	width: 500px;
	margin-right: 0;
	float: right;
}

/* XB */
#logo, #logo > img,
#menu { 
	margin-left: auto;
	margin-right: auto;
	float: none; 
	z-index:20000;
}
#headerbar #menu p {margin: 0px; padding: 0px;}
#search { float: right; }

#banner {
	position: relative;
	top: 10px;
	left: 40px;
}

#bannerright {
	position: relative;
	top: 0px;
	left: 0px;
}

/* XB */
/* Footer */
#footer {
	margin-left:auto;
	margin-right:auto;

	position: relative;
	text-align: center;
	
	height:47px;
	
	width: 1000px;

	display: none;
}

/* XB */
.clearfix:before,
.clearfix:after,
.grid-block:before,
.grid-block:after {
	/* content: "."; */
	display: block;
	/* height: 0; */
	/* overflow: hidden; */
}

/* XB */
.clearfix:after,
.grid-block:after { 
	clear: both;	
	/* background-color: #F2F2F2; */	
}

/* XB */
.grid-box { 
	/* float: left; */
	margin-bottom: 10px;
}


/* XB */
.grid-box-left { 
	float: left;	
	width: 230px;
}
.grid-box-right { 
	float: right;		
	width:230px;
	
	padding-right:5px;
	padding-left:5px;
	
	position:relative;	
}


/* Grid Units */
.width16 { width: 16.666%; }
.width20 { width: 20%; }
.width25 { width: 25%; }
.width33 { width: 33.333%; }
.width40 { width: 40%; }
.width50 { width: 50%; }
.width60 { width: 60%; }
.width66 { width: 66.666%; }
.width75 { width: 75%; }
.width80 { width: 80%; }
/* XB */
.width100 { 
	/* width: 95%; */
}

/* Create new Block Formatting Contexts */
.bfc-o { overflow: hidden; }
.bfc-f {
	width: 100%;
	float: left;
}

/* Grid Gutter */
.grid-gutter.grid-block { 
	/* margin: 15px -15px 0 -15px;  */
}
.grid-gutter.grid-block:first-child { margin-top: 0; }
.grid-gutter > .grid-box > * { margin: 0 15px; }