/************************
****** MEDIA SCREEN *******
***************************/

/****** BIG MONITOR *********/
@media only screen and (min-width: 1076px) {
	#gm_module_results_border {	
		height:	452px;
		width:	898px;
	}
	#gm_module_results { /* Google Maps */
		width: 	740px;
		height: 405px;
	}
	#googlemapsleft {
		position:relative;
		top:	25px;
		width:	118px;
		height:	402px;
		left:	15px;
		float: left;
	}
	.googlemapsleft_image {
		width:	114px;
		height: 90px;
		padding-bottom: 12px;
	}
	.jcarousel-skin-tango {
		width: 921px;
	}
	#main #maininner #content div.jr_pgContainer {    
		/* width: 670px; */
		width: 97%;
	}
}
/********* IPAD *************/
@media only screen and (min-width: 981px) and (max-width: 1075px) {
	#gm_module_results_border {	
		height:	347px;
		width:	898px;		
	}
	#gm_module_results { /* Google Maps */
		width: 	770px;
		height: 300px;
	}
	#googlemapsleft {
		position:relative;
		top:	37px;
		width:	118px;
		height:	302px;
		left:	15px;
		float: left;
	}
	.googlemapsleft_image {
		width:	88px;
		height: 70px;
		padding-bottom: 4px;
	}
	.jr_tableview #community-wrap.on-my420life {
		height: 		0px;
		visibility: 	hidden;
		padding-top:	0px;
		display: 		none;
	}
	.jcarousel-skin-tango {
		width: 921px;
	}
	#main #maininner #content div.jr_pgContainer {    
		width: 670px;
	}
}
/********* iPhone 4S *************/
/* @media only screen and (max-width: 945px) */
@media only screen and (max-width: 980px) {
	#gm_module_results_border {			
		width:	1050px;
		height:	450px;
	}
	#gm_module_results { /* Google Maps */
		width:	913px;
		height: 405px;
	}
	#googlemapsleft {
	 	top:	37px;
		width:	118px;
		height:	302px;
		left:	15px;
		float: left;
	}
	.googlemapsleft_image {
		width:	84px;
		height: 66px;
		padding-bottom: 4px;
	}
	.jr_tableview #community-wrap.on-my420life {
		height: 		0px;
		visibility: 	hidden;
		padding-top:	0px;
		display: 		none;
	}
	.jcarousel-skin-tango {
		width: auto;
	}
	#main #maininner #content div.jr_pgContainer {    
		width: 1050px;
	}
}



/************************
****** MEDIA SCREEN *******
***************************/