<?php
$urlBackend = ($this->getCustomAdminUrl())?$this->getCustomAdminUrl():$this->getJoomlaBaseUrl(). '/administrator/' ;
?>
<div class="content-header" style="visibility: visible;">
	<h3 class="icon-head head-categories">Joomla Backend</h3>
</div>
<div id="backenddiv" style="margin-top: -18px">
<iframe style="border-bottom:3px solid #dfdfdf" id="backendiframe" frameborder=0 src="<?php echo $urlBackend ?>" height=700 width=100% scrolling="no"></iframe></div>
You may also <a href="<?php echo $urlBackend ?>" target="_newWindow" onClick="javascript:document.getElementById('backenddiv').innerHTML=''; ">access to the backend in a new window</a>.
<script langauge="javascript">
function GetHeight() {
        var y = 0;
        if (self.innerHeight) {
                y = self.innerHeight;
        } else if (document.documentElement && document.documentElement.clientHeight) {
                y = document.documentElement.clientHeight;
        } else if (document.body) {
                y = document.body.clientHeight;
        }
        return y;
}
function doResize() {
	document.getElementById("backendiframe").style.height= (GetHeight() - 220) + "px";
}
window.onresize = doResize;
doResize();
</script>
