div#application-photo ul,
div#application-photo li {
    padding: 0;
    margin: 0;
    list-style: none;
    background: none;
    border: none;
    }
div#application-photo li {
    display:inline-block;
    float:left;
    padding: 1px 1px 2px;
    }
div#application-photo li img {
    border: 1px solid #ccc;
    display:inline-block;
    float:left;
    }