<?php
global $CFG;

// set to defaults if undefined

if (!isset($config->jf_enabled)) {
  $config->jf_enabled = 0;
}
if (!isset($config->jf_ismaster)) {
  $config->jf_ismaster = 0;
}
if (!isset($config->jf_fullpath)) {
  $config->jf_fullpath = $CFG->dirroot;
}
if (!isset($config->jf_baseurl)) {
  $config->jf_baseurl = $CFG->wwwroot;
}
if (!isset($config->jf_loginpath)) {
  $config->jf_loginpath = '';
}
if (!isset($config->jf_logoutpath)) {
    $config->jf_logoutpath = '';
}
if (!isset($config->jf_formid)) {
  $config->jf_formid = 'login';
}
if (!isset($config->jf_relpath)) {
  $config->jf_relpath = 0;
}
if (!isset($config->jf_cookiedomain)) {
  $config->jf_cookiedomain = '';
}
if (!isset($config->jf_cookiepath)) {
  $config->jf_cookiepath = '';
}
if (!isset($config->jf_username_id)) {
  $config->jf_username_id = '';
}
if (!isset($config->jf_password_id)) {
  $config->jf_password_id = '';
}
if (!isset($config->jf_cookie_secure)) {
  $config->jf_cookie_secure = '0';
}
if (!isset($config->jf_cookie_httponly)) {
  $config->jf_cookie_httponly = '0';
}
if (!isset($config->jf_verifyhost)) {
  $config->jf_verifyhost = '0';
}
if (!isset($config->jf_leavealone)) {
  $config->jf_leavealone = '';
}
if (!isset($config->jf_expires)) {
    $config->jf_expires = '1800';
}
if (!isset($config->jf_postfields)) {
	$config->jf_postfields = 'option=com_users&task=user.logout&silent=true';
}

$yesno = array( get_string('no'), get_string('yes') );
?>

<div id="jfusionconfig">
<table cellspacing="0" cellpadding="5" border="0">
  <tr valign="top" class="required">
    <td align="right"><label for="jf_enabled"><?php print_string("auth_jfusion_enabled", "auth_jfusion") ?></label></td>
    <td><?php choose_from_menu($yesno, 'jf_enabled', $config->jf_enabled, ''); ?>
    </td>
    <td><?php print_string("auth_jfusion_enabled_help", "auth_jfusion"); ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_ismaster"><?php print_string("auth_jfusion_ismaster", "auth_jfusion");?></label></td>
    <td><?php choose_from_menu($yesno, 'jf_ismaster', $config->jf_ismaster, ''); ?>
    </td>
    <td><?php print_string("auth_jfusion_ismaster_help", "auth_jfusion"); ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_fullpath"><?php print_string("auth_jfusion_fullpath", "auth_jfusion"); ?></label></td>
    <td><input id="jf_fullpath" name="jf_fullpath" type="text" size="30"
      value="<?php echo $config->jf_fullpath;?>" /> <?php
      if (isset($err["jf_fullpath"])) {
        formerr($err["jf_fullpath"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_fullpath_help", "auth_jfusion"); ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_baseurl"><?php print_string("auth_jfusion_baseurl", "auth_jfusion"); ?></label></td>
    <td><input id="jf_baseurl" name="jf_baseurl" type="text" size="30"
      value="<?php echo $config->jf_baseurl;?>" /> <?php
      if (isset($err["jf_baseurl"])) {
        formerr($err["jf_baseurl"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_baseurl_help", "auth_jfusion"); ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_loginpath"><?php print_string("auth_jfusion_loginpath", "auth_jfusion") ?></label></td>
    <td><input id="jf_loginpath" name="jf_loginpath" type="text" size="30"
      value="<?php echo $config->jf_loginpath?>" /> <?php
      if (isset($err["jf_loginpath"])) {
        formerr($err["jf_loginpath"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_loginpath_help", "auth_jfusion") ?></td>
  </tr>
    <tr valign="top" class="required">
        <td align="right"><label for="jf_logoutpath"><?php print_string("auth_jfusion_logoutpath", "auth_jfusion") ?></label></td>
        <td><input id="jf_logoutpath" name="jf_logoutpath" type="text" size="30"
            value="<?php echo $config->jf_logoutpath?>" /> <?php
            if (isset($err["jf_logoutpath"])) {
                formerr($err["jf_logoutpath"]);
            }
            ?></td>
        <td><?php print_string("auth_jfusion_logoutpath_help", "auth_jfusion") ?></td>
    </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_formid"><?php print_string("auth_jfusion_formid", "auth_jfusion") ?></label></td>
    <td><input id="jf_formid" name="jf_formid" type="text" size="30"
      value="<?php echo $config->jf_formid?>" /> <?php
      if (isset($err["jf_formid"])) {
        formerr($err["jf_formid"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_formid_help", "auth_jfusion") ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_relpath"><?php print_string("auth_jfusion_relpath", "auth_jfusion") ?></label></td>
    <td><?php choose_from_menu($yesno, 'jf_relpath', $config->jf_relpath, ''); ?>
    </td>
    <td><?php print_string("auth_jfusion_relpath_help", "auth_jfusion"); ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_cookiedomain"><?php print_string("auth_jfusion_cookiedomain", "auth_jfusion") ?></label></td>
    <td><input id="jf_cookiedomain" name="jf_cookiedomain" type="text"
      size="30" value="<?php echo $config->jf_cookiedomain?>" /> <?php
      if (isset($err["jf_cookiedomain"])) {
        formerr($err["jf_cookiedomain"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_cookiedomain_help", "auth_jfusion") ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_cookiepath"><?php print_string("auth_jfusion_cookiepath", "auth_jfusion") ?></label></td>
    <td><input id="jf_cookiepath" name="jf_cookiepath" type="text"
      size="30" value="<?php echo $config->jf_cookiepath?>" /> <?php
      if (isset($err["jf_cookiepath"])) {
        formerr($err["jf_cookiepath"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_cookiepath_help", "auth_jfusion") ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_expires"><?php print_string("auth_jfusion_expires", "auth_jfusion") ?></label></td>
    <td><input id="jf_expires" name="jf_expires" type="text"
      size="10" value="<?php echo $config->jf_expires?>" /> <?php
      if (isset($err["jf_expires"])) {
        formerr($err["jf_expires"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_expires_help", "auth_jfusion") ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_username_id"><?php print_string("auth_jfusion_username_id", "auth_jfusion") ?></label></td>
    <td><input id="jf_username_id" name="jf_username_id" type="text"
      size="30" value="<?php echo $config->jf_username_id?>" /> <?php
      if (isset($err["jf_username_id"])) {
        formerr($err["jf_username_id"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_username_id_help", "auth_jfusion") ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_password_id"><?php print_string("auth_jfusion_password_id", "auth_jfusion") ?></label></td>
    <td><input id="jf_password_id" name="jf_password_id" type="text"
      size="30" value="<?php echo $config->jf_password_id?>" /> <?php
      if (isset($err["jf_password_id"])) {
        formerr($err["jf_password_id"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_password_id_help", "auth_jfusion") ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_cookie_secure"><?php print_string("auth_jfusion_cookie_secure", "auth_jfusion") ?></label></td>
    <td><?php choose_from_menu($yesno, 'jf_cookie_secure', $config->jf_cookie_secure, ''); ?>
    </td>
    <td><?php print_string("auth_jfusion_cookie_secure_help", "auth_jfusion"); ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_cookie_httponly"><?php print_string("auth_jfusion_cookie_httponly", "auth_jfusion") ?></label></td>
    <td><?php choose_from_menu($yesno, 'jf_cookie_httponly', $config->jf_cookie_httponly, ''); ?>
    </td>
    <td><?php print_string("auth_jfusion_cookie_httponly_help", "auth_jfusion"); ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_verifyhost"><?php print_string("auth_jfusion_verifyhost", "auth_jfusion") ?></label></td>
    <td><?php choose_from_menu($yesno, 'jf_verifyhost', $config->jf_verifyhost, ''); ?>
    </td>
    <td><?php print_string("auth_jfusion_verifyhost_help", "auth_jfusion"); ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_leavealone"><?php print_string("auth_jfusion_leavealone", "auth_jfusion") ?></label></td>
    <td><input id="jf_leavealone" name="jf_leavealone" type="text"
      size="30" value="<?php echo $config->jf_leavealone?>" /> <?php
      if (isset($err["jf_leavealone"])) {
        formerr($err["jf_leavealone"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_leavealone_help", "auth_jfusion") ?></td>
  </tr>
  <tr valign="top" class="required">
    <td align="right"><label for="jf_postfields"><?php print_string("auth_jfusion_postfields", "auth_jfusion") ?></label></td>
    <td><input id="jf_postfields" name="jf_postfields" type="text"
      size="30" value="<?php echo $config->jf_postfields?>" /> <?php
      if (isset($err["jf_postfields"])) {
        formerr($err["jf_postfields"]);
      }
      ?></td>
    <td><?php print_string("auth_jfusion_postfields_help", "auth_jfusion") ?></td>
  </tr>
</table>
</div>
