/**
* @package JomSocial
* @subpackage Template
* @copyright (C) 2011 by Slashes & Dots Sdn Bhd - All rights reserved!
* @license GNU/GPL, see LICENSE.php
*
*
* style.messaging.css - Contains inbox tyles (global)
*/

#community-wrap .cInbox-Message {
	position: relative;
	margin-bottom: 8px;
	padding-bottom: 8px;
}

#community-wrap .cInbox-Message .cAvatar {
	position: absolute;
	left: 0;
	top: 8px;
}

#community-wrap .cInbox-Message + .cInbox-Message,
#community-wrap .cInbox-ReplyForm {
	border-top: 1px dotted #ccc;
}

#community-wrap .cMessage-Body {
	position: relative;
	margin: 0 0 0 46px;
	min-height: 30px;
	padding: 8px 8px 26px 8px;
	background-color: #fff;
}

#community-wrap .cMessage-Content {
	margin-top: 4px;
}

#community-wrap .cMessage-Body .cMeta {
	position: absolute;
	bottom: 0px;
	left: 8px;
}

#community-wrap .cMessage-Author {
	font-weight: bold;
}

#community-wrap .cInbox-ReplyForm .replybox {
	min-height: 40px;
	height: 40px;
}
