/**
 * @package		JomSocial
 * @subpackage 	Template 
 * @copyright 	(C) 2011 by Slashes & Dots Sdn Bhd - All rights reserved!
 * @license		GNU/GPL, see LICENSE.php
 *
 *
 * style.reset.css - this is the core file that resets a lot of elements within #community-wrap
 */

/**
 * COMMUNITY :ELEMENT STANDARD STYLING
 * standart styling for all html elements in JomSocial application
 * this section also included HTML-fix to support JomSocial application
 */


/* XB */ 
.imageGalleryleft #community-wrap li { 
/* 	background: none repeat scroll 0 0 #EBF1FF;  */
	background: none;
}
.imageGalleryleft #community-wrap li:nth-child(even) {
/* 	background: #EBF1FF */
	background: none;
}
.imageGalleryleft #community-wrap li:nth-child(odd)  {
/* 	background: #EBF1FF; */
	background: none;
}


/* XB */
#community-wrap .cSidebar h1,
#community-wrap .cSidebar h2,
#community-wrap .cSidebar h3,
#community-wrap .cSidebar h4,
#community-wrap .cSidebar h5,
#community-wrap .cSidebar h6 {
	font-family: 'DroidSansRegular,Arial';	
}
#community-wrap h1,
#community-wrap h2,
#community-wrap h3,
#community-wrap h4,
#community-wrap h5,
#community-wrap h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 110%;
	/* font-family: inherit; */
	vertical-align: baseline;

	color: #336600;
    font-family: 'Pacifico',cursive;
    font-size: 24px;
    letter-spacing: 0;
    margin-bottom: 20px;
    min-height: 50px;
    text-align: left;
    text-shadow: 1px 0 0 yellow;
}

#community-wrap h2.contentheading {
	font-size: 36px;
}

/* XB */
#community-wrap #cFrontpageWrapper .cLayout .cMain h2 {
	color: #336600;
    font-family: 'Pacifico',cursive;
    font-size: 34px;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 1px 0 0 yellow;
	min-height: 50px;
	margin-bottom: 20px;
} 

/* XB */
#community-wrap .clrfix:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:" ";
	font-size:0;
	
	vertical-align:text-top;
}

/* XB */
#community-wrap h1.edit_large {	
	color: #FF8822;
	cursor: pointer;
	float: left;
	font-size: 1.6em;
	
	width: 95%;
}

#community-wrap #wmenu-new_strain {
	/*
	background-color: #EBF1FF;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-color: #B2B2B2 #000000 #000000;
	border-style: dashed solid solid;
	border-width: 1px 1px 3px;
	border-shadow: 0 3px 5px #333333;
	font-size: 14px;
	padding: 15px 0 9px 9px;
	*/
	
	background-color: #999999;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: #666666 #000000 #000000;
    border-style: dashed solid solid;
    border-width: 1px 1px 3px;
    box-shadow: 0 3px 5px #333333;    
    font-size: 14px;
	
	/* padding: 15px 25px 9px 25px; */
	
	width: 630px;
	
	float: left;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    right: 0;
}

/* XB */
#community-wrap .cResetList li.cFeed-item {
	border-bottom: 1px solid #E9E9E9;
	
	/* background-image: url("/templates/my420life/images/wall/border-left.png"); */
    /* background-repeat: no-repeat; */	
	
	/*
	float: left;
	min-height: 158px;
    width: 100px;
	*/	
}
 
#community-wrap div,
#community-wrap dl,
#community-wrap dt,
#community-wrap dd,
#community-wrap ul,
#community-wrap ol,
#community-wrap li,
#community-wrap h1,
#community-wrap h2,
#community-wrap h3,
#community-wrap h4,
#community-wrap h5,
#community-wrap h6,
#community-wrap pre,
#community-wrap form,
#community-wrap fieldset,
#community-wrap input,
#community-wrap textarea,
#community-wrap p,
#community-wrap blockquote,
#community-wrap th,
#community-wrap td { 
	margin:0;
	padding:0;
	/* border: none; */
}
#community-wrap table {
	border-collapse:collapse;
	border-spacing:0;
}
#community-wrap fieldset {
	overflow:hidden;
	/* border-left:outset; */
}
#community-wrap img { 
	border:0;
	background: none;
}
#community-wrap address,
#community-wrap caption,
#community-wrap cite,
#community-wrap code,
#community-wrap dfn,
#community-wrap em,
#community-wrap strong,
#community-wrap th,
#community-wrap var {
	font-style:normal;
	font-weight:normal;
}
#community-wrap strong {
	font-weight: bold;
}
#community-wrap ol,
#community-wrap ul {
	list-style:none;
	padding: 0px;
	margin: 0px;
}
#community-wrap caption,
#community-wrap th {
	text-align:left;
}

#community-wrap q:before,
#community-wrap q:after {
	content:'';
}
#community-wrap abbr,
#community-wrap acronym {
	border:0;
}
#community-wrap hr {
	height:1px;
	}
#community-wrap legend {
	font-size:1.3em;
	color:#666;
	overflow:hidden;
	}
#community-wrap ul.pagination {
	margin:15px auto;padding:10px 0;
	}
#community-wrap .inputbox,
#community-wrap textarea,
#community-wrap select {
	padding:2px;
	font: 1em/1 Arial, Helvetica, sans-serif;
	}
/* XB */
#community-wrap textarea {
	height:110px;
	width:95%;
	clear: both;
}
#community-wrap .relative{
	position:relative;
	}
#community-wrap .clr,
#cWindowContent .clr{
	clear:both;
	height:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
}
#community-wrap .clrfix {
	clear:none;	
}
#community-wrap .cSubmenu.clrfix {
	position: relative;		
}
/* XB */
#community-wrap #cFrontpageWrapper .cSidebar{
	/* position:relative; */
	/* top:320px; */
	/* bottom:230px; */	
}
#community-wrap #cFrontpageWrapper  .cMain{
	position:relative;
	/* top:320px; */
	/* bottom:280px; */	
	
}
/* XB */
#community-wrap input,
#community-wrap textarea {
	/* border: 1px solid #ddd; */
	/* background-color: #fff; */
}
#community-wrap input:focus,
#community-wrap textarea:focus {
	border-color: #333;
}
#community-wrap .cResetList {
	margin-right: 0;
}
#community-wrap .cResetList,
#cWindowContent .cResetList,
#community-wrap .cResetList li {
	background:none;
	border:none;
	list-style:none;
	list-style-image:none;
	line-height:normal;	
	padding:0;
	clear:none;
}

/**
 * COMMUNITY :RESET BORDER STYLE
 * removing all borders in #cWindowContent table
 */
#cWindowContent table,#cWindowContent tbody,#cWindowContent tr,#cWindowContent td{border:0}





