/* Copyright (C) 2007 - 2011 YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * layout
 */
 
 /* XB */
#yoo-zoo .details h1.title {
	/* 
	margin: 0px 0px 5px 0px;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: normal;
	*/
	
	
	color: #659700;
    /* display: block; */
    float: left;
    font-family: 'Pacifico',cursive;
    font-size: 40px;
    letter-spacing: 0;
	/* margin: 0; */
    padding: 0;
    position: relative;
    right: 35px;

    text-shadow: 1px 0 0 yellow;
    top: 25px;
	width: 100%;
	
	text-align:left;
	
	vertical-align: top;
	
	margin-left: 25px;
	
    /* width: 500px; */
    z-index: 5;
	
	display: block-inline;
	content: ".";
	
	margin-bottom: 25px;
	padding-bottom: 25px;
}

/* XB */
#yoo-zoo .details div.description {
	padding-bottom: 20px;
	overflow: hidden;
	
	width:100%;
}

/* XB */
.module .menu .level1 .separator span {
	background-color: #83b61f;
	
	font-size: 18px;
	font-weight: bold;
	
}


#yoo-zoo .row,
#yoo-zoo .floatbox { overflow: hidden; }

#yoo-zoo .width20 {
	float: left;
	width: 19.999%;
}

#yoo-zoo .width25 {
	float: left;
	width: 24.999%;
}

#yoo-zoo .width33 {
	float: left;
	width: 33.333%;
}

#yoo-zoo .width50 {
	float: left;
	width: 49.999%;
}
 
/*
 * alpha-index
 */

#yoo-zoo .alpha-index {
	height: 25px;
	margin-bottom: 15px;
	overflow: hidden;
}

#yoo-zoo .alpha-index a,
#yoo-zoo .alpha-index span {
	display: inline-block;
	width: 21px;
	height: 25px;
	background: url(../images/alpha_index_item.png) 100% 50% no-repeat;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
}
#yoo-zoo .alpha-index :last-child { background: none; }

#yoo-zoo .alpha-index a:link,
#yoo-zoo .alpha-index a:visited {
	color: #646464;
	text-decoration: none;
}

#yoo-zoo .alpha-index a:hover {
	color: #000000;
	text-decoration: underline;
}

#yoo-zoo .alpha-index span {
	color: #C8C8C8;
	cursor: default;
}

/* center alpha index */
#yoo-zoo .alpha-index-center { text-align: center; }

/*
 * details
 */
 
#yoo-zoo .details {
	margin-bottom: 30px;
	border-bottom: 1px solid #D2D3D4;
}

#yoo-zoo .details h2.subtitle {
	margin: -5px 0px 5px 0px;
	font-size: 16px;
	line-height: 20px;
	color: #323232;
	font-weight: normal;
}

#yoo-zoo .details.alignment-center h1.title {
	font-size: 38px;
	line-height: 42px;
	letter-spacing: -1px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#yoo-zoo .details.alignment-center h2.subtitle { font-family: Georgia, "Times New Roman", Times, serif; }

#yoo-zoo .details.alignment-center { text-align: center; }

#yoo-zoo .details.alignment-left .image {
	margin-right: 15px;
	float: left;
}

#yoo-zoo .details.alignment-right .image {
	margin-left: 15px;
	float: right;
}

#yoo-zoo .details.alignment-center .image {
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

/*
 * categories
 */

#yoo-zoo .categories {
	margin: 0px -10px 0px -10px;
	overflow: hidden;
}

#yoo-zoo .categories .category { padding: 0px 10px 20px 10px; }

#yoo-zoo .categories h2.title {
	margin: 0px;
	line-height: 14px;
	font-size: 12px;
	font-weight: bold;
}

#yoo-zoo .categories h2.title a { color: #323232; }

#yoo-zoo .categories h2.title span {
	font-size: 10px;
	font-weight: normal;
	color: #969696;
}

#yoo-zoo .categories div.description {
	line-height: 14px;
	color: #969696;
}

#yoo-zoo .categories a.teaser-image {
	display: block;
	margin: 4px 0px 2px 0px;
}

#yoo-zoo .categories p.sub-categories { margin: 0px; }

#yoo-zoo .categories p.sub-categories a {
	line-height: 14px;
	font-size: 12px;
	color: #323232;
}

#yoo-zoo .categories p.sub-categories span {
	color: #969696;
	font-size: 10px;
}

#yoo-zoo .categories ul.sub-items {
	list-style: none;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	line-height: 14px;
}

/*
 * items
 */

#yoo-zoo .items {}

#yoo-zoo .items-separator {
	padding-top: 20px;
	border-top: 1px solid #D2D3D4;
}

#yoo-zoo .items .row {
	margin: 0px -10px 0px -10px;
	padding-bottom: 30px;
}

#yoo-zoo .items div.teaser-item {
	padding: 0px 7px 0px 7px;
	text-align: center;
	overflow: hidden;
}

/* position: media */
#yoo-zoo .items div.media-left {
	margin-right: 15px;
	float: left;
}

#yoo-zoo .items div.media-right {
	margin-left: 15px;
	float: right;
}

/* position: title */
#yoo-zoo .items h2.pos-title {
	margin: 8px 0px 0px 0px;
	line-height: 14px;
	font-size: 12px;
	font-weight: bold;
}

#yoo-zoo .items h2.pos-title a { text-decoration: none; }

/* position: description */
#yoo-zoo .items ul.pos-description {
	list-style: none;
	margin: 0px;
	padding: 0px;
	line-height: 14px;
	color: #969696;
}

#yoo-zoo .items ul.pos-description .element { margin: 7px 0px 0px 0px; }
#yoo-zoo .items ul.pos-description .element strong { color: #323232; }

/* element type: textarea */
#yoo-zoo .items ul.pos-description .element-textarea > * { margin: 0px 0px 7px 0px; }
#yoo-zoo .items ul.pos-description .element-textarea *:last-child { margin-bottom: 0px; }

/*
 * pagination
 */
 
#yoo-zoo .pagination { text-align: center; }

#yoo-zoo .pagination div.pagination-bg {
	display: inline-block;
	cursor: pointer;
}

#yoo-zoo .pagination a { text-decoration: none; }