/**
* @version $Id: install.css 4783 2011-04-17 07:37:58Z mahagr $
* Kunena Component
* @package Kunena

**/

@CHARSET "UTF-8";

div.icon-48-kunena {
	background-image:url("kunena-logo-48.png");
	padding-left:158px !important;
}
#header-box{display:none}

/* installer */
#header1 {
	background:url(../../../../templates/khepri/images/j_header_middle.png) repeat-x;
}

#header2 {
	background:url(../../../../templates/khepri/images/j_header_right.png) 100% 0 no-repeat;
}

#header3 {
	background:url(../../../../templates/khepri/images/j_header_left.png) no-repeat;
	height: 54px;
}

#header3 span {
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	padding-left: 180px;
	line-height: 44px;
}

#version {
	float: right;
	color: #fff;
	padding-top: 25px;
	padding-right: 5px;
}

#footer1 {
	background:url(../../../../templates/khepri/images/j_bottom.png) repeat-x;
}

#footer2 {
	background:url(../../../../templates/khepri/images/j_corner_br.png) 100% 0 no-repeat;
}

#footer3 {
	background:url(../../../../templates/khepri/images/j_corner_bl.png) no-repeat;
	height: 11px;
}

#content-box {
  float: none !important;
  float: left;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#content-pad {
	padding: 10px 10px 0 10px;
}

#stepbar {
	float: left;
	width: 190px;
}

#stepbar div.cox {
	background: url(../../../../templates/khepri/images/j_joomla_box.jpg) 50% 20px no-repeat;
	height: 140px;
}

#stepbar h1 {
	margin: 0;
	padding-bottom: 8px;
	font-size: 16px;
	color: #0B55C4;
	font-weight: bold;
	background:url(j_divider.png) 0 100% repeat-x;
}

.step-on, .step-off, .step-grey {
	padding-top: 10px;
	padding-bottom: 12px;
	font-size: 12px;
	font-weight: bold;
	background:url(j_divider.png) 0 100% repeat-x;
}

.step-off {
	color: #333;
}

.step-on {
	color: #0B55C4;
}

.step-grey {
  color: #a7a7a7
}

.center {
	text-align:center;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}


#right, #warning {
	margin-left: 210px;
}

#rightpad {
	width: 100%;
	float: left;
}

#step {
	margin-bottom: 10px;
}

span.step {
	font-size: 20px;
	line-height: 30px;
	color: #0B55C4;
	font-weight: bold;
	padding-left: 6px;
}

.far-right {
	padding-right: 6px;
	margin-top: 2px;
	float: right;
	text-align: right;
}

.button1-left {
	background:url(j_button1_left.png) no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-right {
	background:url(j_button1_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-left .next {
	float: left;
	background:url(j_button1_next.png) 100% 0 no-repeat;
}

.button1-left a,
.button1-right a {
	display: block;
	height: 26px;
	float: left;
	line-height: 26px;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}

.button1-left a {
	padding: 0 30px 0 6px;
}

.button1-right a {
	padding: 0 6px 0 30px;
}

#installer {
	background: #fff;
}

#installer h2 {
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	color: #333;
	font-weight: bold;
	margin: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.install-text {
	float: left;
	width: 40%;
	color: #444;
}

.install-body {
	float: right;
	width: 58%;
}

.extra-padding {
	padding: 0px;
}

.install-body fieldset {
  padding: 5px;
	margin: 0;
	border: 0;
}

#copyright {
	margin: 10px;
	text-align: center;
}

.Yes, .Writeable {
	font-weight: bold;
	color: #46882B;
}

.No, .Unwriteable {
	font-weight: bold;
	color: #c00;
}

.content       { width: 100%; }
.content .item { width: 50%; }
.content2 .item { width: 30%; }

.license {
  padding: 0px;
  width: 100%;
  height: 500px;
}

.error {
	font-size: 14px;
	font-weight: bold;
	color: #c00;
}

.final-table { width: 100%; }

td em {
	color: #666;
}

div#javascript-warning {
	padding: 1em;
	border: 1px solid #ccc;
	background-color: red;
	margin-bottom: 10px;
	font-size: 18px;
	color: white;
}
/* form limiting stuff */

#theDefault input {

}

/* corners */

div#stepbar {
  background: #f7f7f7;
}

div#installer {
  background: #fff;
}

div#installer div.install-body div.n {
	background: #fbfbfb;

}

div.u, div.c {
  height: 6px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.n {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 8px;
}

div#step div.n {
  padding: 0;
}

div#installer div.n {
  padding-bottom: 1px !important;
  padding-bottom: 0px;
}

div#element-box div.m {
  border: 0;
  padding: 0 !important;
}

div#element-box div.t,
div#element-box div.b {
  height: 0;
  background: none 0 0 repeat-x;
}

div#element-box div.t div.t,
div#element-box div.b div.b {
  background: none 0 0 repeat-x;
}

div#element-box div.t div.t div.t,
div#element-box div.b div.b div.b {
  background: none 0 0 repeat-x;
}

div#stepbar div.u {
  background: url(j_border.png) 0 0 repeat-x;
}

div#stepbar div.u div.u {
   background:url(j_crn_tr_dark.png) 100% 0 no-repeat;
}

div#stepbar div.u div.u div.u {
   background:url(j_crn_tl_dark.png) 0 0 no-repeat;
}

div#stepbar div.c {
  background:url(j_border.png) 0 100% repeat-x;
}

div#stepbar div.c div.c {
   background:url(j_crn_br_dark.png) 100% 0 no-repeat;
}

div#stepbar div.c div.c div.c {
   background:url(j_crn_bl_dark.png) 0 0 no-repeat;
}

div#step,
div#installer div.install-body {
  background: #fbfbfb;
}

div#step div.u,
div#installer div.install-body div.u {
  background:url(j_border.png) 0 0 repeat-x;
}

div#step div.u div.u,
div#installer div.install-body div.u div.u {
   background:url(j_crn_tr_med.png) 100% 0 no-repeat;
}

div#step div.u div.u div.u,
div#installer div.install-body div.u div.u div.u {
   background:url(j_crn_tl_med.png) 0 0 no-repeat;
}

div#step div.c,
div#installer div.install-body div.c {
  background:url(j_border.png) 0 100% repeat-x;
}

div#step div.c div.c,
div#installer div.install-body div.c div.c {
   background:url(j_crn_br_med.png) 100% 0 no-repeat;
}

div#step div.c div.c div.c,
div#installer div.install-body div.c div.c div.c {
   background:url(j_crn_bl_med.png) 0 0 no-repeat;
}

div#installer div.u {
  background:url(j_border.png) 0 0 repeat-x;
}

div#installer div.u div.u {
   background:url(j_crn_tr_light.png) 100% 0 no-repeat;
}

div#installer div.u div.u div.u {
   background:url(j_crn_tl_light.png) 0 0 no-repeat;
}

div#installer div.c {
  background:url(j_border.png) 0 100% repeat-x;
}

div#installer div.c div.c {
   background:url(j_crn_br_light.png) 100% 0 no-repeat;
}

div#installer div.c div.c div.c {
   background:url(j_crn_bl_light.png) 0 0 no-repeat;
}

table.kinstaller {
	text-align: center; 
	border: 1px solid #FFCC99; 
	background: #FFFFCC; 
	padding: 5px; 
	margin: 0 0 20px 20px; 
	clear: both; 
	width: 50em;
}

table.kinstaller-btn {
	border: 1px solid #ccc; 
	background: #F2F2F2; 
	padding: 5px; 
	margin: 0 0 20px 20px; 
	clear: both; 
	width: 50em;
}

.kbutton {
	padding: 10px; 
	text-align: center; 
	font-weight: bold;
	cursor: pointer;
	margin: 15px 0;
}
.kbutton:hover {
	color: #fff;
}
table.kinstaller-btn th {
	font-size: 1.2em;
}
.klarge {
	font-size: 1.5em;
}
.btn-style-green {
	background: #aadd44; 
	border: solid 1px #669900;
}
.btn-style-yellow {
	background: #ffff33; 
	border: solid 1px #888800;
}
.btn-style-red {
	background: #ff7777; 
	border: solid 1px #993333;
}
.btn-style-yellow:hover {
	color: #ff7777;
}



