#community-wrap .jsProfileEvents .event-date div + div {
        padding:0;
        border-top: 1px solid #bbb;
}

#community-wrap .jsProfileEvents .event-date{
        border: 1px solid #bbb;
	width: 42px;
	float: left;
}

#community-wrap .jsProfileEvents .event-date div {
	font: 700 80%/15px Arial,sans-serif;
	padding: 0;
	text-align: center;
        background: #eee;
}

#community-wrap .jsProfileEvents .event-detail {
	margin-left: 50px;
}

#community-wrap .jsProfileEvents li + li {
	border-top: 1px dotted #DDD;
}

#community-wrap .jsProfileEvents li {
	padding: 5px 0;   
	z-index: 0;
}

#community-wrap .jsProfileEvents .profile-event-actions{
	text-align: right;
	margin-top: 10px;
}

#community-wrap .jsProfileEvents .profile-event-actions a + a {
	border-left: 1px solid #000;
	padding-left: 5px;
}

#community-wrap .jsProfileEvents .profile-events-info {
	float:left;
}

#community-wrap .jsProfileEvents  .profile-events-action{
	text-align: right;
	outline:medium none;
	padding:0 5px;
}

#community-wrap .jsProfileEvents .profile-events-action a {
	background:none repeat scroll 0 0 transparent;
	padding-left:10px;
}

#community-wrap .jsProfileEvents .profile-events-footer {
	margin:0;
	border-top:1px solid #DDDDDD;
	font-size:90%;
	padding: 5px 0 0;
	margin: 0;
}