/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

@import url(../../../warp/css/modules.css);


/* Module Badges
----------------------------------------------------------------------------------------------------*/

.module .badge {
	top: -2px;
	right: 20px;
	width: 50px;
	height: 22px;
	background: url(../images/module_badges.png) 0 0 no-repeat;
}
 
.module .badge-hot { background-position: 0 0; }
.module .badge-top { background-position: 0 -25px; }
.module .badge-free { background-position: 0 -50px; }
.module .badge-new { background-position: 0 -75px; }


/* Module Icons
----------------------------------------------------------------------------------------------------*/

.module h3.title .icon { background: url(../../../images/module_icons.png) 0 0 no-repeat; }

.module h3.title .icon-download { background-position: 0 0; }
.module h3.title .icon-twitter { background-position: 0 -30px; }
.module h3.title .icon-mail { background-position: 0 -60px; }
.module h3.title .icon-bubble { background-position: 0 -90px; }
.module h3.title .icon-login { background-position: 0 -120px; }
.module h3.title .icon-cart { background-position: 0 -150px; }


/* Module Headings
----------------------------------------------------------------------------------------------------*/

.module h3.title {
	font-size: 10px;
}


/* Module Type: Line
----------------------------------------------------------------------------------------------------*/

/* horizontal line */
.grid-h .mod-line {
	margin: 0;
	padding: 0 20px;
	background: url(../images/line_dotted_v.png) 0 0 repeat-y;
}
.grid-h:first-child > .mod-line { background: none; }

/* vertical line */
.grid-v .mod-line { margin: 20px 20px 0 20px; }
.grid-v:first-child > .mod-line { margin-top: 0; }

.grid-v .mod-line h3.title {
	margin-bottom: 10px;
	padding: 5px 5px 5px 10px;
	background: #1260A1;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
}

.grid-v .mod-line .badge { top: 3px; right: 3px;}

