/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

@import url(../../../css/tools.css);


/* Buttons (Needed for System Markup)
----------------------------------------------------------------------------------------------------*/

a.button-more {
	border: none;
	background: #1260A1;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #FFF;
	font-size: 12px;
	line-height: 16px;
	text-transform: uppercase;
}

a.button-more:hover { color: #FFF; }

