/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('BebasNeue-webfont.eot?') format('eot'),
		 url('BebasNeue-webfont.woff') format('woff'),
		 url('BebasNeue-webfont.ttf') format('truetype'),
		 url('BebasNeue-webfont.svg#webfontj1CI1MAi') format('svg');
}