/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

/*
@font-face {
	font-family: 'DroidSansRegular';
	src: url('DroidSans-webfont.eot?') format('eot'),
		 url('DroidSans-webfont.woff') format('woff'),
		 url('DroidSans-webfont.ttf') format('truetype'),
		 url('DroidSans-webfont.svg#webfont6rGBoMAO') format('svg');
}

@font-face {
	font-family: 'DroidSansBold';
	src: url('DroidSans-Bold-webfont.eot?') format('eot'),
		 url('DroidSans-Bold-webfont.woff') format('woff'),
		 url('DroidSans-Bold-webfont.ttf') format('truetype'),
		 url('DroidSans-Bold-webfont.svg#webfontSruMVOI5') format('svg');
}
*/