/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

@font-face {
	font-family: 'ExpletusSansRegular';
	src: url('expletussans-regular-webfont.eot?') format('eot'),
		 url('expletussans-regular-webfont.woff') format('woff'),
		 url('expletussans-regular-webfont.ttf') format('truetype'),
		 url('expletussans-regular-webfont.svg#ExpletusSansRegular') format('svg');
}

@font-face {
	font-family: 'ExpletusSansBold';
	src: url('expletussans-bold-webfont.eot?') format('eot'),
		 url('expletussans-bold-webfont.woff') format('woff'),
		 url('expletussans-bold-webfont.ttf') format('truetype'),
		 url('expletussans-bold-webfont.svg#ExpletusSansBold') format('svg');
}
