/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

.menu-dropdown a.level1,
.menu-dropdown span.level1 {
	font-family: "Yanone Kaffeesatz";
	font-size: 20px;
}

.menu-dropdown .level1 .level1 span.title { font-size: 18px; }
.menu-dropdown .level1 .level1 span.subtitle {
	margin-top: 0;
	font-size: 10px;
}

