/* XB */
html, body {
	/* background: url("../../../images/background.green.jpg") no-repeat top, #F7F7F7; */
	background-color: #F7F7F7;
}
/*
html, body {
	background: url("../../../images/background.jpg") no-repeat top, #1362b0;
}
*/