	/* Copyright (C) 2011 Xperts@Work, My420Life Proprietary License */

@import url(../../../warp/css/layout.css);

/* IE */
#sidebar-b { /* sponsors */
		width: 200px;
	}
body #community-wrap #cFrontpageWrapper {
	width: 560px;
}
#top-a .grid-block .module h3.title  {
	/* 
	top: 18px;
	left: 1px;
	*/
}
#cometchat_userstab_popup_rightbar {
	display: none;
	width: 	auto;
	height: 65%;

	overflow: hidden;

	margin: 0;
	padding: 0;
	float: right;
	
	position: relative;
	left: 8px;
	
	background: #ECEFF5;
}
/* IE / */

/****************************************
************* MEDIA SCREEN  ************/

/****** SUPER MONITOR *********/
@media only screen and (min-width: 1445px) {
	#cometchat_userstab_popup_rightbar {
		display: block;
	}
}
/****** BIG MONITOR *********/
@media only screen and (min-width: 1076px) and (max-width: 1444px) {
	#sidebar-b {
		width: 200px;
	}
	body #community-wrap #cFrontpageWrapper {
		width: auto;
	}
	#top-a .grid-block .module h3.title  {
		top: 0px;
	}
	#cometchat_userstab_popup_rightbar {
		display: none;
	}
}
/********* IPAD *************/
@media only screen and (min-width: 981px) and (max-width: 1075px) {
	#sidebar-b {
		width: 200px;		
	}
	body #community-wrap #cFrontpageWrapper {
		width: 560px;
	}
	#top-a .grid-block .module h3.title  {
		top: 0px;
	}
	#cometchat_userstab_popup_rightbar {	
		display: none;
	}
}
/********* iPhone 4S *************/
/* @media only screen and (max-width: 945px) */
@media only screen and (max-width: 980px) {
	#sidebar-b {
		width: 0px;
		height: 0px;
		visibility: hidden;
	}
	body #community-wrap #cFrontpageWrapper {
		width: 460px;
	}
	#community-wrap .cFeed-item .newsfeed-content, .cFeed-item .newsfeed-content {
		left:	95px;
		top:	-40px;
	}
	#top-a {
		width: auto;
	}
	#top-a .grid-block .module h3.title  {
		top:	0px;
		width:	0px;
		height:	0px;
		visibility: hidden;
	}
	#gm_module_results {
		top:	57px;
	}
	#cometchat_userstab_popup_rightbar {	
		display: none;
	}
}
/****************************************
************* MEDIA SCREEN / ***********/

#leftbar_facebook_menu {
	
	position: absolute;
	top:	163px;
	left:	0px;
	width:	134px;
	
	
	/*
	position: relative;
	float: left;
	width: 134px;
	top: 165px;
	*/
	
	z-index:9;
	
}
.guest a.level2.logout {
	display: none;
}

a.level2.logout {
    background: url("/templates/my420life/html/com_community/images/power.white.png") no-repeat scroll 0 50% transparent;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    padding: 7px 7px 0 25px;
    width: 15px;
}

/* XB */
#bottom-a,
#bottom-b,
#innerbottom {
	padding-top: 20px;	
	border-top: 1px solid #ddd;
	
	display:inline;
	
	position:relative;
	/* top: 485px; */
	
	
	background: #F2F2F2;
	
	/* 
	display: none;	
	display: block;	
	display: inline;	
	display: inline-block;	
	display: list-item;	
	display: run-in;	
	display: table;		
	display: table-caption;		
	display: table-cell;		
	display: table-column;	
	display: table-column-group;	
	display: table-footer-group;	
	display: table-header-group;	
	display: table-row;	
	display: table-row-group;	
	display: inherit;
	*/
}

/* XB */
#top-a {	
	border: 1px solid #f1f1f1;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-border-radius:7px;
	position:relative;
	background: #F6F6F6; /* Old browsers */		
}
#top-b {
	border-bottom: 1px solid #ddd;
}

/* XB */
#innerbottom #jSocStats span {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
}
#innerbottom #jSocStats div {
	border-top: 1px solid #94A3C4;
	border-left: 1px solid #94A3C4;
	border-right: 1px solid #94A3C4;
	border-bottom: 1px solid #94A3C4;
    cursor: default;
    display: inline;
    float: left;
    margin:  0 1px;
    padding: 0;
	
	position:relative;
    width: 135px;
	height: 40px
}

/* Spacing
----------------------------------------------------------------------------------------------------*/

/* XB */
.module { 
	/* margin: 5px;	*/
}

#top-b,
#bottom-a,
#bottom-b,
#innerbottom,
#footer { margin: 20px; }

/* XB */
#header { 
	margin-bottom:10px; 
	padding-bottom:30px;
}

#breadcrumbs { margin: 0px 0px 15px 20px }

/* XB */
#innertop {
	margin: 0px;
	height: 0px;
	
	float: right;
	width: 300px;

	position: absolute;
    right: -320px;
    top: -720px;
    width: 250px;

}
#innertopleft {
	float:left;
	max-width:50%;
}
#innertopright {
	float:right;	
	max-width:50%;
}


#breadcrumbs { margin-top: 0; }

/* XB */
#innerbottom { 
	/* margin-bottom: 0; */
	margin-bottom: 255px;
}

#content { 
	margin: 0 0 0 0;
	 
}

/* XB */
#top-a > div,
#top-b > div,
#bottom-a > div,
#bottom-b > div,
#innertop > div,
#innerbottom > div { 
	/* margin: 0 -20px; */
}

#footer .module { margin: 0; }
#yt-l h1 {position: absolute; top: 0px; left: -5000px;}
#headerbar { 
	/* margin: 0 0 10px 0; */	
}

/* System Output Disabled */
#header + #bottom-a,
#header + #bottom-b,
#top-a + #bottom-a,
#top-a + #bottom-b,
#top-b + #bottom-a,
#top-b + #bottom-b {
	padding-top: 0;
	border-top: none;
}

/* Layout
----------------------------------------------------------------------------------------------------*/

/* Menubar */
/* XB */
#menubar {	
	/*background: #0062c5;*/
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	height:39px;	
	overflow: visible;	
	width: 922px;

	/* position: relative; */
}

/* Sidebar Backgrounds */
#sidebar-a,
#sidebar-b { position: relative;}

#sidebar-a { margin: 0px -10px 0px -10px ; }
/* XB */
#sidebar-b { 	
	/* margin: 0px -20px 0px 30px; */	
	/* overflow: hidden; */	
	position: relative;	
	float: right;
	/* right: 25px; */	
	padding-left: 0px;
	top: 80px;	
}

#sidebar-b.videos {
	display: none;
}

.sidebar-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.sidebar-a-right #sidebar-a .sidebar-bg,
.sidebar-b-right #sidebar-b .sidebar-bg { background: url(../images/line_dotted_v.png) 0 0 repeat-y; }

.sidebar-a-left #sidebar-a .sidebar-bg,
.sidebar-b-left #sidebar-b .sidebar-bg { background: url(../images/line_dotted_v.png) 100% 0 repeat-y; }

/* ToTop Scroller */
#totop-scroller {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 20px;
	height: 20px;
	background: #1260A1 url(../images/totop_scroller.png) 50% 7px no-repeat;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
}

