/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

@import url(../../../css/menus.css);


/* Mega Drop-Down Menu
----------------------------------------------------------------------------------------------------*/

/* Level 1 */
/* XB */
.menu-dropdown li.level1 {	
	text-transform:uppercase;
	text-align: center;
	margin-right: 0;
	z-index:9999999999;	
	height:37px;
}

/* XB */
.menu-dropdown a.level1 > span,
.menu-dropdown span.level1 > span { 
	min-width:138px;
	
	font-size:16px;
	padding: 0 5px 0 6px; 
	
	z-index: 1;
	
	text-align:center;	
}

#cities li.level1 {    
    text-transform: uppercase;
	margin-right: 0;
    z-index:999999999;
	
	/* min-width:95px; */
}

.menu-dropdown a.level1,
.menu-dropdown span.level1 {
	background: url(../images/menu_dropdown_item.png) 0 50% no-repeat;
	color: #BBB;
	width: 100%;
}
.menu-dropdown:first-child .level1:first-child .level1 { background: none; }


/* XB */
#cities a.level1,
#cities span.level1 {	
	color: #FFFFFF;
	
	font-weight:bold;
}

/* XB */
#cities a.level1 > span,
#cities span.level1 > span { 
	font-size:16px;
	padding: 0 15px 0 16px; 
	
	z-index: 1;
	
	text-align:center;
	min-width:85px;
}

/* XB */
#cities { 
	background-color:#3B5998;
	
	border:1px;
	border-color:#8FC303;
	border-style:solid;
	
	width:100%;
	max-height:76px;

	top: 20px;
	
	/* background: rgb(0,73,72); /* Old browsers */
	/* background: -moz-linear-gradient(top,  rgba(0,73,72,1) 0%, rgba(46,97,0,1) 17%, rgba(0,138,0,1) 33%, rgba(82,177,82,1) 67%, rgba(131,199,131,1) 83%, rgba(180,221,180,1) 100%); /* FF3.6+ */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,73,72,1)), color-stop(17%,rgba(46,97,0,1)), color-stop(33%,rgba(0,138,0,1)), color-stop(67%,rgba(82,177,82,1)), color-stop(83%,rgba(131,199,131,1)), color-stop(100%,rgba(180,221,180,1))); /* Chrome,Safari4+ */
	/* background: -webkit-linear-gradient(top,  rgba(0,73,72,1) 0%,rgba(46,97,0,1) 17%,rgba(0,138,0,1) 33%,rgba(82,177,82,1) 67%,rgba(131,199,131,1) 83%,rgba(180,221,180,1) 100%); /* Chrome10+,Safari5.1+ */
	/* background: -o-linear-gradient(top,  rgba(0,73,72,1) 0%,rgba(46,97,0,1) 17%,rgba(0,138,0,1) 33%,rgba(82,177,82,1) 67%,rgba(131,199,131,1) 83%,rgba(180,221,180,1) 100%); /* Opera 11.10+ */
	/* background: -ms-linear-gradient(top,  rgba(0,73,72,1) 0%,rgba(46,97,0,1) 17%,rgba(0,138,0,1) 33%,rgba(82,177,82,1) 67%,rgba(131,199,131,1) 83%,rgba(180,221,180,1) 100%); /* IE10+ */
	/* background: linear-gradient(top,  rgba(0,73,72,1) 0%,rgba(46,97,0,1) 17%,rgba(0,138,0,1) 33%,rgba(82,177,82,1) 67%,rgba(131,199,131,1) 83%,rgba(180,221,180,1) 100%); /* W3C */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004948', endColorstr='#b4ddb4',GradientType=0 ); /* IE6-9 */
	
	z-index:99999999;

}

/* XB */
#cities a.level1 > span,
#cities  span.level1 > span { 
	font-size:13px;
	padding: 0 15px 0 16px; 
	
	z-index: -1;
}

/* Set Hover and Active*/
.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain .level1,
.menu-dropdown li.active .level1 { color: #FFF; }

/* Set Hover and Active*/
#cities li.level1:hover .level1,
#cities li.remain .level1,
#cities li.active .level1 { color: #FFF; }

/* Drop-Down */
.menu-dropdown .dropdown { 
	top: 35px; 
}

.menu-dropdown .dropdown,
.menu-dropdown .dropdown-bg > div {
	-moz-border-radius: 4px;
	border-radius: 1px;
	border-bottom: 1px solid #0452A9;
	border-left: 1px solid #0452A9;
	border-right: 1px solid #0452A9;
	background-color: #FFFFFF;
}

/* Level 3 */
.menu-dropdown a.level3 > span,
.menu-dropdown span.level3 > span { 
	background: #FFFFFF url(../images/menu_dropdown_level3.png) no-repeat; 	
}



/* Sidebar/Accordion Menu
----------------------------------------------------------------------------------------------------*/

/* Level 1 */
.menu-sidebar li.parent .level1 > span { background-image: url(../images/menu_sidebar_parent.png); }

/* Level 2-4 */
.menu-sidebar ul a > span {
	background: url(../images/menu_sidebar_level2.png) 0 50% no-repeat;
	padding-left: 15px;
}

