/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

@import url(../../../warp/css/modules.css);

/* IE */

	#community-wrap {
		float: left;
	}
	
	#gm_map_detail_streetview {	
		z-index:999999;
		
		position: relative;
		left: 8px;
	    top: -17px;
	}
	/* XB */
	#gm_map_detail {
		z-index:999999;		
		position:relative;   
	    width: 888px;
	    height: 450px;
	    margin-left: auto;
	    margin-right: auto;	    
	    margin-top:10px;	    
	}
	
	#gm_directions {
		z-index:999999;
	}
	#gm_directions_point {
		z-index:999999;
	}
	/* XB */

	
	#gm_module_results { /* Google Maps */
		width: 	740px;
		height: 405px;
	}
	#gm_module_results_border {
		width: 898px;
		height: 472px;
		overflow: hidden;
		display: block;
	}
	#googlemapsleft {
		position:relative;
		top:	25px;
		width:	118px;
		height:	402px;
		left:	15px;
		float: left;
	}	
	.googlemapsleft_image {
		width:	114px;
		height: 90px;
		padding-bottom: 14px;
	}
	#jrRelatedListings .jrWidget #wrap .jcarousel-skin-tango {
		width: 100%;
	}
	.jcarousel-skin-tango {
		width: 921px;
	}
	#main #maininner div.jr_pgContainer {    
		width: 670px;
	}
	#main #maininner .content div.jr_pgContainer {    
		width: 100%;
	}
	
	
	/* XB */
	#gm_map_outer {
		position: relative;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		border-style: dotted;
		border-width: 0px;
		border-color: #FF0000;		
		display: block;		
	}	
	#gm_map_detail_streetview {	
		z-index:999999;
		
		position: relative;
		left: 8px;
	    top: -17px;
	}
	#gm_directions {
		z-index:999999;
	}
	#gm_directions_point {
		z-index:999999;
	}
/* XB */
	
/* IE / */

/************************
****** MEDIA SCREEN *******
***************************/

/****** BIG MONITOR *********/
@media only screen and (min-width: 1076px) {
	#gm_module_results_border {	
		height:	472px;
		width:	898px;		
	}
	#gm_module_results { /* Google Maps */
		width: 	740px;
		height: 405px;
	}
	#googlemapsleft {
		position:relative;
		top:	46px;
		width:	118px;
		height:	402px;
		left:	15px;
		float: left;
	}
	.googlemapsleft_image {
		width:	114px;
		height: 90px;
		margin-bottom: 14px;
	}
	.jcarousel-skin-tango {
		width: 921px;
	}
	#main #maininner div.jr_pgContainer {    
		/* width: 670px; */
		/* width: 97%; */
		/* overflow: hidden; */
	}
}
/********* IPAD *************/
@media only screen and (min-width: 981px) and (max-width: 1075px) {
	#gm_module_results_border {	
		height:	347px;
		width:	898px;		
	}
	#gm_module_results { /* Google Maps */
		width: 	770px;
		height: 300px;
	}
	#googlemapsleft {
		position:relative;
		top:	37px;
		width:	118px;
		height:	302px;
		left:	15px;
		float: left;
	}
	.googlemapsleft_image {
		width:	88px;
		height: 70px;
		padding-bottom: 4px;
	}
	.jr_tableview #community-wrap.on-my420life {
		height: 		0px;
		visibility: 	hidden;
		padding-top:	0px;
		display: 		none;
	}
	.jcarousel-skin-tango {
		width: 921px;
	}
	#main #maininner div.jr_pgContainer {    
		width: 670px;
	}
}
/********* iPhone 4S *************/
/* @media only screen and (max-width: 945px) */
@media only screen and (max-width: 980px) {
	#gm_module_results_border {			
		width:	1050px;
		height:	450px;
	}
	#gm_module_results { /* Google Maps */
		width:	913px;
		height: 405px;
	}
	#googlemapsleft {
	 	top:	37px;
		width:	118px;
		height:	302px;
		left:	15px;
		float: left;
	}
	.googlemapsleft_image {
		width:	84px;
		height: 66px;
		padding-bottom: 4px;
	}
	.jr_tableview #community-wrap.on-my420life {
		height: 		0px;
		visibility: 	hidden;
		padding-top:	0px;
		display: 		none;
	}
	.jcarousel-skin-tango {
		width: auto;
	}
	#main #maininner div.jr_pgContainer {    
		width: 1050px;
	}
}
/************************
****** MEDIA SCREEN *******
***************************/

/**************************
******* geomaps.css *******
**************************/
/* Hidden container for the infowindow theme */
div.gm_mapInfowindow {
    display:none;
    display:block;
    padding:1px;
    position:relative;
    z-index: 1000;
}

div.gm_infowindow div.overall_ratings { 
	float: left;
	margin: 5px 0;
}            

/*************************************
Callout infowindow 
*************************************/
div.gm_callout {
    background: url(images/map_callout_s.png) no-repeat;
    width:314px;
    height: 240px;
    position:absolute;
    top:100px;
    left:100px;
    z-index: 1000;
}
div.gm_callout .gm_inner {
    margin: 50px 0 0 15px;
    width: 275px;
}
div.gm_callout .gm_close {
    position:relative;
    top:45px;
    right:12px;
    float:right;
}
div.gm_callout .gm_close a {
    color:red;
    font-weight:bold;    
    text-decoration:none;    
}
div.gm_callout .gm_image {
    /*border:1px solid #ccc;*/ 
    padding: 1px;
    float:left;
    display:inline;
    margin-right:3px;
    width:85px;
    height:85px;
    overflow:hidden;    
}
div.gm_callout .gm_inner .gm_image img {width:85px;}
div.gm_callout .gm_content { margin-bottom:5px; }
div.gm_callout .gm_title {
    font-size:13px;
    margin:0;
    display:inline;
    width:90%;
}

/*************************************
Custom infowindow
*************************************/
div.gm_custom {
    width:370px;margin:2px;display:block;
    -moz-border-radius-bottomleft:12px;
    -moz-border-radius-bottomright:12px;
    -moz-border-radius-topleft:12px;
    -moz-border-radius-topright:12px;
    background-color:#FFFFFF;
    border:1px solid #C41200;
    line-height:1.4em;
    max-width:450px;
    min-height:105px;
    padding:10px;
    text-align:left;
    z-index: 1000;
}
div.gm_custom .gm_inner {
    margin: 0;
    width: 360px;
}
div.gm_custom .gm_close {
    position:relative;
    top:-5px;
    right:-5px;
    float:right;
}
div.gm_custom .gm_close a {
    color:red;
    font-weight:bold;    
    text-decoration:none;    
}
div.gm_custom .gm_image {
    /*border:1px solid #ccc;*/ 
    padding: 1px;
    float:left;
    display:inline;
    margin-right:3px;
    width:100px;
    height:100px;
    overflow:hidden;    
}
div.gm_custom .gm_inner .gm_image img {width:100px;}
div.gm_custom .gm_content { margin-bottom:5px; }
div.gm_custom .gm_title {
    font-size:13px;
    margin:0;
    display:inline;
    width:90%;
}

/*************************************
Google infowindow
*************************************/
div.gm_google {}
div.gm_google .gm_inner {}
div.gm_google .gm_image {
    /*border:1px solid #ccc;*/ 
    padding: 1px;
    float:left;
    display:inline;
    margin-right:3px;
    width:50px;
    height:50px;
    overflow:hidden;    
}
div.gm_google .gm_inner .gm_image img {width:50px;}
div.gm_google .gm_content { margin-bottom:5px; }
div.gm_google .gm_title {
    font-size:13px;
    margin:0;
    display:inline;
    width:90%;
}

/*************************************
Google Tabs infowindow
*************************************/
div.gm_google_tabs {}
div.gm_google_tabs .gm_inner {}
div.gm_google_tabs .gm_image {
    /*border:1px solid #ccc;*/ 
    padding: 1px;
    float:left;
    display:inline;
    margin-right:3px;
    width:50px;
    height:50px;
    overflow:hidden;    
}
div.gm_google_tabs .gm_image img {width:50px;}
div.gm_google_tabs .gm_content { margin-bottom:5px; }
div.gm_google_tabs .gm_title {
    font-size:13px;
    margin:0;
    display:inline;
    width:90%;
}

/*************************************
Get directions form and layout
*************************************/
#gm_directions {margin-bottom: 10px;}
#gm_directions .gm_direction_point {
    float: left;
    margin: 0 0 10px 0;
    width: 99%;
	font-size: 13px !important;
}

.gm_direction_input {
	float: left;
	width: 75%;
	margin-right: 10px;
}

.gm_direction_side {
	float: left;
	width: 20%;
	margin-top: 18px;
}


#gm_directions label {
    display: block;
    font-size: 13px;
    font-weight: bold;
}

#gm_directions input {
	font-size: 13px;
	margin-top: 2px;
    padding: 0.1em;
    width: 99%;
	background: #fff;
	color: #444;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa #ccc #ccc #aaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;		
}

#gm_directions input:focus {
	outline: none;
	background: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #777 #aaa #aaa #777;	
}

#gm_directions .floatLeft {
    float: left;
}

#gm_directions .floatRight {
    float: right;
}

select#gm_direction_travelmode {
	padding: 0.1em;
}
 
#get_directions_button {
	margin: 0;
}


/*************************************
Results page map
*************************************/
#gm_map_wrapper {
    border: 1px solid #ccc;
    z-index: 1000;
	right: auto;
}
#gm_map_wrapper.top {
    position: absolute;
	top: 0;
	right: auto !important;
}
#gm_map_wrapper.fixed {
    position: fixed;
	top: 0;
}
#gm_map_wrapper.bottom {
    position: absolute;
	bottom: 5px;
	right: auto !important;
}
#gm_map_results_above {
    border-bottom:1px solid #ccc;
    background-color:#f2f2f2;
	font-size: 13px;
    line-height:16px;
    padding:1px 0px 1px 0px;    
}
#gm_map_results_above a.gm_resizeMap {
    font-weight:bold;
    padding-left:5px;
}
#gm_map_results_above label {
    display:inline-block;
    line-height:18px;
    margin:0 0 0 10px;
    padding:0 4px 0 20px;
    position:relative;   
}
#gm_map_results_above input {
    left:2px;
    margin:0;
    padding:0;
    position:absolute;
    top:2px;
}
#gm_pageScroll {margin-left: 16px;}
#gm_map_results_streetview {
    display:none;
    overflow:hidden;
    background-color:#000;
    color:#fff;
}

/*************************************
Changes to blogview for map column
*************************************/
div#jr_pgResults {
    position:relative;
    display:block;
    width:100%;    
}
div#gm_listingColumn {
    border-right: 1px solid #ccc; 
    padding: 0pt 5px; 
    width: 380px; 
    float: left; 
    display: inline;
}
div#gm_mapColumn {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    float:right;    
}
/*************************************
Module search control
*************************************/
#gm_module_search_container {
    background-color: #fff;
    border: 1px solid #000;
    padding: 4px;    
}
#gm_module_address {
    width:200px;
    margin-right: 5px;
}
/*************************************
Map following disabled for iPad
*************************************/
@media only screen and (device-width: 768px) {
  	#gm_map_wrapper.fixed {
	  position: absolute;
		top: 0;
		right: auto !important;
	}
	#gm_map_wrapper.bottom {
	  position: absolute;
		top: 0;
	}
}
/*************************************
Map following disabled for iPhone
*************************************/
@media only screen and (max-device-width: 480px) {
  	#gm_map_wrapper.fixed {
	  position: absolute;
		top: 0;
		right: auto !important;
	}
	#gm_map_wrapper.bottom {
	  position: absolute;
		top: 0;
	}
}
/**************************
******* geomaps.css *******
**************************/

/* XB */
.indica .fieldGroupTitle, .sativa .fieldGroupTitle,  .hybrid .fieldGroupTitle, .edible .fieldGroupTitle, .concentrate .fieldGroupTitle, .tincture .fieldGroupTitle, .preroll .fieldGroupTitle {
    color: #336600;
    float: left;
    font-family: 'Pacifico',cursive;
    font-size: 24px;
    letter-spacing: 0;
	/* position: relative; */
    text-align: left;
    text-shadow: 1px 0 0 yellow;
    width: 100%;
	height: 50px;    
	
	padding-left:10px;
	padding-top:10px;
}

/* XB */
.module.mod-line.deepest {

	/* min-height:0px; */
	
	/* width:959px; */
	
	/*padding-left: 5px;
	padding-right: 5px;*/
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-border-radius:5px;	
	
	/* position:relative; */
	/* right:27px; */

}

.googlemapsleft_image {
	border: 0;
	margin-top: 0px; 
	margin-bottom: 0px;
}


/* XB */
#gm_module_results_border {
	background: -moz-linear-gradient(left,  rgba(18,53,0,0.7) 0%, rgba(50,101,0,0.88) 45%, rgba(49,100,0,0.88) 46%, rgba(18,53,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(18,53,0,0.7)), color-stop(45%,rgba(50,101,0,0.88)), color-stop(46%,rgba(49,100,0,0.88)), color-stop(100%,rgba(18,53,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(18,53,0,0.7) 0%,rgba(50,101,0,0.88) 45%,rgba(49,100,0,0.88) 46%,rgba(18,53,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(18,53,0,0.7) 0%,rgba(50,101,0,0.88) 45%,rgba(49,100,0,0.88) 46%,rgba(18,53,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(18,53,0,0.7) 0%,rgba(50,101,0,0.88) 45%,rgba(49,100,0,0.88) 46%,rgba(18,53,0,1) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(18,53,0,0.7) 0%,rgba(50,101,0,0.88) 45%,rgba(49,100,0,0.88) 46%,rgba(18,53,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3123500', endColorstr='#123500',GradientType=1 ); /* IE6-9 */	
	
	border:10px;
	border-style:solid;
	border-color:#d1d1d1;

	position:relative;
	top: 0px;
		
}
/***************************************************/
/* XB */
#gm_module_results { /* Google Maps */
	position:relative;
	right: -20px;	
	float:	right;
	top:	48px;
	display: block;
	float: left;
}
/* XB */
#top-a .grid-block .module:first-child h3{	
	font-family: 'Pacifico', cursive;	
	color: #0060F1;
    font-size: 32px;
	text-align:right;
    text-shadow: 1px 0 0 yellow;	
	float:right;
	/* height: 35px; */
	z-index:10;
	position: relative;
	/* left: 530px; */
}

/* XB */
.grid-block .module h3 { /* works with IE */
	font-family: 'Pacifico', cursive;
	color: #0060F1;
    font-size: 34px;
    letter-spacing: 0;

    margin-left: 25px;
    margin-right: 25px;
    min-height: 0;
    padding-left: 25px;
    padding-right: 25px;
    
	position: relative;    
    width: auto;
}
.grid-block .module:first-child h3{
	
	font-family: 'Pacifico', cursive;
	color: #0060F1;
    font-size: 34px;
    letter-spacing: 0;
    
	text-align:center;
    text-shadow: 1px 0 0 yellow;
	
	width: auto;

	
	margin-left: auto;
	margin-right: auto;	
	
	padding-bottom: 5px;
	padding-top: 	5px;	
	
	position:relative;
}


/****************************************/


/* XB */
.grid-block .module:last-child h3{ /* Featured Profiles */
	
	font-family: 'Pacifico', cursive;
	color: #0060f1;
	
    font-size: 32px;
    letter-spacing: 0;    
    margin: 0;
    padding: 0;
	/* padding-top: 15px; */
    
	/* text-align:left; */
    text-shadow: 1px 0 0 yellow;
	
	/* position:relative; */
	/* float:left; */
	/* width:500px; */
	/* width: 100%; */

	text-align: right;

	display: block;
	position: relative;
	top: 0px;

}

/* XB */
#sidebar-b  h3{
	
	font-family: 'Arial';
	
	color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0;    
    margin: 0;
    padding: 0;
    
	text-align:center;
    text-shadow: 0px 0 0 yellow;
	
	position:relative;
	/*float:right;*/	
	width:100%;
	
	top: 0px;
	right:0px;
	
	padding-bottom: 0px;
	padding-top: 	0px;
	
	display:block;    
	
}
/* XB */
.latest_members {
	max-width: 790px;
}


/* Module Badges
----------------------------------------------------------------------------------------------------*/

.module .badge {
	top: -2px;
	right: 20px;
	width: 50px;
	height: 22px;
	background: url(../images/module_badges.png) 0 0 no-repeat;
}
 
.module .badge-hot { background-position: 0 0; }
.module .badge-top { background-position: 0 -25px; }
.module .badge-free { background-position: 0 -50px; }
.module .badge-new { background-position: 0 -75px; }


/* Module Icons
----------------------------------------------------------------------------------------------------*/

.module h3.title .icon { background: url(../../../images/module_icons.png) 0 0 no-repeat; }

.module h3.title .icon-download { background-position: 0 0; }
.module h3.title .icon-twitter { background-position: 0 -30px; }
.module h3.title .icon-mail { background-position: 0 -60px; }
.module h3.title .icon-bubble { background-position: 0 -90px; }
.module h3.title .icon-login { background-position: 0 -120px; }
.module h3.title .icon-cart { background-position: 0 -150px; }


/* Module Type: Line
----------------------------------------------------------------------------------------------------*/

/* horizontal line */
/* XB */
/*
.grid-h .mod-line {
	margin: 0;	
	background: url(../images/line_dotted_v.png) 0 0 repeat-y;
}
*/

/* XB */
.module.mod-line.deepest div div {

	/* background:#eaf1ff; */	
}

/* XB */
.module.mod-line.deepest div div ul {
	
	float:left;
	
	position:relative;
	/* left: 18px; */
	
	border-color:#FFFFFF;
	border-style:solid;
	border-width:2px;
	border-bottom:none;	
	
	background:#eaf1ff;
	background: url("/templates/my420life/images/blue/featured background.png") 0 0 repeat-y repeat-x;
	
	/* top: 65px; */
}

/* XB */
.grid-h .mod-line {		
	
	margin-left:auto;
	margin-right:auto;	
	
	/* background: url('/templates/my420life/images/blue/featured background.png') 0 0 no-repeat; */
	
	width:979px;
	
	padding-left: 25px;
	padding-right: 25px;	
}

/* XB */
.grid-h:first-child > .mod-line { /* blue over Google Maps */
	/*background: none;*/
	
	margin-left:auto;
	margin-right:auto;	
	
	/* background:#eaf1ff; */
	/* border-color:#b2d1ee; */
	/* border-style:solid; */
	/* border-width:2px; */
	/* border-bottom:none; */
	
	width:979px;
	
	/* 
	position:relative;
	bottom:16px;
	height:457px;
	*/
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-border-radius:5px;
}

/* XB */
#gradient_top_a {
	/* 
	margin-left:auto;
	margin-right:auto;
	
	border-color:FF0000;
	border:1px;
	border-style:solid;
	
	position:relative;
	
	z-index:-1;
	
	border-top-left-radius:0em;
	border-top-right-radius:0em;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;

	width: 1000px;
	*/
}

#top-a .grid-block .grid-box .module #gm_module_results_border{	
	margin-left:auto;
	margin-right:auto;
	
	padding-top:7px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	
	position:relative;
	top:-11px;
	right:0px;
	
	width:100%;
	height:407px;
	
	background:#FFFFFF;
	border-color:#afc6dc;	
	border-style:solid;
	border-width:1px;
	border-bottom:none;	
	
}

/* XB */
#top-a .grid-block .grid-box .module #gm_module_results {		/* GeoMaps Google Maps */
	margin-left:auto;
	margin-right:auto;	
	
	position:relative;
	width:935px;
	height:400px;	
	
}

/* XB */
#top-a .grid-block .grid-box .module #gm_module_results .gmnoprint { // Google logo
	/*
	position:relative;
	left:822px;
	*/
	
	float:right;
	border:1px solid #ccc;	
	position: relative;
	/* background-color: #E5E3DF; */
	
background: -moz-linear-gradient(top,  rgba(239,235,226,0.65) 0%, rgba(239,235,226,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,235,226,0.65)), color-stop(100%,rgba(239,235,226,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(239,235,226,0.65) 0%,rgba(239,235,226,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(239,235,226,0.65) 0%,rgba(239,235,226,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(239,235,226,0.65) 0%,rgba(239,235,226,0) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(239,235,226,0.65) 0%,rgba(239,235,226,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6efebe2', endColorstr='#00efebe2',GradientType=0 ); /* IE6-9 */

}

/* XB */
#top-b .grid-block .grid-box .module { /* no enries were found */
	/*background: none;*/
	
	margin-left:auto;
	margin-right:auto;	
	
	background:#eaf1ff;
	border-color:#b2d1ee;
	border-style:solid;
	border-width:1px;
	
	width:auto;
	
	position:relative;
	bottom:0px;
	height:0px;	
}


/* vertical line */
/* XB */
#sidebar-b .grid-v .mod-line { 
	/* margin: 5px 5px 0 5px; */
	margin: 0 0 0 0;
}
.grid-v .mod-line { 
	margin: 20px 20px 0 20px; 
}
.grid-v:first-child > .mod-line { margin-top: 0; }

.grid-v .mod-line h3.title {
	margin-bottom: 10px;
	padding: 5px 5px 5px 10px;
	background: #3B5998;
	/* -moz-border-radius: 4px;
	border-radius: 4px; */
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
}

.grid-v .mod-line .badge { top: 3px; right: 3px;}

