/* Copyright (C) 2007 - 2011 YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

.zoo-comment.bubble-angled-h > ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
}

.zoo-comment.bubble-angled-h > ul > li {
	margin: 0px;
	padding: 0px;
	float: left;
}
.zoo-comment.bubble-angled-h > ul > li:first-child {}
.zoo-comment.bubble-angled-h > ul > li.odd {}
.zoo-comment.bubble-angled-h > ul > li.even {}

.zoo-comment.bubble-angled-h > ul > li.width12 { width: 12.5%; }
.zoo-comment.bubble-angled-h > ul > li.width14 { width: 14.285%; }
.zoo-comment.bubble-angled-h > ul > li.width16 { width: 16.666%; }
.zoo-comment.bubble-angled-h > ul > li.width20 { width: 20%; }
.zoo-comment.bubble-angled-h > ul > li.width25 { width: 25%; }
.zoo-comment.bubble-angled-h > ul > li.width33 { width: 33.33%; }
.zoo-comment.bubble-angled-h > ul > li.width50 { width: 50%; }

.zoo-comment.list-h > ul > li > div {}

/* bubble */
.zoo-comment.bubble-angled-h div.bubble {
	position: relative;
	padding-bottom: 7px;
	overflow: hidden;
}

.zoo-comment.bubble-angled-h div.bubble-arrow {
	position: absolute;
	left: 25px;
	bottom: 2px;
	width: 12px;
	height: 9px;
	background: url(images/bubble_corners.png) 0 -60px no-repeat;
}

.zoo-comment.bubble-angled-h div.bubble-t1 { background: url(images/bubble_corners.png) 0 0 no-repeat; }

.zoo-comment.bubble-angled-h div.bubble-t2 {
	padding: 0px 5px 0px 5px;	
	background: url(images/bubble_corners.png) 100% -10px no-repeat;
}

.zoo-comment.bubble-angled-h div.bubble-t3 {
	height: 5px;
	background: url(images/bubble_corners.png) 0 -20px repeat-x;
}

.zoo-comment.bubble-angled-h div.bubble-1 { background: url(images/bubble_edges.png) 0 0 repeat-y; }

.zoo-comment.bubble-angled-h div.bubble-2 { 
	padding: 0px 5px 0px 5px;
	background: url(images/bubble_edges.png) 100% 0 repeat-y;
}

.zoo-comment.bubble-angled-h div.bubble-3 { 
	padding: 10px;
	background: #ffffff;
	overflow: hidden;
}

.zoo-comment.bubble-angled-h div.bubble-b1 { background: url(images/bubble_corners.png) 0 -30px no-repeat; }

.zoo-comment.bubble-angled-h div.bubble-b2 {
	padding: 0px 5px 0px 5px;	
	background: url(images/bubble_corners.png) 100% -40px no-repeat;
}

.zoo-comment.bubble-angled-h div.bubble-b3 {
	height: 5px;
	background: url(images/bubble_corners.png) 0 -50px repeat-x;
}

/* speaker */
.zoo-comment.bubble-angled-h div.speaker {
	padding-left: 5px;
	overflow: hidden;
}

/* avatar */
.zoo-comment.bubble-angled-h div.avatar {
	display: block;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #c8c8c8;
	background: #ffffff;
	float: left;
}

.zoo-comment.bubble-angled-h div.avatar > * { display: block; }


/* author */
.zoo-comment.bubble-angled-h h3.author {
	margin: 5px 0px 0px 0px;
	font-size: 12px;
	line-height: 18px;
}

.zoo-comment.bubble-angled-h h3.author a {}

/* meta */
.zoo-comment.bubble-angled-h p.meta {
	margin: 0px;
	font-size: 10px;
	color: #969696;
	font-style: italic;
}