table.trendysn {
	font: normal; 
	padding: 3px;
	width:100%;
}
td.trendytext {
	color: #000000;
	font-weight: bold;
	text-align: left;
	padding:0;
	width:50px;
	border: none;
}
td.trendysn {
	text-align: left;
	padding:0;
	border: none;
}
.trendysn {
	color: #000;
}
