<!-- 
Mac Contacts Importer

The following callbacks are called:

function dabiSubmitResult(res);		//Called when result is obtained (res)
function dabiDownloadImporter();	//Called when user chooses to download importer instead
function dabiUnsupportedOS();		//Called when OS is unsupported
function dabiUnsupportedBrowser();	//Called when browser is unsupported

Copyright 2009 Octazen Solutions. All Rights Reserved
WWW: http://www.octazen.com
Email: support@octazen.com
-->
<script type="text/javascript">
var abi_mac_config = "{MAC_CONFIGSTRING}";
</script>	

<div id="abi_mac_applet" style="position:absolute;top:-1000px;left:-1000px;display:inline;width:1px;height:1px;opacity:0;border:solid 1px #ff00ff"></div>

<div id="abi_mac_detecting">
	Please wait ...
</div>

<form name="mac_contacts" method="post">
<textarea id="abi_mac_textarea" name="abi_textarea" cols=80 rows=8 style="display:none"></textarea>

<!-- ActiveX/Applet installed and ready to use ====================================================== -->
<div id="abi_mac" style="display:none">
	<h2>Import Mac AddressBook Contacts</h2>
    
	<input type="button" name="abiMacImportButton" value="Import Contacts" onClick="abiStartMacImport()">
    </div>
</div>


<!-- Unsupported OS ====================================================== -->
<div id="abi_mac_unsupported_os" style="display:none">
	<h2>Not Supported</h2>
	This importer only works on Mac OS X 10.2 or higher with Java support
</div>

<div id="abi_mac_importing"  style="display:none">
	<br/>Importing.... <br/>
    <br/>
    If a popup window appears, click on the "Trust" button.
</div>

<div id="abi_mac_submitting"  style="display:none">
	<br/>Submitting. Please wait ...
</div>
</form>


<script language="javascript">
var abi_readyTimer = null;
function isMac() {return navigator.appVersion.toLowerCase().indexOf("mac")!=-1;}
function HideContent(d) {var ele = document.getElementById(d);if (ele!=null && ele!=undefined) ele.style.display = "none";}
function ShowContent(d) {var ele = document.getElementById(d);if (ele!=null && ele!=undefined) ele.style.display = "block";}
function abiCreateMacApplet() {
	if (!document.ozmacimporter) {
		var e = document.getElementById("abi_mac_applet");
		e.innerHTML = '<applet archive="ozmacimporter.jar" code="octazen/OzMacImporter.class" name="ozmacimporter" id="ozmacimporter" mayscript></applet>';
	}
}
function abiDetectMacAppletReady() {

	if (!document.ozmacimporter || !document.ozmacimporter.isActive()) {
		return;
	}
	clearInterval(abi_readyTimer);
	abi_readyTimer = null;
	
	//Configure & fetch contacts
	document.ozmacimporter.configure(abi_mac_config);	
	var result = document.ozmacimporter.fetchMacContacts();

	//Submit results	
	dabiSubmitResult(result,'mac');
/*	
	HideContent("abi_mac_importing");
	ShowContent("abi_mac_submitting");
	var ta = document.getElementById("abi_mac_textarea");
	ta.value = result;
	ta.form.submit();
*/	
}
function abiStartMacImport() {
	abiCreateMacApplet();
	HideContent("abi_mac");
	ShowContent("abi_mac_importing");
	abi_readyTimer = setInterval('abiDetectMacAppletReady()',100);
}




//Called when page loads. Show appropriate layer depending on OS and browser capability  
function abiMacStart() {
	HideContent("abi_mac_detecting");
	if (isMac()) {
		//Java must be enabled
		if (navigator.javaEnabled()) {
			ShowContent("abi_mac");
			abiStartMacImport();
		}
		else {
			ShowContent("abi_mac_unsupported_os");
		}
	}
	else {
		ShowContent("abi_mac_unsupported_os");
	}
}
</script>

<script type="text/javascript">
//IMPORTANT! We start the script once body finishes loading
window.onload=abiMacStart;
</script>






































