/**
* Overrides for new listing form
*/
div#jr_formDialog button.jrButton { 
    margin: 0px;
} 
div#jr_formDialog .jr_payPrevious button.jrButton,
div#jr_formDialog .jr_payNext button.jrButton {
    padding: 4px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    margin-top:10px;
}
div#jr_listingFormOuter .jr_payPrevious button.jrButton,
div#jr_listingFormOuter .jr_payNext button.jrButton {
    position:relative;
    margin-top: 30px;
    padding:10px;
}                                   
div#jr_listingFormOuter  #jr_paymentForm div.jr_payNext .jrButton {
    float:right;
    right:0;
}
div#jr_listingFormOuter  #jr_paymentForm div.jr_payPrevious .jrButton {
    float:left;
    right:0;
}
div.jr_payNext .jrButton span.ui-icon {
    float:right;
    margin-left:5px;    
}                 
div.jr_payPrevious .jrButton span.ui-icon {
    float:left;
    margin-right:5px;    
}
div#jr_formDialog div.jr_payNext .jrButton {
    right:10px;
}
div#jr_formDialog div.jr_payPrevious .jrButton
{
    left:10px;
}

/**
* My Account
*/
div.jr_myAccount td {
    padding: 10px 0 10px 0 !important;
}
div.jr_myAccount div.listingTitle {
    font-size:14px;
}
div.jr_myAccount div.listingInfo {
    color:#9EA391;
    font-size:0.9em;
}
div.jr_myAccount .contentInfo { margin: 0; }
div.jr_myAccount div.jr_planInfo {
    float:right;
    text-align:left;
    width: auto!important;
}
div.jr_myAccount div.jr_listingManager {
    margin: 0;
}
div.jr_myAccount .contentColumn{
    float: left; 
    margin: 0 20px 0px 0;  
    text-align:center;
}
div.jr_myAccount .contentThumbnail img {
    border: 1px solid #ccc !important;
    margin-right: 5px;
    width: 55px !important;
    height: auto !important;
}

div.jr_myAccount button.jrButton {
    font-weight:normal!important;
    cursor:pointer;
    padding: 5px;
    white-space: nowrap;
}

#jr_accountTabs .ui-tabs-panel {
    font-size: 0.8em;
}

span.jr_planRenewal 
{
    font-size: 1.2em;
    text-transform: uppercase;
}

#orders-incomplete .jr_invoice
{
    font-size:11px;padding:3px;cursor:pointer;margin-top:5px;    
}

/**
* Order labels
*/
.jr_floatRight {
    float:right;
}
.jr_statusTag {
    font-size:9px;
    font-weight:bold;
    margin:0 5px 0 2px;
    padding:0 2px;
    text-align:center;
}    
div.jr_myAccount .jr_subscription  {
    background: #FFB55F;
    border:1px solid #EF8100;
    color:#000000;
} 
div.jr_myAccount .jr_disabled {
    background:#FFAFAF;
    border:1px solid #FF5F5F;
    color:#000000;
}
div.jr_myAccount .jr_expiringSoon {
    background:none repeat scroll 0 0 #9F1313;
    border:1px solid #EF0E0E;
    color:#FFFFFF;
}
div.jr_myAccount .jr_expired {
    background:none repeat scroll 0 0 #BFBFBF;
    border:1px solid #5F5F5F;
    color:#000000;
}

div.jr_myAccount .jr_orderExpired  {
    text-decoration: line-through;
}

/**
* Order tabs
*/
.jr_orderActive {
    background: url(images/jr_published.png) center left no-repeat;
    padding: 0 0 0 14px;
	margin-right: 3px;
    width: 16px;     
    height: 16px;
}
.jr_orderInactive {
    background: url(images/jr_unpublished.png) center left no-repeat; 
    padding: 0 0 0 14px;     
	margin-right: 3px;
    width: 16px;     
    height: 16px;
}

/**
* Order Form
*/
div#jr_formDialog {
    text-align: left;
    font-size: 12px;
    padding: 0.5em 0 0.5em 0.5em;
}

div#jr_formDialog tr, div#jr_formDialog td {border: none;}

div#jr_formDialog h2 {
    font-size:1em;
    font-weight: bold; 
}

div#jr_formDialog h3 {
    font-size:1.2em;
    margin-top:10px;
}

div#jr_formDialog h4 {
    font-size:1.1em;
}

div#jr_formDialog .jr_renewal {
    font-weight:bold;
    padding:3px;
    margin-bottom: 10px;    
}

div#jr_formDialog .jr_renewal span{
    float: left;    
}

div#jr_formDialog .jr_label {
    font-weight:bold;
}

div#jr_formDialog #jr_paymentForm div.jr_stepContent
{
    height: 415px; 
	padding: 0 1em 0 0.5em;
	overflow: auto;
}

div.jr_msgStep {
    color:red;
    position: absolute;
    bottom: 8px;
    margin: 0 15%;
    width: 400px;
    display:none;  
    text-align: center;
}
div#jr_listingFormOuter #jr_paymentForm div.jr_msgStep {
    bottom:0;
    position:relative;
    width:auto;
}
div.jr_planRow {
    border-top: 1px solid #ccc;    
    padding: 5px;
    overflow: hidden;
}
div.jr_planRow div {
    float:left;
    margin-bottom: -2000px; padding-bottom: 2000px; /*equal height div columns*/ 
}
div.jr_planRow .jr_planName {
    width:400px;        
}
div.jr_planRow .jr_planName p {
    font-size: 0.85em;
}
div.jr_planRow div.jr_planPrice {
    float:right;
}
div.jr_planRow div.jr_planPrice span {
    color:green;margin:25% auto;font-size:1.2em;font-weight:bold;    
}

div.jr_planRow div.jr_planSelect {
    float:left;
    margin-right: 10px;    
}

div.jr_payBlock {
    text-align:center;
    display:none;
}

div.jr_payBlock div.jr_payHandler {
    width:100%;
    margin-top: 20px;
}
div.jr_payBlock div.jr_payHandler td {
    vertical-align:middle;
    padding: 5px;
}

.jr_payStep3Msg {
    color:red;float:right;margin: 15px 20px;    
}
table#jr_orderSummary {
    width:100%;line-height:1.6em;margin-top:10px;   
}
table#jr_orderSummary th, table#jr_orderSummary th {
    font-weight:normal; vertical-align:top; text-align:left; padding-right:10px;white-space:nowrap;
}
table#jr_orderTotal {
    float:right;margin:10px 0 20px 0;
}
table#jr_orderTotal td {
    text-align:right;
}
div#jr_couponBox {
    float:right;
    margin-bottom: 20px;
}
div#jr_couponMsgErr {
    display:none;color:red;
}
div#jr_couponMsgSuccess {
    display:none;color:green;    
}     
div#jr_tos {
    border: 1px solid #ccc; 
    padding: 8px 0pt 8px 8px; 
    display: block; 
    overflow-y: auto; 
    overflow-x: hidden; 
    height: 4em; width: 100%; 
    font-size: 11px;   
}
div.jr_tos_msg {
    margin: 20px 5px 0 0;
}
div.jr_tos_msg a {text-decoration:underline;}
div.jr_tos_msg span { font-weight: bold;}

div#jr_orderTotal ul {
    list-style: none;
}

/**
* Category plans
*/
#jr_plansPg .jr_msg {
    padding: 10px;font-size: 1.2em;    
}
#jr_plansPg .jr_planInfo {
    width: 150px;
}
#jr_plansPg .jr_planName {
    font-size: 15px; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;    
}
#jr_plansPg .ui-state-highlight {
    border: 1px solid #FFB900 !important;
}
#jr_plansPg .jr_planPrice {
    color: #000; 
    font-size: 25px;    
    margin: 5px 0 5px 0;
    display:inline-block;
}
#jr_plansPg .price {
    margin-bottom: 5px;
}
#jr_plansPg .duration {
    display:block;
    margin-top: 5px;
    text-align: center;
}
#jr_plansPg .jr_small {
    font-size: 12px;
}
#jr_plansPg .jr_submit {
    margin: 20px 0 10px 0;
    text-align: center;
}
#jr_plansPg .jr_submit a {
    cursor:pointer;padding:5px;text-decoration:none;    
}
#jr_plansPg .jr_planDescription {
    border-top: 1px solid #000; 
    padding-top: 5px; 
    font-size:11px; 
    margin-top: 5px; 
}
#jr_plansPg .jr_planInfo {
    position:relative; 
    margin:0 10px 10px 0; 
    padding: 5px;
    float:left;
    text-align: center;
}

