/* XB */
#jsNotification {
	/* list-style-type: none; */
	/* overflow:visible; */
	/* text-align: center; */
	width: 265px;
	/* margin: 8px auto 10px !important; */
	/* height:20px; */
	/* padding:0; */
	
	position:relative;
	left: 67px;
}
/* XB */
#jsNotification li {
	display:block;
	float:left;
	overflow:visible;
	margin:0 auto;
	text-align:center;
	text-indent:-9999px;
	margin-right:10px;	
	
	/* border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;border:1px solid #ddd; */
}
#jsNotification li a {display:block;position:relative;}
#jsNotification li a:hover {background:none;}
/* XB */
#jsNotification #jslogo {
	background:url('images/logo.png') no-repeat 1px 1px;
	width: 120px;
	height: 33px;
	position:relative;
	right: 150px;
	bottom: 4px;
}
#jsNotification #jsGlobal {
	background:url('images/noti.png') no-repeat 1px 1px;
	width: 26px;
	height: 26px;
}
#jsNotification #jsFriend {
	background:url('images/friend.png') no-repeat 1px 1px;
	width: 26px;
	height: 26px;
}
#jsNotification #jsInbox {
	background:url('images/mail.png') no-repeat 1px 1px;
	margin-right:0px !important;width: 26px;
	height: 26px;
}

#jsNotification li a .notifcount {background-color: #EA0000;position: absolute;left: 6px;top: -6px;height: 14px;min-width: 10px;font-weight: bold;
	line-height: 14px;color: white;text-align: center;text-indent: 0;padding: 0 2px;border-bottom: 1px solid #111;
	display: block;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;overflow: visible;z-index:9999;
}