/* utility classes */
.jr_floatRight {float:right;}
.jr_clearBoth {clear:both;}
.jr_floatLeft {float:left;}
.jr_bold{font-weight:bold;}
.jr_border{border:1px solid #AFAFAF;}
.jr_tabs {font-size:10px !important;} 

div#msg {margin-top:10px;}
div#msg span {font-size:1.25em;}

div.about {
    width:70%;float:left;
    }

div.news {
    width:29%;float:right;
    }
    
.button {
    font-size: 120%;
    padding: 4px;
    border:1px outset #8F8F8F;
    font-weight:bold;
}

                
/* new classes */
#page select option {
	padding-right:10px;	
}
    
/* general purpose description box */
div.admin_description {
	padding: 5px;
	margin: 10px;
	border: 1px solid #ccc;
	line-height:1.25em;
	font-size:110%;
	}
div.admin_description li{
	margin-left: 20px;
}

div.admin_header {
	font-size: 16px; 
    font-weight: bold; 
    color: #0B55C4; 
	background-repeat: no-repeat;
	margin-bottom: 5px;
}

div.admin_filter {
	text-align: left;
	height: 25px;
	font-size: 1.2em;
	margin-bottom: 10px;
}

div.admin_filter input, div.admin_filter select {
    font-size: 1em !important;
    padding: 1px;
}

div.admin_filter .instructions {
	font-size:85%;
}

div.admin_toolbar {
	text-align: right;
	margin-bottom: 10px;
}
                   
#status {
	display:none;
	text-align:center;
	height:25px;
	font-weight:bold;
	font-size:14px;
	color:green;
}

/* Admin table class */
table.admin_list {
	width: 100%;
	border-spacing: 1px;
	border: 1px solid #F0F0F0;
    background-color: #e7e7e7;
	color: #000;
    font-size: 11px !important;
    margin-bottom: 5px;
}

table.admin_list ul, table.admin_list ol {
	margin-left: 15px;
} 

table.admin_list input {
    margin-left: 5px;}
    
table.admin_list input.button {
    padding: 1px;
    font-size:12px}
     
/* XB */
table.admin_list td {
    padding: 2px;
    text-align: left;     
	
	font-size:15px;
}
table.admin_list th { 
    background-color:#F0F0F0; 
    color:#000;
    padding: 4px;
    font-size: 12px;
}

table.admin_list thead th {
	text-align: center;
	background: #fff;
	color: #1F1F1F;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

table.admin_list a {
	font-size:11px;
}

table.admin_list thead a:hover { 
    text-decoration: none; }

table.admin_list thead th img { 
    vertical-align: middle; }

table.admin_list tbody th { 
    font-weight: bold; }

table.admin_list tbody tr { 
    background-color: #fff;  
    text-align: left; }

table.admin_list tbody tr td { 
    height: 25px; 
    border: 1px solid #fff;}

table.admin_list tfoot tr { text-align: center;  color: #333; }
table.admin_list tfoot td,
table.admin_list tfoot th {
    background-color: #f3f3f3; 
    border-top: 1px solid #999; 
    text-align: center;}
    
table.admin_list .admin_note {width: 40%;}    

/* Reviews moderation */
.jr_revType {
	text-align: center;
	border: 1px solid #696969;
	background-color:#FEFFBF;
	font-size: 9px;
	color: #FF4500;
	font-weight: bolder;
}

/* Field_advanced_options */
.advoption_outer {
	background-color:#FEFFBF;
	border: 1px solid #CCC;
}
/*
table.advoptionlist {
	background-color:#FEFFBF;
	border: 1px solid #5F5F5F;
	border-spacing: 0px;
	width: 100%;
	border-collapse: collapse;
	padding: 2px;
}
table.advoptionlist td {
	border-bottom: 1px solid #5F5F5F;
	padding: 4px;
}
*/
.outputformat {
	width: 95%;
	height: 100px;
}
/*--END field_advanced_options --*/

.header-admin {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #CCCCCC;
	background-color: #CCCCCC;
	font-weight: bold;
	clear: right;
	height: 2em;
}


.fix-it {
	background-color:#d1ec4c;
	border:2px outset #d1ec4c;
	color:#000;
	font-size:12px;
	letter-spacing:2px;
	font-weight:bold;
	width:75px;
	height:20px;
}
.fix-it-hover {
	background-color:#e3f48e;
	border:2px inset #d1ec4c;
	color:#000;
	font-size:12px;
	letter-spacing:2px;
	font-weight:bold;
	width:75px;
	height:20px;
	padding-top: 2px;
	padding-right: 2px;
}
.mainbody-box {border: 1px solid #CFCFCF;color: #4F4F4F;}
/* XB */
.mainbody-box td {
	/* font-size: 12px; */
	padding: 3px;
	vertical-align:top;
	font-size: 15px;
}
.mainbody-box th {
	font-size: 12px;
	background-color: #EBEBEB;
	margin: 0;
	border: 1px solid #ccc;
	padding: 3px;
	text-indent: 0px;
	margin-bottom: 2px;
	color: #666;
	cursor: pointer;
	text-align:left;
}
.stats-box-label {text-align:left;border:1px solid #FFF;width:80%;background-color:#F7F7F7;}
.stats-box-value {border:1px solid #CCC;width:20%;text-align:right;background-color:#FFF;}
.install-box-label {text-align:left;padding-top:3px;border:1px solid #FFF;background-color:#F7F7F7;}
.install-box-status {border:1px solid #CCC;text-align:center;background-color:#FFF;width:25px;}
.install-box-info {text-align:left;border:1px solid #FFF;background-color:#F7F7F7;}
.install-box-infoinstall-err {text-align:left;border:1px solid #FFF;color:#FFF;background-color:#BF0000;}
.install-war {color:#000;background-color:#FEFF6F;}
.install-err {color:#FFF;background-color:#BF0000;}
.install-err a {color:#FFF;}
.sidemenu-box {
	background-color:#F7F7F7;
	border: 1px solid #CFCFCF;
	padding-bottom: 2px;
	margin-bottom:5px;
	width:185px;}
.title-box {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0 5px;
	color: #0B55C4;
	margin-bottom: 5px;
}
.sidemenu-box ul {
	padding-left: 13px;
	padding-top: 2px;
	margin-bottom: 1px;
	margin-top: 0px;
	text-align: left;
    text-indent: -1px;
}
.title-menugroup {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}
.title-menu {
	margin: 0;
	border: 1px solid #ccc;
	padding: 3px;
	text-indent: 0px;
	margin-bottom: 2px;
	color: #000;
	cursor: pointer;
	font-size: 10px;
	background-color: #EBEBEB;
    text-transform: uppercase;
}
.title-submenu {
	margin-left: 3px;
	padding-left: 0px;
	padding-bottom: 2px;
}
.title-submenu ul {
	margin-left: 3px;
}
.title-submenu li a {
	font-family: 'Trebuchet MS', 'Lucida Grande',
	  Verdana, Lucida, Geneva, Helvetica,
	  Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	display: block;
	cursor: pointer;
	padding-top: 0px !important;
	padding-top: 5px;	
}
.title-submenu a:hover {
	color: #0B55C4;
}
.stats-module {
	float: left;
	margin-right: 25px;
	padding-left: 10px;
	height: 90px;
	width: 170px;
	background-color: #EFEFEF;
	border: 1px solid red;
	line-height: 1.5em;
}
.stats-module div {
	font-weight: bold;
}
.license_msg {
	font-size: 14px;
	background-color: #FFFBCF;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 5px;
	color: red;
	text-align:left;
	width: 700px;
}

.jr_beta {
    font-size:13px;-webkit-transform: rotate(-10deg);-moz-transform: rotate(-10deg);color:red;font-weight: bold;    
}

/********************************
* Form classes 
*********************************/
/*************************************
FORM CONTAINER- outer box for form
*************************************/
.adminlist.jr_form {
    background-color:none;
    padding:0;
    border:0;
}

.adminlist.jr_form .jr_fieldDiv label {
    display:inline;
}
    
