/**
 * @version		$Id: highcontrast.css 21016 2011-03-24 17:26:08Z infograf768 $
 * @package		Joomla.Administrator
 * @subpackage	templates.bluestork
 * @copyright	Copyright (C) 2005 - 2011 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */


body,
div#sbox-content {
	font-size: 12px;
	font-weight: bold !important;
	color: #FFFFFF;
	background-color: #000000;
}

a:link,
a:visited,
a:active {
	color: #FFFFFF;
	text-decoration:underline;
}

a:hover {
	color: #FFFFFF;
	text-decoration:none;
}


#border-top.h_green          { background: none }
#border-top.h_green div      { background: none }
#border-top.h_green div div   { background: none }

#border-top.h_teal           { background: none }
#border-top.h_teal div       { background: none }
#border-top.h_teal div div   { background: none }

#border-top.h_cherry           { background: none }
#border-top.h_cherry div       { background: none }
#border-top.h_cherry div div   { background: none }

#border-top.h_blue           { background: none }
#border-top.h_blue div       { background: none }
#border-top.h_blue div div   { background: none }



table.adminform {
	background-color: #000;
	/* border: solid 1px #fff; */
}
table.adminform tr.row0 { background-color: #f9f9f9; }
table.adminform tr.row1 { background-color: #000000; }

table.adminform th {
	color: #fff;
}


div#element-box,
div#toolbar-box,
div#element-box div.section-box {
  background: #000;
}

table.admintable td.key,
table.admintable td.paramlist_key {
	background-color: #000;
	color: #fff;

}
#batch-access,
#batch-category-id,
#filter_search,
.filter-search button,
input.text-area-order,
.filter-select .inputbox,
.batch button,
#limit,
.adminformlist select,
.adminformlist input,
.adminformlist textarea,
.adminformlist input.readonly,
#jform_id,
#batch-menu-id,
#upload-file,
#upload-submit,
#folderview input#folderpath,
#foldername,
#folderview button,
.panelform textarea,
.panelform select,
.panelform input,
.panelform button,
.contentpane button,
.adminform button,
.adminform textarea,
.adminform input,
.adminform select   {
	background-color: #000;
	color: #fff;
	font-weight: bold;
}
.filter-search button:hover {
	background-color: #383838;
}
div.current span.spacer > span.text label, 
fieldset.adminform span.spacer > span.text label, 
fieldset.panelform span.spacer > span.text label {
	color: #fff;
}
div.toolbar-list a:hover,
div.toolbar-list a:focus, 
div.toolbar-list a:active {
	color: #fff;
}


#border-bottom div,
#border-bottom { background: none }
#border-bottom div div 	{ background: none; height: 11px; }


legend    {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
div.header {
	color: #fff;
}

/* ---- Menu layout -------------------------- */

#header-box  { border: 1px solid #ccc; background: #000000; }

#menu li {
	border-left: 1px solid #fff;
	border-right: 1px solid #d8d8d8;
}
#menu li li { border: 0;}

#menu ul    { border: 0.1em solid #ccc; background: #000 ;font-weight: bold !important;}
#menu ul li.node { background: transparent url(../images/j_arrow.png) no-repeat right 50%; font-weight: bold !important;}
#menu ul li.separator { background: #000 url(../images/bg-menu.gif);  height: 1px;  }

#menu a, #menu div {
	color: #ffffff;
	font-weight: bold !important;
}

#menu a:hover {
	color: #000;
	font-weight: bold !important;
}


#menu li.disabled a { color: #fff; }


/* 1 level - hover */
#menu li.hover a {  color:000; background-color: #e8e8e8; border-left: 1px solid #025a8d;  border-right:1px solid #025a8d; margin: 0; font-weight: bold !important;}
/* 2 level - normal */
#menu li.hover li a { color:000;  background-color: transparent; border: 0 none; margin: 2px;  font-weight: bold !important;}
/* 2 level - hover */
#menu li.hover li.hover a { color:000; background-color: #e8e8e8; border: 1px solid #025a8d;  margin: 1px;  font-weight: bold !important; }
/* 3 level - normal */
#menu li.hover li.hover li a { color:000; background-color: transparent; border: 0 none;   margin: 2px;font-weight: bold !important;  }
/* 3 level - hover */
#menu li.hover li.hover li a:hover { color:000; background-color: #e8e8e8; border: 1px solid #025a8d;  margin: 1px; font-weight: bold !important; }


#submenu-box { background: #000; margin-bottom: 10px; }

#submenu li a,
#submenu span.nolink {
	color: #fff;
}

#submenu span.nolink {
	color: #999;
}

#submenu a.active,
#submenu span.nolink.active {
	color: #fff;
}

table.adminlist {
	background-color: #000;
	color: #fff;
}

table.adminlist thead th {
	background: #000;
	color: #fff;
}

table.adminlist tbody tr			{ background-color: #000;   }
table.adminlist tbody tr.row1 	{ background: #000;  }

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td  { background-color: #000 ; }

table.adminlist tbody tr td 	   { background: #000; }
table.adminlist tbody tr.row1 td { background: #000;  }

table.adminlist tfoot tr {  color: #fff; }
table.adminlist tfoot td,
table.adminlist tfoot th { background-color: #000;  }

/* Panels */
.pane-sliders .panel h3 { background: #000; color: #fff}
.pane-sliders .content { background: #000; }
.pane-sliders .title { color: #fff; }

#permissions-sliders ul#rules li h3.pane-toggler-down {
	color: #fff;
}
#permissions-sliders ul#rules .panel h3 ,
#permissions-sliders ul#rules, #permissions-sliders ul#rules ul,
#permissions-sliders ul#rules .mypanel,
div#position-icon.pane-sliders .icon {
	background: none repeat scroll 0 0 #000;
}
#permissions-sliders ul#rules table.group-rules th {
	background: none repeat scroll 0 0 #383838;
	color: #fff;
}

/* Tool tips */
.tip {
	background: none repeat scroll 0 0 #000;
	border: 1px solid #D4D5AA;
	color: #fff;
}
.tip-title {
	/* To do. New dark image */
	/* background: url("../images/selector-arrow-contrast.png") no-repeat scroll 0 0 transparent; */
}

#cpanel div.icon a {
	border: 1px solid #f0f0f0;
	color: #fff;
	background: #000;
}

#cpanel div.icon a:hover {
	color: #fff;
	background: #000;
}

#content-box {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	background: #000;
}

div#element-box div.m,
div#toolbar-box div.m,
div#submenu-box div.m,
form#weblink-form fieldset,
form#item-form fieldset,
fieldset.batch,
tr.row1,
div.width-30 fieldset,
div.width-35 fieldset,
div.width-40 fieldset,
div.width-45 fieldset,
div.width-50 fieldset,
div.width-55 fieldset,
div.width-60 fieldset,
div.width-65 fieldset,
div.width-70 fieldset,
div.width-100 fieldset {
	background-color: #000;
}

table.adminlist thead th {
	border-right: 1px solid #fff;
}
table.adminlist {
border-top: 1px solid #fff;
}

div#submenu-box div.t div.t {
   background: url(../images/j_crn_tr_black.png) 100% 0 no-repeat;
}

div#submenu-box div.t div.t div.t {
   background: url(../images/j_crn_tl_black.png) 0 0 no-repeat;
}

div#submenu-box div.b div.b {
   background: url(../images/j_crn_br_black.png) 100% 0 no-repeat;
}

div#submenu-box div.b div.b div.b {
   background: url(../images/j_crn_bl_black.png) 0 0 no-repeat;
}


div#toolbar-box div.t div.t,
div#element-box div.section-box div.t div.t {
   background: url(../images/j_crn_tr_black.png) 100% 0 no-repeat;
}

div#toolbar-box div.t div.t div.t,
div#element-box div.section-box div.t div.t div.t {
   background: url(../images/j_crn_tl_black.png) 0 0 no-repeat;
}
div#toolbar-box div.b div.b,
div#element-box div.section-box div.b div.b {
   background: url(../images/j_crn_br_black.png) 100% 0 no-repeat;
}

div#toolbar-box div.b div.b div.b,
div#element-box div.section-box div.b div.b div.b {
   background: url(../images/j_crn_bl_black.png) 0 0 no-repeat;
}

div#element-box div.t div.t {
   background: url(../images/j_crn_tr_black.png) 100% 0 no-repeat;
}

div#element-box div.t div.t div.t {
   background: url(../images/j_crn_tl_black.png) 0 0 no-repeat;
}

div#element-box div.b div.b {
   background: url(../images/j_crn_br_black.png) 100% 0 no-repeat;
}

div#element-box div.b div.b div.b {
   background: url(../images/j_crn_bl_black.png) 0 0 no-repeat;
}

.mooTree_selected {
	background-color:#999999 !important;
}

/* System Standard Messages */
#system-message dd.message ul { background: #000 url(../images/notice-info.png) 4px center no-repeat;}

/* System Error Messages */
#system-message dd.error ul { color: #fff; background: #000 url(../images/notice-alert.png) 4px top no-repeat; border-top: 3px solid #666; border-bottom: 3px solid #666;}

/* System Notice Messages */
#system-message dd.notice ul { color: #fff; background: #000 url(../images/notice-note.png) 4px top no-repeat; border-top: 3px solid #666; border-bottom: 3px solid #666;}

#system-message dd ul {
	color:#fff;

}


#menu li.disabled a {
	color:#acacac;
}
div.pagetitle h2 {
	color:#FFF;
}

.button2-left a,
.button2-right a {
	color:#000;

}
.pane-toggler a,
.pane-toggler-down a {
	text-decoration:none;
}
#submenu a:hover, #submenu a.active, #submenu span.nolink.active,
table#acl-config th  {
	background:none repeat scroll 0 0 #000000;
}
div.toolbar-list a  {
	border:1px solid #000;
}

#folderframe,
#mediamanager-form,
body.contentpane,
.manager {
	background: #000;
}
