/**
 * @version		$Id: ie7.css 20742 2011-02-17 16:26:27Z infograf768 $
 * @package		Joomla.Administrator
 * @subpackage	templates.bluestork
 * @copyright	Copyright (C) 2005 - 2011 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */


/* IE7 OVERRIDES */

input {
	border-width: expression(this.type == "radio" ? '0px' : this.type == "checkbox" ?
		'0px' : '1px');
}

/* Accessibility: css in template.css for slider keyboard
 * has to be reversed here or the mouse does not work for ie */
.pane-toggler + div {
	display: block;
}

#toolbar-box m {
	height: 50px;
	padding-left: 10px;
}

div.toolbar-list span {
	margin: 0px;
	position: relative
}

div.toolbar-list a {
	position: relative;
}

div#subheader {
	height: 2em;
}

#form-login .button_holder {
/* width: 35%; */
	}

#login-page .pagetitle h2 {
	margin: 0px;
	padding: 0px;
}

*:first-child+html .clearfix {
	min-height: 1px;
}

.menu-links li,
.menu-links li label {
	height: 2em;
}

div.article-edit,
div.category-edit {
	zoom: 1;
}

div.pane-sliders,
div.panel,
div.pane-slider,
div.rules-section,
div.mypanel,
div.containerpg,
div.pagination,
div.upload-queue {
	zoom: 1;
}

div.width-20 fieldset.adminform, div.width-30 fieldset.adminform, div.width-35 fieldset.adminform, div.width-40 fieldset.adminform, 
div.width-45 fieldset.adminform, div.width-50 fieldset.adminform, div.width-55 fieldset.adminform, div.width-60 fieldset.adminform,
div.width-65 fieldset.adminform, div.width-70 fieldset.adminform, div.width-80 fieldset.adminform, div.width-100 fieldset.adminform {
	zoom: 1;
	margin-bottom:10px;
}

div.toggle-editor {
	margin-top: -5px;
	margin-bottom: 5px;
}

table.adminlist {
	border-bottom-width: 1px;
}

div.current dd {
	width: 100%;
	position: relative;
}

div.current ul.menu-links {
	zoom: 1;
	width: 25%;
	margin: 0;
	padding:0;
	list-style-position: inside;
}
input.readonly {
	
	border: 0 !important;
	
}

div#position-icon.pane-sliders div.pane-down div.icon-wrapper {
	margin: 0;
}

div.pagetitle {
	height: auto;
}

div.pagetitle h2 {
	min-height: 48px;
}

fieldset.panelform fieldset.checkboxes.impunlimited {
	float:none;
	width: 170px;
}

