/* Copyright (C) 2011 Xperts@Work, My420Life Proprietary License */

@import url(../../../warp/css/layout.css);


/* Spacing
----------------------------------------------------------------------------------------------------*/

.module { margin: 15px; }

#top-b,
#bottom-a,
#bottom-b,
#innerbottom,
#footer { margin: 20px; }

#header { margin-bottom:10px; }

#breadcrumbs { margin: 0px 0px 15px 20px }

#innertop {margin: 0px}


#breadcrumbs { margin-top: 0; }
#innerbottom { margin-bottom: 0; }

#content { margin: 0px; }

#top-a > div,
#top-b > div,
#bottom-a > div,
#bottom-b > div,
#innertop > div,
#innerbottom > div { margin: 0 -20px; }

#top-a {
	margin: 10px 0 20px 0px;
	background: #1260A1;
	padding:20px;
	border: 1px solid #CCC;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-border-radius:10px; 
}
#top-b
{
	border-bottom: 1px solid #ddd;
}

#bottom-a,
#bottom-b,
#innerbottom {
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

#footer .module { margin: 0; }
#yt-l h1 {position: absolute; top: 0px; left: -5000px;}
#headerbar { margin: 0 0 10px 0; }

/* System Output Disabled */
#header + #bottom-a,
#header + #bottom-b,
#top-a + #bottom-a,
#top-a + #bottom-b,
#top-b + #bottom-a,
#top-b + #bottom-b {
	padding-top: 0;
	border-top: none;
}

/* Layout
----------------------------------------------------------------------------------------------------*/

/* Menubar */
#menubar {
	padding: 5px 5px 5px 5px;
	background: #1260a1;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Search */
#search { margin: 3px 3px 0 0; }

/* Sidebar Backgrounds */
#sidebar-a,
#sidebar-b { position: relative;}

#sidebar-a { margin: 0px -10px 0px -10px ; }
#sidebar-b { margin: 0px -20px 0px 30px;}

.sidebar-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.sidebar-a-right #sidebar-a .sidebar-bg,
.sidebar-b-right #sidebar-b .sidebar-bg { background: url(../images/line_dotted_v.png) 0 0 repeat-y; }

.sidebar-a-left #sidebar-a .sidebar-bg,
.sidebar-b-left #sidebar-b .sidebar-bg { background: url(../images/line_dotted_v.png) 100% 0 repeat-y; }

/* ToTop Scroller */
#totop-scroller {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 20px;
	height: 20px;
	background: #1260A1 url(../images/totop_scroller.png) 50% 7px no-repeat;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
}

