/* Copyright 2011 My420Life LLC, My420Life Proprietary Use License */

/*
 * Tabs Box
 */

.tabs-box {
	border: 1px solid #C8C8C8;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

/* Navigation */
.tabs-box ul.nav {
	list-style: none;
	margin: 0;
	padding: 3px 5px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #C9C9C9;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background: #F0F0F0;
	background: -moz-linear-gradient(
					50% 0%,
					#f5f5f5 0%,
					#e6e6e6 100%
				);
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #f5f5f5),
					color-stop(100%, #e6e6e6)
				);
	overflow: hidden;
}

.tabs-box ul.nav li {
	margin: 4px 5px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	float: left;
}

.tabs-box ul.nav li a {
	display: block;
	padding: 0 10px;
	height: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	float: left;
	line-height: 25px;
	font-size: 12px;
	color: #646464;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	cursor: pointer;
}

.tabs-box ul.nav li:hover {
	padding: 1px;
	background: #AAA;
	background: -moz-linear-gradient(
					50% 0%,
					#D7D7D7 0%,
					#AAA 100%
				);
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #D7D7D7),
					color-stop(100%, #AAA)
				);
}

.tabs-box ul.nav li:hover a {
	height: 20px;
	padding: 0 8px;
	border: 1px solid #FFF;
	background: #F5F5F5;
	background: -moz-linear-gradient(
					50% 0%,
					#F5F5F5 0%,
					#E6E6E6 100%
				);
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #F5F5F5),
					color-stop(100%, #E6E6E6)
				);
	line-height: 21px;
}

.tabs-box ul.nav li:active {
	padding: 1px;
	background: #C8C8C8;
	background: -moz-linear-gradient(
					50% 0%,
					#B4B4B4 0%,
					#C8C8C8 100%
				);
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #B4B4B4),
					color-stop(100%, #C8C8C8)
				);
}

.tabs-box ul.nav li:active a {
	height: 22px;
	padding: 0 9px;
	border: none;
	background: #E6E6E6;
	background: -moz-linear-gradient(
					50% 0%,
					#DCDCDC 0%,
					#E6E6E6 10%
				);
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(00%, #DCDCDC),
					color-stop(10%, #E6E6E6)
				);
	line-height: 25px;
	color: #323232;
}

.tabs-box ul.nav li.active {
	padding: 0 0 1px 0;
	background: #fff;
}

.tabs-box ul.nav li.active a {
	height: 23px;
	padding: 0 10px;
	border: none;
	background: #64696E;
	background: -moz-linear-gradient(
					50% 0%,
					#32373C 0%,
					#50555A 5%,
					#64696E 30%,
					#7D8287 100%
				);
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(0%, #32373C),
					color-stop(5%, #50555A),
					color-stop(30%, #64696E),
					color-stop(100%, #7D8287)
				);
	line-height: 24px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	cursor: default;
}

/* Content */
.tabs-box ul.content,
.tabs-box ul.properties {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs-box ul.content {
	padding: 15px;
	font-size: 13px;
}

.tabs-box ul.content a { font-size: 13px; } /* WordPress */

.tabs-box ul.content input[type='text'],
.tabs-box ul.content input[type='password'],
.tabs-box ul.content select,
.tabs-box ul.content textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 220px;
	padding: 3px;
	border: 1px solid #D2D2D2;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
}

.tabs-box ul.content input[type='text'].short,
.tabs-box ul.content input[type='password'].short { width: 50px; }

.tabs-box ul.content textarea {
	height: 200px;
	width: 300px;
}

.tabs-box ul.content input[type='text']:focus,
.tabs-box ul.content input[type='password']:focus,
.tabs-box ul.content select:focus,
.tabs-box ul.content textarea:focus { background: #FFFFDD; }

/* Properties */
.tabs-box ul.properties > li {
	margin-top: 10px;
	line-height: 20px;
	overflow: hidden;
}
.tabs-box ul.properties > li:first-child { margin-top: 0; }

.tabs-box ul.properties .label {
	width: 200px;
	padding: 4px 5px 0 0;
	float: left;
	line-height: 18px;
}

.tabs-box ul.properties .field {
	float: left;
	font-size: 12px;
}

.tabs-box ul.properties > li > input.ignore {
	margin: 5px 10px 0px 0px;
	float: left;
	display: block;
}

.tabs-box ul.properties > li.ignore .label,
.tabs-box ul.properties > li.ignore .field {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.tabs-box ul.properties .description {
	padding: 2px 0 0 30px;
	overflow: hidden;
	font-size: 12px;
	line-height: 18px;
	color: #AAA;
	font-style: italic;
}

.tabs-box.small-screen ul.properties .description {
	padding: 5px 0 0 0;
	clear: both;
}

.tabs-box ul.properties > li.separator {
	height: 33px;
	margin: 15px -15px;
	border-top: 1px solid #D2D2D2;
	border-bottom: 1px solid #D2D2D2;
	background: #F0F0F0;
	background: -moz-linear-gradient(
					50% 0%,
					#FFF 4%,
					#FAFAFA 5%,
					#F0F0F0 100%
				);
	background: -webkit-gradient( 
					linear,
					50% 0%,
					50% 100%,
					color-stop(4%, #FFF),
					color-stop(5%, #FAFAFA),
					color-stop(100%, #F0F0F0)
				);
	line-height: 34px;
	text-indent: 15px;
	color: #787878;
	text-shadow: 0 1px 0 #fff;
	text-transform: uppercase;
}

/* Properties */
.tabs-box ul.verify {
	list-style: disc;
	margin: 10px 0 0 0;
	padding-left: 20px;
	font-size: 10px;
	line-height: 12px;
}

.tabs-box ul.verify li.missing { color: #FF0000; }


/*
 * Profile
 */

#profile {
	display: inline-block;
	position: relative;
}

#profile > a {
	margin-left: 3px;
	padding-left: 6px;
	border-left: 1px solid #c8c8c8;
}
#profile > a.add { border: none; }

#profile div.items {
	display: none;
	position: absolute;
	right: 0;
	z-index: 1;
}

#profile.default .rename,
#profile.default .remove { display: none; }

