/* Copyright (C) 2007 - 2011 YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

.zoo-comment.list-h > ul {
	margin: 0px -10px 0px -10px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
}

.zoo-comment.list-h > ul > li {
	margin: 0px;
	padding: 0px;
	background: url(images/line_dotted_v.png) 0 0 repeat-y;
	float: left;
	overflow: hidden;
}
.zoo-comment.list-h > ul > li:first-child { background: none; }
.zoo-comment.list-h > ul > li.odd {}
.zoo-comment.list-h > ul > li.even {}

.zoo-comment.list-h > ul > li.width12 { width: 12.5%; }
.zoo-comment.list-h > ul > li.width14 { width: 14.285%; }
.zoo-comment.list-h > ul > li.width16 { width: 16.666%; }
.zoo-comment.list-h > ul > li.width20 { width: 20%; }
.zoo-comment.list-h > ul > li.width25 { width: 25%; }
.zoo-comment.list-h > ul > li.width33 { width: 33.33%; }
.zoo-comment.list-h > ul > li.width50 { width: 50%; }

.zoo-comment.list-h > ul > li > div { padding: 0px 10px 0px 10px; }

/* avatar */
.zoo-comment.list-h div.avatar {
	margin: 4px 10px 0px 0px;
	float: left;
}
.zoo-comment.list-h div.avatar > * { display: block; }

/* author */
.zoo-comment.list-h h3.author {
	margin: 0px;
	font-size: 12px;
	line-height: 18px;
}

.zoo-comment.list-h h3.author a {}

/* meta */
.zoo-comment.list-h p.meta {
	margin: 0px;
	font-size: 11px;
	color: #969696;
	line-height: 13px;
	font-style: italic;
}

/* content */
.zoo-comment.list-h p.content { margin: 5px 0px 0px 0px; }