/*
 * imgAreaSelect default style
 */

#community-wrap .imgareaselect-border1,
.imgareaselect-border1 {
	background: url(border-v.gif) repeat-y left top;
}

#community-wrap .imgareaselect-border2,
.imgareaselect-border2 {
    background: url(border-h.gif) repeat-x left top;
}

#community-wrap .imgareaselect-border3,
.imgareaselect-border3 {
    background: url(border-v.gif) repeat-y right top;
}

#community-wrap .imgareaselect-border4,
.imgareaselect-border4 {
    background: url(border-h.gif) repeat-x left bottom;
}

#community-wrap .imgareaselect-border1, #community-wrap .imgareaselect-border2,
#community-wrap .imgareaselect-border3, #community-wrap .imgareaselect-border4,
.imgareaselect-border1, .imgareaselect-border2, .imgareaselect-border3, .imgareaselect-border4 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#community-wrap .imgareaselect-handle,
.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#community-wrap .imgareaselect-outer,
.imgareaselect-outer {
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#community-wrap .imgareaselect-selection,
.imgareaselect-selection {  
}