/* Copyright (C) 2007 - 2011 YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * layout
 */

#yoo-zoo .row,
#yoo-zoo .floatbox { overflow: hidden; }

#yoo-zoo .width20 {
	float: left;
	width: 19.999%;
}

#yoo-zoo .width25 {
	float: left;
	width: 24.999%;
}

#yoo-zoo .width33 {
	float: left;
	width: 33.333%;
}

#yoo-zoo .width50 {
	float: left;
	width: 49.999%;
}
 
/*
 * alpha-index
 */

#yoo-zoo .alpha-index {
	height: 25px;
	margin-bottom: 10px;
	overflow: hidden;
}

#yoo-zoo .alpha-index a,
#yoo-zoo .alpha-index span {
	display: block;
	width: 21px;
	height: 25px;
	background: url(../images/alpha_index_item.png) 100% 50% no-repeat;
	float: left;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
}
#yoo-zoo .alpha-index :last-child { background: none; }

#yoo-zoo .alpha-index a:link,
#yoo-zoo .alpha-index a:visited {
	color: #646464;
	text-decoration: none;
}

#yoo-zoo .alpha-index a:hover {
	color: #000000;
	text-decoration: underline;
}

#yoo-zoo .alpha-index span {
	color: #C8C8C8;
	cursor: default;
}

/*
 * details
 */
 
#yoo-zoo .details {
	margin: 0px 0px 20px 0px;
	padding: 10px;
	border: 1px solid #C8C9CA;
}

#yoo-zoo .details h1.title {
	margin: 0px;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: normal;
}

#yoo-zoo .details div.description {
	margin-top: 10px;
	overflow: hidden;
}

#yoo-zoo .details.alignment-center { text-align: center; }

#yoo-zoo .details.alignment-left .image {
	margin-right: 15px;
	float: left;
}

#yoo-zoo .details.alignment-right .image {
	margin-left: 15px;
	float: right;
}

#yoo-zoo .details.alignment-center .image {
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

/*
 * categories
 */

#yoo-zoo .categories {
	margin: 0px -10px 0px -10px;
	overflow: hidden;
}

#yoo-zoo .categories .category { padding: 0px 10px 20px 10px; }

#yoo-zoo .categories h2.title {
	height: 28px;
	margin: 0px 0px 5px 0px;
	border: 1px solid #C8C9CA;
	line-height: 29px;
	text-indent: 7px;
	font-size: 17px;
	font-weight: normal;
	overflow: hidden;
}

#yoo-zoo .categories h2.title a { text-decoration: none; }

#yoo-zoo .categories h2.title span {
	font-size: 13px;
	font-weight: normal;
	color: #969696;
}

#yoo-zoo .categories div.description {
	margin-bottom: 5px;
	padding-left: 7px;
}

#yoo-zoo .categories a.teaser-image {
	display: block;
	margin-bottom: 5px;
	text-align: center;
}

#yoo-zoo .categories ul.sub-categories {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#yoo-zoo .categories ul.sub-categories li { text-indent: 10px; }

#yoo-zoo .categories ul.sub-categories span {
	color: #969696;
	font-size: 11px;
}

/*
 * items
 */

#yoo-zoo .items { margin: 0px -7px 0px -7px; }

#yoo-zoo .items-separator {
	padding-top: 20px;
	border-top: 1px solid #D2D3D4;
}

#yoo-zoo .items .row { padding-bottom: 15px; }

#yoo-zoo .items div.teaser-item {
	padding: 0px 7px 0px 7px;
	overflow: hidden;
}

/* position: media */
#yoo-zoo .items div.pos-media { border: 6px solid #F0F1F2; }

#yoo-zoo .items div.pos-media > * {
	border: 1px solid #D2D3D4;
	background: #ffffff;
}
#yoo-zoo .items div.pos-media > a,
#yoo-zoo .items div.pos-media > a > img { display: block; }

#yoo-zoo .items div.media-left {
	margin-right: 15px;
	float: left;
}

#yoo-zoo .items div.media-right {
	margin-left: 15px;
	float: right;
}

#yoo-zoo .items div.media-center { text-align: center; }
#yoo-zoo .items div.media-center > * { display: block; }

/* position: title */
#yoo-zoo .items h2.pos-title {
	margin: 0px;
	font-size: 17px;
	font-weight: normal;
}

#yoo-zoo .items h2.pos-title a { text-decoration: none; }

/* position: subtitle */
#yoo-zoo .items p.pos-subtitle {
	margin: 0px;
	font-style: italic;
}

/* position: description */
#yoo-zoo .items div.pos-description {}
#yoo-zoo .items div.pos-description .element { margin-top: 7px; }

/* element type: textarea */
#yoo-zoo .items div.pos-description .element-textarea > * { margin: 0px 0px 7px 0px; }
#yoo-zoo .items div.pos-description .element-textarea *:last-child { margin-bottom: 0px; }

/* position: links */
#yoo-zoo .items p.pos-links { margin: 7px 0px 0px 0px; }

#yoo-zoo .items p.pos-links span a:after {
	content: " »";
	font-size: 14px;
}

/*
 * pagination
 */
 
#yoo-zoo .pagination {
	padding-top: 5px;
	border-top: 1px solid #D2D3D4;
	text-align: center;
}

#yoo-zoo .pagination div.pagination-bg {
	display: inline-block;
	cursor: pointer;
}

#yoo-zoo .pagination a { text-decoration: none; }