/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

/* XB */
@import url(http://fonts.googleapis.com/css?family=Pacifico);

@import url(../warp/css/base.css);

/* New style-related Base Values
----------------------------------------------------------------------------------------------------*/

/* XB */
body {
	/* font: normal 14px/18px DroidSansRegular, Sans-serif, Arial; */
	font: normal 14px DroidSansRegular, Sans-serif, Arial;
	color: #000;
	
	/* height: 100%; */
}

/* XB */
html, body {
	height: 100%;

}

.separator {
	height: 10px;
}

/* XB */
#absolute {
	min-height: 600px;
	width: 179px;
	padding: 20px 0 0 2px;
	word-wrap: break-word;
	position: relative;
	float: left;
}

/* XB */
#toolbar.blue{
	border-bottom: 1px solid #133783;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
    height: 37px;
    
	
	/* width: 100%; */
	
	background-color: #3B5998;
	
	/* min-width: 1197px; 
	right: 215px;
	*/
	position: relative;	
	
	width: 1025px;
	right: 50px;
		
	
}

/* FACEBOOK RIGHTBAR */

/* XB */
/*
.module .wall  {		
	position: absolute;
	top: 25px;
	
	background-clip: padding-box;
    background-color: #F2F4F8;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 2px 0 2px -2px #B2B9C9 inset;     
    
	scrollbar-base-color: #919295;
	
	height: 65%;
	width: 210px;
	
	overflow:scroll;
	
	position: fixed !important;	
}
*/

/* XB */
.module .wall ul {
	background-color: #ECEFF5;
	/* position: absolute; */
	top: 0px;
	width: 200px;
	margin-left: 0px;
	padding-right: 15px;
	padding-left: 9px;
}


.module .wall .cFeed-item .newsfeed-avatar {
    float: left;
    width: 50px;
}

.module .wall ul li {
	background-color: transparent;
    border-bottom-color: transparent;
    border-top-color: #D8DFEA;
    /* line-height: 13px; */
    padding-right: 5px;
}

.wall .cDetailList {
	position: relative;
	right: 200px;
}

/* XB */ 
.module .wall .cFeed-item .newsfeed-avatar, .module .wall .cFeed-item .newsfeed-avatar {
    float: left;    
    position: relative;
    top: 0px;
    width: 25px;
	
	/* min-height: 158px; */	
	
}

/* XB */
.module .wall .cFeed-item .newsfeed-content, .module .wall .cFeed-item .newsfeed-content {
    border-bottom: 0px solid #94A3C4;
    border-radius: 0px 0px 0px 0px;
    border-right: 0px solid #94A3C4;
    border-top: 0px solid #94A3C4;
    float: right;        
	
	width: 185px;
	
	margin-bottom: 3px;
	/* min-height: 100px; */
	
    position: relative;
    /* right: 28px; */
    top: -5px;	
}


/* XB */
a { 
	color: #1260A1; 
}

a:hover,
em, code { color: #f1524c; }

a:hover { text-decoration: none; }

ins, mark { background-color: #ffa; }
mark { color: #1260A1; }

hr { border-top-color: #1260A1; }

pre {
	border: 1px solid #b4bb15;
	background: #1260a1;
}

::-moz-selection { background: #39e; color: #fff; }
::selection { background: #39e; color: #fff; }


/* Useful Snippets
----------------------------------------------------------------------------------------------------*/

a:not([class]):active,
a:not([class]):focus {
	position: relative;
	top: 1px;
}

a:not([class]):active > *,
a:not([class]):focus > * {
	position: ø
relative;
	top: -1px;
}
