/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

/*
 * Custom Style Sheet - Use this file to style your content
 */
 /* XB */
#maininner{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;	   
	position:relative;
	top: 10px;
	float: none;	
}

#myDiv {
	display:none;	
}

#main {	
    margin: 0;
    padding: 0;    
    top: 10px;
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    float: left;
    
    width: 100%;

}

#main.guest {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
	height: 0px;
}
