/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

@import url(../warp/css/menus.css);

/* Sidebar/Accordion Menu
----------------------------------------------------------------------------------------------------*/
/* Current */
.menu-sidebar a.current {  /* XB */
	font-weight: bold; 
	background: #D8DFEA;
}
/* Icons */
.menu-sidebar span.icon { 
	margin-right: 4px; 
	
	max-width: 28px;
	max-height: 28px;
}

/* Dispensaries
----------------------------------------------------------------------------------------------------*/
.menu-dropdown a.level2 { 
	height: 40px;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    padding: 7px 0 0 65px;
    width: 185px;
}

/* Dispensaries */
.menu-dropdown a.level2.item955 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-52px 
	 ;	
}
/* Doctors */
.menu-dropdown a.level2.item583 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-874px 
	 ;
}
/* Attorneys */
.menu-dropdown a.level2.item950 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-1355px 
	 ;    
}
/* Hydroponics */
.menu-dropdown a.level2.item953 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-1255px 
	 ;
}
/* Bail Bonds */
.menu-dropdown a.level2.item951 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-1310px  
	 ;
}
/* Smoke Shops */
.menu-dropdown a.level2.item952 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-1130px 
	 ;
}

/* Smokey */
.menu-dropdown a.level2.item537 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-1470px 
	 ;
}
/* Norml */
.menu-dropdown a.level2.item549 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-1418px 
	 ;
}
/* Norml Weekly */
.menu-dropdown a.level2.item550 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-1519px
	 ;
}

/* Profile */
.menu-dropdown a.level2.item657 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-100px
	 ;
}
/* Videos */
.menu-dropdown a.level2.item587 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-286px 
	 ;
}
/* Forums */
.menu-dropdown a.level2.item601 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-240px 
	 ;
}
/* Photos */
.menu-dropdown a.level2.item588 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-52px 
	 ;
}
/* Events */
.menu-dropdown a.level2.item589 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-384px 
	 ;
}
/* Events */
.menu-dropdown a.level2.item876 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-384px 
	 ;
}

/* Ads -> Profile */
.menu-dropdown a.level2.item889 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-384px 
	 ;
}
/* Ads -> Contents */
.menu-dropdown a.level2.item888 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-384px 
	 ;
}
/* Ads -> Rules */
.menu-dropdown a.level2.item890 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-384px 
	 ;
}
/* Ads -> Write Ad */
.menu-dropdown a.level2.item892 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-384px 
	 ;
}
/* Ads -> Advanced Search */
.menu-dropdown a.level2.item891 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-384px 
	 ;
}
/* Ads -> Ads */
.menu-dropdown a.level2.item893 {
    background: #FFFFFF url("../../../images/menu_images/megaspritemap.png") no-repeat scroll 0 
	-384px 
	 ;
}


/* Events */
.menu-dropdown a.level2.logout {
    background: #FFFFFF url("../../../templates/my420life/html/com_community/images/power.png") no-repeat scroll 0 	
	 ;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    padding: 7px 0 0 65px;
    width: 185px;
}




/* Mega Drop-Down Menu
----------------------------------------------------------------------------------------------------*/

/* Level 1 */
.menu-dropdown { 
	/* margin-bottom: -11px; */
 }

/* XB */
.menu-dropdown li.level1 {
	margin-right: 10px;
	/*  padding-bottom: 11px; */	
	/* padding-botton: 9px; */
}

.menu-dropdown a.level1,
.menu-dropdown span.level1 { color: #777; }

.menu-dropdown a.level1 > span,
.menu-dropdown span.level1 > span {
	height: 30px;
	/* line-height: 30px; */
}

/* Set Hover and Active */
.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain .level1,
.menu-dropdown li.active .level1 { color: #444; }

/* Drop-Down */
.menu-dropdown .dropdown {
	top: 35px;
	border-top: 1px solid #DDD;
}

.menu-dropdown .dropdown-bg > div {
	padding: 5px;
	border: 1px solid #DDD;
	border-top: none;
	background: #fff;
}

/* Level 2 */
.menu-dropdown li.level2 { 
	margin: 0 5px;
	border-top: 1px solid #ddd;
}
.menu-dropdown li.level2:first-child { 
	/* border: none; */ 
}

.menu-dropdown a.level2,
.menu-dropdown span.level2 { color: #444; }

/* Set Hover */
.menu-dropdown a.level2:hover { color: #d50; }

/* Set Current */
.menu-dropdown a.current.level2 { font-weight: bold; } 

/* Level 3 */
.menu-dropdown a.level3 > span,
.menu-dropdown span.level3 > span {
	padding-left: 15px;
	background: #FFFFFF url(../images/menu_dropdown_level3.png) 0 50% no-repeat;
}

/* Set Hover */
.menu-dropdown a.level3:hover { color: #d50; }

/* Set Current */
.menu-dropdown a.current.level3 { font-weight: bold; } 

/* Icons */
.menu-dropdown .level1 .level1 span.icon {
	width: 30px;
	height: 30px;
	margin-left: -5px;
}
.menu-dropdown .level1 .level1 span.icon + span,
.menu-dropdown .level1 .level1 span.icon + span + span { margin-left: 25px; }

.menu-dropdown li.level2 .level2 span.icon { margin-right: 4px; }

.menu-dropdown li.level2 .level2 span.icon + span,
.menu-dropdown li.level2 .level2 span.icon + span + span { margin-left: 39px; }

/* Subtitles */
.menu-dropdown .level1 .level1 span.title { line-height: 18px; }
.menu-dropdown .level1 .level1 span.subtitle { margin-top: -1px; }


/* Sidebar/Accordion Menu
----------------------------------------------------------------------------------------------------*/

/* Link */
.menu-sidebar a,
.menu-sidebar li > span { color: #444; }

/* Hover */
.menu-sidebar a:hover,
.menu-sidebar li > span:hover { color: #d50; }

/* Level 1 */
.menu-sidebar li.level1 { border-top: 1px solid #ddd; }
.menu-sidebar li.level1:first-child { border-top: none; }

.menu-sidebar li.parent .level1 > span { background: #D8DFEA url(../images/menu_sidebar_parent.png) 100% 0 no-repeat; }
.menu-sidebar li.parent.active .level1 > span { background-position: 100% -100px; }

/* Level 2-4 */
.menu-sidebar ul.level2 ul { padding-left: 10px; }

/* Icons */
.menu-sidebar span.icon { margin-right: 4px; }


/* Line Menu
----------------------------------------------------------------------------------------------------*/

.menu-line li {
	margin-left: 7px;
	padding-left: 8px;
	background: #FFFFFF url(../images/menu_line_item.png) 0 50% no-repeat;
}
	
.menu-line li:first-child {
	margin-left: 0;
	padding-left: 0;
	background: none;
}


