/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

@import url(../warp/css/rtl.css);


/* Layout
----------------------------------------------------------------------------------------------------*/

.sidebar-a-right #sidebar-a .sidebar-bg,
.sidebar-b-right #sidebar-b .sidebar-bg { border-width: 0 1px 0 0; }

.sidebar-a-left #sidebar-a .sidebar-bg,
.sidebar-b-left #sidebar-b .sidebar-bg { border-width: 0 0 0 1px; }

#totop-scroller {
	right: auto;
	left: 0;
}


/* Menus
----------------------------------------------------------------------------------------------------*/

/* Mega Drop-Down Menu */
.menu-dropdown li.level1 {
	margin-right: 0;
	margin-left: 10px;
}

.menu-dropdown a.level3 > span,
.menu-dropdown span.level3 > span {
	padding-left: 0;
	padding-right: 15px;
	background-image: url(../images/rtl/menu_dropdown_level3.png);
	background-position: 100% 50%;
}

.menu-dropdown .level1 .level1 span.icon {
	margin-left: 0;
	margin-right: -5px;
}
.menu-dropdown .level1 .level1 span.icon + span,
.menu-dropdown .level1 .level1 span.icon + span + span {
	margin-left: 0;
	margin-right: 25px;
}

.menu-dropdown li.level2 .level2 span.icon {
	margin-right: 0;
	margin-left: 4px;
}

.menu-dropdown li.level2 .level2 span.icon + span,
.menu-dropdown li.level2 .level2 span.icon + span + span {
	margin-left: 0;
	margin-right: 39px;
}

/* Sidebar/Accordion Menu */
.menu-sidebar li.parent .level1 > span {
	background-image: url(../images/rtl/menu_sidebar_parent.png);
	background-position: 0 0;
}
.menu-sidebar li.parent.active .level1 > span { background-position: 0 -100px; }

.menu-sidebar ul.level2 ul {
	padding-left: 0;
	padding-right: 11px;
}

.menu-sidebar ul a > span {
	padding-left: 0;
	padding-right: 15px;
	background-image: url(../images/rtl/menu_sidebar_level2.png);
	background-position: 100% 50%;
}

.menu-sidebar span.icon {
	margin-right: 0;
	margin-left: 4px;
}

/* Line Menu */
.menu-line li {
	margin-left: 0;
	padding-left: 0;
	margin-right: 7px;
	padding-right: 8px;
	background-position: 100% 50%;
}

.menu-line li:first-child {
	margin-right: 0;
	padding-right: 0;
}


/* Modules
----------------------------------------------------------------------------------------------------*/

.mod-line .badge {
	right: auto;
	left: 20px;
}

.grid-h .mod-line { border-width: 0 1px 0 0; }
.grid-h:first-child > .mod-line { border: none; }

.grid-v .mod-line .badge {
	right: auto;
	left: 0;
}


/* Tools
----------------------------------------------------------------------------------------------------*/

/* Check List */
ul.check > li {
	padding-left: 0;
	padding-right: 30px;
	background-position: 100% 0;
}

/* Definition Lists */
dl.separator dd { border-width: 0 1px 0 0; }

dl.separator dt:before {
	right: auto;
	left: -15px;
}

dl.separator dt:after {
	right: auto;
	left: -3px;
}


/* System
----------------------------------------------------------------------------------------------------*/

/* Search Box */
#searchbox { background-position: 100% 50%; }

#searchbox .results {
	right: auto;
	left: -1px;
}

/* Breadcrumbs */
.breadcrumbs a,
.breadcrumbs > span {
	padding-right: 0;
	padding-left: 15px;
	background-image: url(../images/rtl/breadcrumbs.png);
	background-position: 0 50%;
}

