/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

@import url(../warp/css/system.css);
@import url(../warp/systems/joomla.1.6/css/system.css);
@import url(system-all.css);


/* Items (Addition)
----------------------------------------------------------------------------------------------------*/
 
#system .items .leading .item {
	padding-bottom: 12px;
	margin-bottom: 18px;
	border-bottom: 1px solid #ddd;
}


/* Item List
----------------------------------------------------------------------------------------------------*/

#system .item-list { border-top: 1px solid #ddd; }


/* Search
----------------------------------------------------------------------------------------------------*/

#system span.highlight { background-color: #ffffaa; }