/* Copyright (C) 2011 My420Life LLC, My420Life Proprietary Use License */

/* General
----------------------------------------------------------------------------------------------------*/

#system .title a { color: #9CA11B; }

#system small { color: #999; }


/* Item
----------------------------------------------------------------------------------------------------*/

#system .item > header .meta { color: #999; }

#system .item > header .subtitle{ color: #777; }

#system .item > .links a:after {
	content: " »";
	font-size: 16px;
}


/* Items
----------------------------------------------------------------------------------------------------*/

#system .items .item {
	margin-top: 12px;
	padding-top: 18px;
	border-top: 1px solid #ddd;
}

#system .items .item:first-child {
	margin-top: 0;
	padding-top: 0;
	border: none;
}


/* Pagination
----------------------------------------------------------------------------------------------------*/

#system .pagination a,
#system .pagination strong { border: 1px solid #ddd; }


/* Search Box
----------------------------------------------------------------------------------------------------*/

#searchbox {
	width: 100px;
	height: 30px;
	padding: 0 25px;
	border: 1px solid #ddd;
	background: url(../images/searchbox_magnifier.png) 0 50% no-repeat;
}


#searchbox input {
	height: 30px;
	color: #333;
	font-size: 14px;
}

#searchbox input:-moz-placeholder { color: #999; }
#searchbox input::-webkit-input-placeholder { color: #999; }
#searchbox input.placeholder { color: #999; }

#searchbox.filled button {
	width: 25px;
	background: url(../images/searchbox_reset.png) 50% 50% no-repeat; 
}
#searchbox.loading button { background: url(../images/searchbox_loader.gif) 50% 50% no-repeat; }

/* Drop-Down Results */
/* XB */
#searchbox .results {
	top: 42px;
	right: -1px;
	width: 300px;
	border: 1px solid #ddd;
	background: #ffffff;
	

}

#searchbox .results li.results-header { border-bottom: 1px solid #ddd; }
#searchbox .results li.more-results { border-top: 1px solid #ddd; }
#searchbox .results li.result { border-top: 1px solid #eee; }
#searchbox .results li.results-header + li.result { border-top: none; }

/* XB */
#searchbox .results li.result.selected { 	
	/* background-color: #fafafa;*/
	
background: -moz-linear-gradient(top,  rgba(180,221,180,1) 0%, rgba(0,138,0,0.66) 6%, rgba(0,138,0,0.55) 36%, rgba(131,199,131,0.53) 60%, rgba(131,199,131,0.53) 71%, rgba(131,199,131,0.55) 73%, rgba(131,199,131,0.66) 83%, rgba(180,221,180,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(6%,rgba(0,138,0,0.66)), color-stop(36%,rgba(0,138,0,0.55)), color-stop(60%,rgba(131,199,131,0.53)), color-stop(71%,rgba(131,199,131,0.53)), color-stop(73%,rgba(131,199,131,0.55)), color-stop(83%,rgba(131,199,131,0.66)), color-stop(100%,rgba(180,221,180,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(0,138,0,0.66) 6%,rgba(0,138,0,0.55) 36%,rgba(131,199,131,0.53) 60%,rgba(131,199,131,0.53) 71%,rgba(131,199,131,0.55) 73%,rgba(131,199,131,0.66) 83%,rgba(180,221,180,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(0,138,0,0.66) 6%,rgba(0,138,0,0.55) 36%,rgba(131,199,131,0.53) 60%,rgba(131,199,131,0.53) 71%,rgba(131,199,131,0.55) 73%,rgba(131,199,131,0.66) 83%,rgba(180,221,180,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(0,138,0,0.66) 6%,rgba(0,138,0,0.55) 36%,rgba(131,199,131,0.53) 60%,rgba(131,199,131,0.53) 71%,rgba(131,199,131,0.55) 73%,rgba(131,199,131,0.66) 83%,rgba(180,221,180,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(180,221,180,1) 0%,rgba(0,138,0,0.66) 6%,rgba(0,138,0,0.55) 36%,rgba(131,199,131,0.53) 60%,rgba(131,199,131,0.53) 71%,rgba(131,199,131,0.55) 73%,rgba(131,199,131,0.66) 83%,rgba(180,221,180,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#b4ddb4',GradientType=0 ); /* IE6-9 */

}


/* Breadcrumbs
----------------------------------------------------------------------------------------------------*/

.breadcrumbs a,
.breadcrumbs > span {
	padding-right: 20px;
	background: url(../../jreviews_overrides/views/themes/my420life/theme_css/images/breadcrumb.png) 100% 50% no-repeat;
}

