/* Copyright (C) 2007 - 2011 YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * layout
 */

#yoo-zoo .row,
#yoo-zoo .floatbox { overflow: hidden; }

#yoo-zoo .width20 {
	float: left;
	width: 19.999%;
}

#yoo-zoo .width25 {
	float: left;
	width: 24.999%;
}

#yoo-zoo .width33 {
	float: left;
	width: 33.333%;
}

#yoo-zoo .width50 {
	float: left;
	width: 49.999%;
}
 
/*
 * alpha-index
 */

#yoo-zoo .alpha-index {
	height: 35px;
	padding: 0px 0px 0px 15px;
	background: url(../images/alpha_index_bg.png) 0 0 repeat-x;
	overflow: hidden;
}

#yoo-zoo .alpha-index a,
#yoo-zoo .alpha-index span {
	display: block;
	width: 21px;
	height: 35px;
	float: left;
	font-size: 12px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
}

#yoo-zoo .alpha-index a:link,
#yoo-zoo .alpha-index a:visited {
	color: #646464;
	text-decoration: none;
}

#yoo-zoo .alpha-index a:hover {
	background: url(../images/alpha_index_item_hover.png) 0 1px no-repeat;
	color: #000000;
	text-decoration: none;
}

#yoo-zoo .alpha-index span {
	color: #C8C8C8;
	cursor: default;
}

/*
 * view details
 */
 
#yoo-zoo .details {
	margin: 0px 0px 20px 0px;
	overflow: hidden;
}

#yoo-zoo .details h1.title {
	height: 35px;
	margin: 0px;
	background: url(../images/header_bg.png) 0 0 repeat-x;
	overflow: hidden;
	font-size: 17px;
	text-indent: 15px;
	font-weight: normal;
	color: #505050;
	line-height: 38px;
	text-align: left;
}

#yoo-zoo .details span.subtitle { color: #787878; }

#yoo-zoo .details div.description {
	margin-top: 10px;
	padding: 0px 10px 0px 10px;
	overflow: hidden;
}

#yoo-zoo .details.alignment-center { text-align: center; }

#yoo-zoo .details.alignment-left .image {
	margin-right: 15px;
	float: left;
}

#yoo-zoo .details.alignment-right .image {
	margin-left: 15px;
	float: right;
}

#yoo-zoo .details.alignment-center .image {
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

/*
 * categories
 */

#yoo-zoo .categories {
	margin: 0px -10px 20px -10px;
	overflow: hidden;
}

#yoo-zoo .categories div.row { padding-top: 15px; }
#yoo-zoo .categories div.first-row { padding-top: 0px; }

#yoo-zoo .categories .category {
	margin: 0px 10px 0px 10px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #DCDCDC;
	border-bottom: 1px solid #96A6B2;
	background: #ffffff url(../images/category_bg.png) 0 100% repeat-x;
}

#yoo-zoo .categories h2.title {
	margin: 0px;
	font-size: 15px;
	line-height: 24px;
	font-weight: bold;
}

#yoo-zoo .categories h2.title a { text-decoration: none; }

#yoo-zoo .categories h2.title span {
	font-size: 12px;
	font-weight: normal;
	color: #969696;
}

#yoo-zoo .categories a.teaser-image {
	display: block;
	margin: 10px 0px 0px 0px;
	text-align: center;
}

#yoo-zoo .categories p.sub-categories { margin: 10px 0px 0px 0px; }

#yoo-zoo .categories p.sub-categories span {
	color: #646464;
	font-size: 11px;
}

/*
 * items
 */

#yoo-zoo .items {
	margin: 0px 0px 20px 0px;
	overflow: hidden;
}

#yoo-zoo .items h1.title {
	height: 35px;
	margin: 0px;
	background: url(../images/header_bg.png) 0 0 repeat-x;
	overflow: hidden;
	font-size: 17px;
	text-indent: 15px;
	font-weight: normal;
	color: #505050;
	line-height: 38px;
}

#yoo-zoo .items span.subtitle { color: #787878; }

#yoo-zoo .items div.row {
	padding: 15px 5px 15px 5px;
	background: url(../images/item_bg.png) 0 0 repeat-x;
}

#yoo-zoo .items div.first-row { background-position: 0 -1px; }

#yoo-zoo .items div.teaser-item {
	padding: 0px 10px 0px 10px;
	overflow: hidden;
}

/* position: media */
#yoo-zoo .items div.pos-media .element { margin-bottom: 15px; }

#yoo-zoo .items div.media-left {
	margin-right: 15px;
	float: left;
}

#yoo-zoo .items div.media-right {
	margin-left: 15px;
	float: right;
}

#yoo-zoo .items div.media-center { text-align: center; }

/* position: title */
#yoo-zoo .items h2.pos-title {
	margin: 0px;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
}

#yoo-zoo .items h2.pos-title a { text-decoration: none; }

/* position: meta */
#yoo-zoo .items p.pos-meta {
	margin: 0px 0px 5px 0px;
	font-size: 11px;
	line-height: 13px;
	font-style: italic;
	color: #969696;
}

/* position: specification */
#yoo-zoo .items ul.pos-specification {
	list-style: none;
	margin: 5px 0px 0px 0px;
	padding: 0px;
}

/* position: button */
#yoo-zoo .items div.pos-button {
	margin: 7px 0px 0px 0px;
	overflow: hidden;
}

/*
 * pagination
 */
 
#yoo-zoo .pagination { text-align: center; }

#yoo-zoo .pagination div.pagination-bg {
	display: inline-block;
	cursor: pointer;
}

#yoo-zoo .pagination a { text-decoration: none; }